@font-face {
    font-family: 'Panton';
    src: url('Panton-SemiBold.woff2') format('woff2'),
    url('Panton-SemiBold.woff') format('woff'),
    url('Panton-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('Panton-ExtraBold.woff2') format('woff2'),
    url('Panton-ExtraBold.woff') format('woff'),
    url('Panton-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('Panton-Regular.woff2') format('woff2'),
    url('Panton-Regular.woff') format('woff'),
    url('Panton-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('Panton-Bold.woff2') format('woff2'),
    url('Panton-Bold.woff') format('woff'),
    url('Panton-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('Panton-BlackItalic.woff2') format('woff2'),
    url('Panton-BlackItalic.woff') format('woff'),
    url('Panton-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

