@font-face {
    font-family: "Circe";
    src: url("../fonts/shum/Circe-Light.eot");
    src: url("../fonts/shum/Circe-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/Circe-Light.woff2") format("woff2"),
    url("../fonts/shum/Circe-Light.woff") format("woff"),
    url("../fonts/shum/Circe-Light.ttf") format("truetype"),
    url("../fonts/shum/Circe-Light.svg#Circe") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/shum/Circe-Regular.eot");
    src: url("../fonts/shum/Circe-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/Circe-Regular.woff2") format("woff2"),
    url("../fonts/shum/Circe-Regular.woff") format("woff"),
    url("../fonts/shum/Circe-Regular.ttf") format("truetype"),
    url("../fonts/shum/Circe-Regular.svg#Circe") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/shum/Circe-Bold.eot");
    src: url("../fonts/shum/Circe-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/Circe-Bold.woff2") format("woff2"),
    url("../fonts/shum/Circe-Bold.woff") format("woff"),
    url("../fonts/shum/Circe-Bold.ttf") format("truetype"),
    url("../fonts/shum/Circe-Bold.svg#Circe") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/shum/Circe-ExtraBold.eot");
    src: url("../fonts/shum/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/Circe-ExtraBold.woff2") format("woff2"),
    url("../fonts/shum/Circe-ExtraBold.woff") format("woff"),
    url("../fonts/shum/Circe-ExtraBold.ttf") format("truetype"),
    url("../fonts/shum/Circe-ExtraBold.svg#Circe") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/shum/GothamPro.eot");
    src: url("../fonts/shum/GothamPro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/GothamPro.woff2") format("woff2"),
    url("../fonts/shum/GothamPro.woff") format("woff"),
    url("../fonts/shum/GothamPro.ttf") format("truetype"),
    url("../fonts/shum/GothamPro.svg#GothamPro") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/shum/GothamPro-Medium.eot");
    src: url("../fonts/shum/GothamPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/GothamPro-Medium.woff2") format("woff2"),
    url("../fonts/shum/GothamPro-Medium.woff") format("woff"),
    url("../fonts/shum/GothamPro-Medium.ttf") format("truetype"),
    url("../fonts/shum/GothamPro-Medium.svg#GothamPro") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/shum/GothamPro-Bold.eot");
    src: url("../fonts/shum/GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/GothamPro-Bold.woff2") format("woff2"),
    url("../fonts/shum/GothamPro-Bold.woff") format("woff"),
    url("../fonts/shum/GothamPro-Bold.ttf") format("truetype"),
    url("../fonts/shum/GothamPro-Bold.svg#GothamPro") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/shum/GothamPro-Black.eot");
    src: url("../fonts/shum/GothamPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/GothamPro-Black.woff2") format("woff2"),
    url("../fonts/shum/GothamPro-Black.woff") format("woff"),
    url("../fonts/shum/GothamPro-Black.ttf") format("truetype"),
    url("../fonts/shum/GothamPro-Black.svg#GothamPro") format("svg");
    font-weight: 900;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: "Circe", "Open Sans", "sans-serif";
    color: #3f3f3f;
    font-weight: 400;
    overflow-y: scroll;
}

input,
textarea,
button {
    font-family: "Circe", "Open Sans", "sans-serif";
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
    border-color: transparent;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
    font-size: 20px;
    font-weight: 400;
    padding: 0 20px;
}

textarea {
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    resize: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li,
ol li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

.slow {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.wrapper {
    max-width: 1190px;
    width: 100%;
    margin: 0 auto;
}

.content_inner {
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    background: #fff;
    padding: 48px 80px 78px 90px;
    position: relative;
    min-height: 100%;
}

.login .content_inner {
    min-height: auto;
}

h1,
.h1 {
    font-size: 40px;
    font-weight: 300;
    margin-left: -0.1em;
    margin-bottom: 16px;
}

.food__inner h1 {
    font-size: 50px !important;

}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px
}

p + p {
    margin-top: 24px
}

p.small {
    font-size: 16px;
    line-height: 26px;
}

p.small + p.small {
    margin-top: 26px;
}

.bold {
    font-weight: 700;
}

.exbold {
    font-weight: 800;
}

.tittle_afterh1 {
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 0.003em;
}

.tittle_afterh1_green_bottom {
    border-bottom: 2px solid #2b343c;
}

.tittle_afterh1_blue_bottom {
    border-bottom: 2px solid #63acff;
}

.button {
    height: 41px;
    line-height: 37px;
    white-space: nowrap;
    font-size: 17px;
    border-radius: 20px;
    padding: 0 20px;
    display: inline-block;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

a.button--change-food {
    font-size: 16px;
    line-height: 1.3;
    height: auto;
    padding-top: 4px;
    padding-bottom: 2px;
    position: relative;
    top: -4px;
}

a.button--change-food:hover {
    color: #fff;
}

@media (max-width: 1024px) {
    a.button--change-food {
        top: 0;
    }
}

.button_big {
    height: 61px;
    line-height: 57px;
    padding: 0 32px
}

.button_green {
    background: #2b343c
    color: #fff;
}

.active .button_green,
.button_green:hover {
    background: #2b343c
}

.button_green_transparent {
    background: transparent;
    border-color: #2b343c
    color: #000;
}

.button_transparent_green {
    background: transparent;
}

.active .button_transparent_green,
.button_transparent_green:hover {
    color: #fff;
    background: #2b343c;;
}

.button_transparent_green2 {
    background: transparent;
}

.active .button_transparent_green2,
.button_transparent_green2:hover {
    color: #fff;
    background: #2b343c;
}

.button_transparent {
    background: transparent;
}

.active .button_transparent,
.button_transparent:hover {
    color: #fff;
    background: #2b343c;;
}

.button_white {
    background: #fff;
}

.button_white:hover {
    background: transparent;
    border-color: #fff;
    color: #fff
}

.progress_load_form_photo_buttons {
    text-align: justify;
}

.progress_load_form_photo_buttons:after {
    content: '';
    display: inline-block;
    width: 100%;
}

header {
    width: 100%;
    height: 96px;
    background: #fff;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.13);
    position: relative;
    z-index: 100;
}

.header_wrapper {
    position: relative;
    padding: 0 265px 0 236px;
    height: 100%;
}

.body__for-man .header_logo,
.body__press-for-man .header_logo {
    display: block;
    position: absolute;
    top: 11px;
    left: 47px;
    background: url(../images/project/mobile_logo_pohudenie.png) no-repeat center center;
    width: 153px;
    height: 72px;
}

.body__for-girl .header_logo,
.body__press-for-girl .header_logo {
    display: block;
    position: absolute;
    top: 11px;
    left: 47px;
    background: url(../images/project/mobile_logo.png) no-repeat center center;
    width: 140px;
    height: 72px;
}

button {
    background: #2b343c;
    color: white;
}

.button_green {
    background: #2b343c;
    color: white;
}

.header_logo_black {
    color: #3f3f3f;
    font-size: 35px;
    display: block;
    font-weight: 300;
    line-height: 35px
}

.header_logo_green {
    color: #2b343c;
    font-size: 26px;
    font-weight: 700;
    display: block;
    line-height: 26px
}

.header_main_menu ul {
    text-align: right;
}

.header_main_menu ul li {
    display: inline-block;
    margin: 0 23px;
    line-height: 96px
}

.header_main_menu ul li a {
    font-size: 17px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.header_main_menu ul li.active a,
.header_main_menu ul li a:hover {
    color: #8f705d;
}

.header_user_menu {
    width: 236px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #DCC8BC;
}

.header_user_menu_inner {
    background: transparent;
    position: absolute;
    width: 160px;
    left: 9px;
    top: 8px;
    padding: 13px 20px 13px 23px;

}

.header_user_menu_inner.opened {
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19), 0px 45px 68px 0px rgba(0, 0, 0, 0.13);
    background: #fff;
}

.header_user_photo {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin: 0 30px 0 15px;
    cursor: pointer;
}

.header_user_photo:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -8px;
    border-right: 2px solid #84593F;
    border-bottom: 2px solid #84593F;
    transform: rotate(45deg);
    position: absolute;
    right: -26px;
    top: 50%;
}

.header_user_drop_menu {
    padding: 32px 0 15px;
    display: none;
}

.header_user_drop_menu ul li {
    margin: 3px 0;
}

.header_user_drop_menu ul li a {
    font-size: 16px;
}

.header_user_drop_menu ul li.active a,
.header_user_drop_menu ul li a:hover {
    color: #2b343c;
}

.content {
    padding: 55px 0 82px;
    min-height: calc(100% - 96px);
}

.top_menu ul {
    background-color: rgba(0, 0, 0, 0.432);
}

.top_menu ul li {
    display: inline-block;
    margin: 0 -2px;
}

.top_menu ul li:first-child {
    margin-left: 0
}

.top_menu ul li a {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    line-height: 61px;
    padding: 0 32px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.top_menu ul li.active a,
.top_menu ul li a:hover {
    background: rgba(0, 0, 0, .2)
}

.progress_list {
    margin: 0 -17px;
    width: calc(100% + 34px);
    padding-top: 37px;
}

.progress_item {
    width: 314px;
    height: 344px;
    margin: 0 17px 25px;
    border: 10px solid #fff;
    text-align: center;
    float: left;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
}

.progress_item_report {
    width: 277px;
    margin: none;
}

.progress_item_tb {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
}

.progress_item_td {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 62px;
    position: relative;
    background: #f3f3f3;
}

.progress_item_td.without_button {
    padding-bottom: 0;
}

.progress_item_tittle {
    font-size: 30px;
    font-weight: 700;
}

.progress_item_tittle + .progress_item_result {
    margin-top: 0px;
}

.progress_item .button {
    width: 212px;
    margin-left: -106px;
    position: absolute;
    left: 50%;
    bottom: 34px;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}

.vote__action .recipes_popup_img {
    background-size: contain;
}

.mobile_menu {
    background: #2b343c;
    color: #fff;
    text-align: center;
}

.close_popup {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    right: 31px;
    top: 39px;
    transform: rotate(45deg);
    z-index: 10;
}

.close_popup:before {
    content: "";
    background-color: #2b343c;
    display: block;
    width: 32px;
    margin-left: -16px;
    height: 4px;
    margin-top: -2px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.close_popup:after {
    content: "";
    display: block;
    width: 4px;
    background-color: #2b343c;
    margin-left: -2px;
    height: 32px;
    margin-top: -16px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.black-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

.progress_item_tittle_test {
    font-size: 22px;
    color: white;
    position: relative;
    z-index: 1
}

.progress_item_result_test {
    font-size: 22px;
    color: white;
    position: relative;
    z-index: 1
}

.close_progress {
    height: 0 !important;
    left: 90%;
    position: relative;
    top: 4% !important;
}

.close_custom_popup:after {
    background-color: white !important;
}

.close_custom_popup:before {
    background-color: white !important;
}

.close_dark.close_popup:before,
.close_dark.close_popup:after {
    background: #555555;
}

.mobile_menu_tb {
    height: 100%;
    width: 100%;
    display: table;
}

.mobile_menu_td {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    overflow-y: auto;
}

.mobile_menu_inner {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.mobile_menu_inner ul li a {
    font-size: 36px;
    line-height: 72px;
}

.menu_opener {
    display: block;
    width: 62px;
    height: 41px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -21px;
    cursor: pointer;
    display: none;
}

.menu_opener span {
    display: block;
    width: 100%;
    height: 5px;
    background: #646464;
}

.menu_opener span + span {
    margin-top: 13px;
}

body.popup_opened {
    overflow: hidden;

}

.progress_popup {
    background: rgba(0, 0, 0, .71);
    text-align: center;
}

.access_popup {
    text-align: center;

}

.button_green.no_active {
    color: black;
    background-color: transparent;
}

.popup_close_bg {
    background: rgba(0, 0, 0, .71);
}

.access_popup_not_time {
    background: rgba(0, 0, 0, .71);
    text-align: center;
}

.progress_popup_inner {
    width: 1006px;
    margin-left: -503px;
    height: auto;
    margin-top: -253px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 50px 0 75px 0;
}

.first_popup {
    height: 390px;
    overflow: scroll;
}

.last_popup {
    height: 222px;
}

.trouble_popup_inner {
    width: 1006px;
    margin-left: -503px;
    margin-top: -253px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 75px 0;
}

.progress_popup_inner_not_time {
    width: 1006px;
    margin-left: -503px;
    height: 266px;
    margin-top: -253px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 75px 0;
}

.progress_popup__inner {
    height: 100%;
    width: 100%;
    padding: 0 96px;
    -webkit-overflow-scrolling: touch;
}

.progress_popup_inner .close_popup {
    right: 23px;
    top: 23px;
    z-index: 2;
}

.progress_popup_inner_not_time .close_popup {
    right: 23px;
    top: 23px;
    z-index: 2;
}

.progress_popup_img {
    width: 215px;
    height: 215px;
    background: url(../images/cover-up/warning_pohudenie.png) no-repeat center;
    background-size: contain;
    margin: 0 auto 38px;
}

.progress_popup_text {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.progress_load {
    background: rgba(0, 0, 0, .71);
}

.progress_load .close_popup {
    right: 23px;
    top: 23px;
    z-index: 2;
}

.progress_load_inner {
    transform: translate(-50%, 0);
    height: auto;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: 2;
}

.progress_load__inner {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 55px 48px 24px;
    position: relative;
    min-width: 475px;
}

.progress_popup--file .progress_load__inner {
    padding-left: 460px;

}

.progress_load_form_photo {
    width: 313px;
    position: absolute;
    left: 49px;
    top: 47px;
    display: none;
}

.progress_load_form_photo_custom {
    width: 100%;
    position: inherit;
    left: 49px;
    top: 47px;
    display: block;
}

.progress_popup--file .progress_load_form_photo {
    display: block;
}

.progress_load_form_photo_upload input[type="file"] {
    display: none
}

.video_link_progress {
    padding: 0 1vw;
}

.button_edit_video_save {
    margin-top: 1vw;
}

#video_link_progress {
    padding: 0px 0px;
}

.progress_load_form_photo_upload {
    display: block;
    width: 313px;
    height: 343px;
    border-style: solid;
    border-color: #fff;
    border-width: 11px 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    padding: 25px;
    position: relative;
    background: url(../images/project/upload_file.png) no-repeat center #f3f3f3;
    margin-bottom: 15px;
}

.progress_load_form_photo_upload_no_image {
    display: block;
    width: 313px;
    height: 343px;
    border-style: solid;
    border-color: #fff;
    border-width: 11px 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    padding: 25px;
    position: relative;
    margin-bottom: 15px;
}

.progress_load_form_photo_upload .text {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    left: 0;
    bottom: 28px;
    width: 100%;
    display: block;
}

.progress_load_form_photo_upload .text .mobile {
    display: none;
}

.progress_load_tittle {
    font-size: 48px;
    font-weight: 300;
    line-height: 52px
}

.progress_load_tittle_after {
    color: #000;
    font-size: 17px;
    font-weight: 700;
}

.progress_load_form_table label {
    line-height: 41px;
    white-space: nowrap;
    display: block;
    padding-right: 25px;
    vertical-align: middle;
    text-align: right;
    font-size: 17px;
}

.progress_load_form_table input {
    border: 2px solid #cdcdcd;
    border-radius: 20px;
    width: 145px;
    height: 41px;
    text-align: center;
    color: #000;
    font-size: 17px;
    padding: 0 25px
}

.progress_load_form_table table {
    border-collapse: collapse;
}

.progress_load_form_table table tr td {
    padding-bottom: 6px;
}

.load_form_button {
    text-align: center;
    margin-left: -395px;
    width: calc(100% + 420px);
}

.progress_load_inner .load_form_button {
    margin-left: 0;
    margin-top: 8px;
    width: auto;
}

.progress_load_inner form {
    width: 100%
}

.load_form {
    padding: 28px 0 22px;
}

.load_form_no_photo {
    padding: 0px 0 22px;
}

.text_group {
    padding: 9px 75px 8px 0;
}

.text_group:first-child {
    padding-top: 5px;
}

.text_group.text_group_withimage {
    padding-right: 460px;
}

.content_inner.instruction {
    background: url(../images/back-grounds/instruction.png) no-repeat 92% 70px #fff;
}

.body__for-man .content_inner.instruction__action,
.body__press-for-man .content_inner.instruction__action {
    background: url(../images/back-grounds/instruction-for-man.png) no-repeat 92% 70px #fff;
}

.body__for-girl .content_inner.instruction__action,
.body__press-for-girl .content_inner.instruction__action {
    background: url(../images/back-grounds/instruction-for-girl.png) no-repeat 92% 70px #fff;
}

.text_group + .text_group {
    border-top: 2px solid #63acff;
}

.text_group_tittle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px
}

.text_tasks {
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    border-left: 25px solid #98E061;
    padding: 41px 150px 47px 72px;
}

.text_tasks_tittle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 23px;
}

.text_group a {
    color: #2b343c;
}

.content.instruction {
    background: url(../images/back-grounds/manual_bg.jpg) no-repeat center top fixed;
    background-size: cover;
}

.owl-carousel.owl-loaded {
    display: block;
}

.motivation_week_item {
    display: inline-block;
    margin: 0 -2px;
}

.motivation_inner {
    background: #fff;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    padding: 30px 145px 54px;
}

.motivation_inner_video {
    width: 100%;
    height: 405px;
    margin: 0 auto 30px;
}

.motivation_inner_video iframe {
    width: 100%;
    height: 100%;
}

.motivation_inner_tittle {
    color: #2b343c;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px
}

.motivation_inner_borderleft {
    position: relative;
}

.motivation_inner_borderleft:before {
    content: "";
    display: block;
    width: 25px;
    height: 100%;
    position: absolute;
    left: -65px;
    top: 0;
    background: #2b343c;
}

p.small + .motivation_inner_borderleft {
    margin-top: 26px;
}

.body__for-girl .motivation_bg {
    background: url(../../images/shum/motivation_bg.jpg) no-repeat center right #fff fixed;
    background-size: cover;
}


.food_menu_item {
    display: inline-block;
    margin: 5px -2px;
    vertical-align: top;
}

.food_menu {
    margin: 0;
}

.food_menu.first_noactive {
    margin-left: -20px;
}

.food_menu__list {
    margin-bottom: 1vw;
}

.food_menu_list.first_noactive {
}

.food_list {
    width: 1010px;
}

.food_list_item {
    width: 200px;
    height: 260px;
    border: 1px solid #e3e3e3;
    margin: 1px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    float: left;
}

.food_list_item_more {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1px;
    top: -1px;
    background-color: #2b343c;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 15px 68px 0px rgba(81, 176, 80, 0.9);
    padding: 0 10px 0 20px;
    opacity: 0;
    display: table;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    z-index: 1;

}

.food_list_item__more {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.food_list_item_more span {
    display: block;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    color: #fff;
}

.food_list_item:hover > .food_list_item_more,
.food_list_item.active > .food_list_item_more {
    opacity: 1;
}

.content.food {
    background: url(../images/back-grounds/food_bg.jpg) no-repeat right top fixed;
    background-size: 100% auto;
}

.content_inner .recipes {
    width: calc(100% + 90px);
    margin: 0 -45px
}

.recipe {
    width: 424px;
    height: 453px;
    float: left;
    margin: 0 45px;
}

.recipe_img {
    width: 100%;
    height: 300px;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

.recipe_name {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 4px;
}

.recipe a {
    color: #2b343c;
    font-size: 17px;
    font-weight: 400;
}

.recipe a:hover {
    color: #2b343c;
}

.recipes_popup {
    background: rgba(0, 0, 0, .71);
}

.recipes_popup_inner {
    position: absolute;
    left: 50%;
    width: 682px;
    margin-left: -341px;
    height: 90%;
    top: 5%;
    z-index: 2;
}

.recipes_popup__inner {
    background: #fff;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    padding: 0 25px 50px;
    position: relative;
    height: auto;
    max-height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.recipes_popup_img {
    width: calc(100% + 50px);
    height: 470px;
    background-image: url(../../images/shum/recipe1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 -25px 30px;
}

.recipes_popup_tittle {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 21px
}

.recipes_popup_inner p.small {
    line-height: 24px;
}

.popup_close_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.profile_photo {
    width: 314px;
    text-align: center;
    padding-top: 26px;

}

.profile_photo .progress_load_form_photo_upload {
    margin-bottom: 30px;
}

.barbell_bg {
    background: url(../../images/shum/barbell_bg.jpg) no-repeat right top fixed;
    background-size: cover;
}

.profile_changepassword {
    width: 200px;
}

.profile_changepassword form {
    width: 100%;
}

.profile_changepassword form input[type="text"] {
    width: 100%;
    height: 61px;
    border: 2px solid #E1E1E1;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 0 20px;
    -webkit-appearance: none;
}

.profile_changepassword form input[type="password"] {
    width: 100%;
    height: 61px;
    border: 2px solid #E1E1E1;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 0 20px;
    -webkit-appearance: none;
}

.profile_changepassword form button {
    font-size: 20px;
    font-weight: 400;
    height: 61px;
    border-radius: 20px;
}

.tittle_afterh1_light {
    color: #484848;
    font-size: 20px;
}

.promo {
    border: 3px solid #2b343c;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    position: relative;
    padding: 39px 305px 31px 25px;
    margin: 40px 0 45px;
}

.promo__main {
    position: relative;
    min-height: 187px;
    padding: 0 0 5px 395px;
    margin-bottom: 24px
}

.promo__main_img {
    box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.22);
    width: 335px;
    height: 187px;
    border-radius: 4px;
    overflow: hidden;
    background-image: url(../../images/shum/promo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
}

.promo__main_tittle {
    font-family: "Gotham Pro";
    color: #2b343c;
    font-size: 20px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 22px
}

.promo__main_text {
    font-family: "Gotham Pro";
    color: #313131;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 22px
}

.promo__main a {
    font-family: "Gotham Pro";
    color: #2b343c;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px
}

.promo_main_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #313131;
}

.promo_main_text span {
    color: #f16a7f;
}

.promo_main_cost {
    height: 61px;
    line-height: 61px;
    margin-top: 14px;
}

.promo_main_cost span {
    display: inline-block;
    line-height: 61px;
    color: #313131;
    padding: 0 8px;
}

.promo_main_old_cost {
    font-size: 24px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 12px;
}

.promo_main__cost {
    font-size: 30px;
    font-weight: 700;
}

.promo_right_timer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 243px;
    text-align: center;
    background: #2b343c;
    color: #fff;
    padding: 0 30px;
}

.promo_right_timer_tb {
    display: table;
    height: 100%;
    width: 100%;
}

.promo_right_timer_inner_td {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.promo_right_timer .promo_main_text {
    color: #fff;
}

.promo_timer {
    font-size: 72px;
    font-weight: 400;
}

.promo_main_cost .button {
    width: 200px;
    font-size: 20px;
    height: 61px;
    line-height: 57px
}

.faq_item {
    position: relative;
    border-top: 1px solid #2b343c;
    padding: 17px 0 15px;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    min-height: 65px;
}

.faq_item_icon {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid #2b343c;
    position: absolute;
    right: 0;
    top: 12px;
    transform: rotate(45deg);
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.faq_item_icon:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #2b343c;
    border-right: 2px solid #2b343c;
    position: absolute;
    left: 8px;
    top: 8px;
}

.faq_item_tittle {
    font-size: 22px;
    font-weight: 700;
    padding-right: 60px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.faq_item_tittle:hover {
    opacity: 0.75
}

p.fz17 {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
}

.faq_item p {
    display: none;
}

.faq_item.opened {
    padding: 17px 0 32px;
}

.faq_item.opened .faq_item_tittle {
    margin-bottom: 12px
}

.faq_item.opened .faq_item_icon {
    transform: rotate(225deg);
    top: 12px;
}


.body__0 .faq_bg {
    background: url(../../images/shum/faq_bg.jpg) fixed no-repeat top right;
    background-size: cover;

}

.body__1 .faq_bg {
    background: url(../../images/shum/faq_bg_man.jpg) fixed no-repeat top right;
    background-size: cover;

}

.question_form {
    padding: 20px 70px 45px 0;
}

.question_form form {
    width: 100%;
}

.question_form form textarea {
    width: 100%;
    background: #fff;
    border: 2px solid #d2d2d2;
    border-radius: 20px;
    height: 320px;
    margin-bottom: 20px;
}

.question_form form button {

    font-size: 20px;
}

.communication_text {
    font-size: 22px;
    font-weight: 700;
}

.communication_button {
    margin-bottom: 40px;
}

.communication_bg {
    background: url(../../images/shum/communication_bg.jpg) no-repeat center left fixed;
    background-size: cover;
}

.communication_bg2 {
    background: url(../../images/shum/communication_bg2.jpg) no-repeat center top fixed;
    background-size: cover;
}

.schedule table {
    width: 292px;
    border-collapse: collapse;
    text-align: left;
    float: left;
}

.schedule table tr {
    border-bottom: 1px solid #E6E6E6;
}

.schedule table tr:last-child {
    border-bottom: none;
}

.schedule table tr td {
    font-size: 17px;
    font-weight: 400;
    color: #3f3f3f;
    padding: 11px 10px;
}

.schedule table tr td.schedule_status {
    color: #9c9c9c;
    width: 175px;
    text-align: right;
}

.schedule_payment_top {
    padding: 30px 55px 44px;
}

.schedule_payment_tittle {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px
}

.radio {
    display: block;
    color: #3f3f3f;;
    font-size: 17px;
    font-weight: 700;
}

.radio input {
    display: none !important;
}

.radio .radio_span {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
    padding-left: 35px;
}

.radio .radio_span:before {
    content: "";
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #ebebeb;
    border-radius: 11px;
    cursor: pointer;
    border: 4px solid #ebebeb;
    box-sizing: border-box;
}

.schedule_payment_week_cost {
    font-size: 17px;
    font-weight: 400;
    display: block;
    padding-left: 35px;
    margin-top: 11px;
}

.schedule_payment_bottom_tittle {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px
}

.schedule_payment_bottom_cost {
    margin-bottom: 27px;
}

.block_pay {
    font-size: 17px;
}

.schedule_payment_bottom_cost button {
    height: 61px;
    line-height: 57px;
    vertical-align: top;
    width: 200px;
    font-size: 20px;

}

.schedule_payment_bottom_cost span {
    height: 61px;
    line-height: 61px;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    margin-right: 28px;
}

.checkbox {
    display: block;
    color: #3f3f3f;;
    font-size: 12px;
    font-weight: 700;
}

.checkbox input {
    display: none !important;
}

.checkbox .checkbox_span {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
    padding-left: 35px;
}

.checkbox .checkbox_span:before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    cursor: pointer;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.checkbox input:checked + .checkbox_span:before {
    background: url(../../images/shum/checkbox.png) no-repeat center center / contain;;
}

.schedule_payment_bottom .checkbox {
    color: #fff;
}

.schedule_payment .radio + .radio {
    margin-top: 25px;
}

.food_inner {
    background: url(../../images/shum/food_inner.png) no-repeat top right #fff;
    background-size: 330px 330px;
}

.food_inner .text_group {
    padding-right: 240px
}

.food_menu + .tittle_afterh1 {
    margin-top: 24px
}

.text_group + .text_tasks {
    margin-top: 60px;
}

.training .motivation_week {
    margin-bottom: 0;
}

.training .motivation_week .motivation_week_item {
    margin: 0 -7.4px;
}

.training_day {
    display: inline-block;
    margin: 0 -2px;
}

.training_access {
    color: #c6c6c6;
}

.access_popup:hover {
    background: none;
    color: #c6c6c6;;
}

.training_item {
    background: #fff;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    padding: 30px 145px 35px;
}

.training_item + .training_item {
    margin-top: 38px;
}

.training_days {
    margin-bottom: 38px;
}

.training_item_video {
    width: 100%;
    height: 350px;
    margin: 0 auto 14px;
}

.training_item_video_custom {
    height: 600px;
    font-size: 20px;
}

.training_item_video iframe {
    width: 100%;
    height: 100%;
}

.training_item_tittle {
    font-size: 22px;
    font-weight: 700;
    color: #2b343c;
    text-align: center;
}

.training_item_text {
    font-size: 16px;
    font-weight: 800;
    text-align: left;
}

.training_bg {
    background: url(../../images/shum/training_bg.jpg) no-repeat center top fixed;
    background-size: cover;
}

.food_tittle {
    font-size: 30px;
    font-weight: 700;
    border-bottom: 2px solid #2b343c;
    display: inline-block;
    margin-bottom: 6px;
}

.food_item_name {
    font-size: 24px;
    margin-bottom: 4px;
}

.food_item_quantity {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px
}

.food_item_img {
    width: 430px;
    height: 315px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: right;
}

.food_item_inner_top table {
    width: 470px;
    border-collapse: collapse;
}

.food_item_inner_top table tr td:first-child {
    width: 20%;
}

.food_item_inner_top table tr td {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    width: 23%;
}

.food_item_inner_top table tr td:last-child {
    width: 34%;
}

.food_item_inner__top {
    margin-bottom: 24px
}

.food_item_inner__top table {
    float: left;
    margin: 10px 0;
}

.food_item_inner__top table tr {
    border-bottom: 1px solid #E3E3E3;
}

.food_item_inner__top table tr:last-child {
    border-bottom: none;
}

.food_item_inner__top table tr td {
    width: 100%;
}

.food_item_inner {
    box-shadow: 0 15px 150px 0 rgba(0, 0, 0, 0.19);
    padding: 8px 11px 48px 27px
}

.cooking {
    padding: 0 180px 0 30px;
    border-left: 5px solid #2b343c;
}

.cooking_tittle {
    font-size: 24px;
    margin-bottom: 10px;
}

.cooking p + p {
    margin-top: 17px;
}

.food_item_inner_top {
    margin-bottom: 30px;
}

.food_item + .food_item {
    margin-top: 68px
}

.food__inner .food_menu_list {
    margin-bottom: 22px;
}

.login_page_main {
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
}

.login_page_main_screen_content {
    color: #fff;
    position: relative;
    z-index: 10;

}

.main_screen_content_tittle {
    font-family: "Gotham Pro";
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.main_screen_content_tittle2 {
    font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 43px;
    margin-bottom: 46px;
}

.main_screen_content_text {
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 48px;
}

.main_screen_content_text2 {
    font-family: "Gotham Pro";
    font-size: 21px;
    font-weight: 500;
    line-height: 36px;
}

.main_screen_content_a {
    position: relative;
    display: inline-block;
    margin-right: 46px;
}

.main_screen_content_a:hover {
    opacity: 0.75
}

.main_screen_content_a:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 5px;
    opacity: 0.5
}

.main_screen_content_a:after {
    content: "";
    display: block;
    width: 31px;
    height: 41px;
    background: url(../images/index-icons/main_screen_content_a.png) no-repeat center / contain;
    position: absolute;
    right: -46px;
    top: 50%;
    margin-top: -20px;
}

.login_page__main {
    background: url(../../images/shum/login_page__main_bg.jpg) no-repeat bottom right fixed;
    background-size: cover;
    position: relative;
    padding: 120px 60px 115px 510px;
    overflow: hidden;

}

.login_page_main_layer1 {
    width: 480px;
    height: 480px;
    opacity: 0.08;
    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 240px;
    position: absolute;
    left: 104px;
    top: 50%;
    margin-top: -240px;
    z-index: 1;;
}

.login_page_main_layer2 {
    background: url(../../images/shum/login_page_photo.png) no-repeat center / contain;
    width: 322px;
    height: 560px;
    position: absolute;
    bottom: 0;
    left: 186px;
    z-index: 2;
}

.login_page_main_layer3 {
    display: block;
    width: 156px;
    height: 156px;
    background: url(../../images/shum/login_page_main_video.png) no-repeat center / contain;
    position: absolute;
    left: -238px;
    top: 50%;
    margin-top: -78px;
    z-index: 3;
    border-radius: 78px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.login_page_main_layer3:hover {
    background-color: rgba(0, 0, 0, .2)
}

.login_page_main_layer3:before {
    content: "";
    display: block;
    width: 101px;
    height: 58px;
    background: url(../../images/shum/arrow.png) no-repeat center / contain;
    position: absolute;
    right: -60px;
    bottom: -55px;
}

.login_page_programm {
    height: 78px;
    line-height: 78px;
    width: 33.33333%;
    float: left;
    padding-left: 104px;
    color: #212121;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-bottom: 37px;
}

.login_page_programm .icon {
    width: 78px;
    height: 78px;
    display: block;
    border-radius: 39px;
    margin-top: -39px;
    position: absolute;
    left: 0;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.body__for-man .login_page_programm .icon,
.body__press-for-man .login_page_programm .icon {
    background-color: #2b343c;
}

.body__for-girl .login_page_programm .icon,
.body__press-for-girl .login_page_programm .icon {
    background-color: #2b343c
}

.body__rezinki .login_page_programm .icon {
    background-color: #fea67f;
}

.body__anticellulit .login_page_programm .icon {
    background-color: #a673f6;
}

.login_page_programms {
    padding: 30px 120px 15px;
}

.motivation .motivation_week {
    margin-bottom: 38px
}

.food_bg .food_menu_list {
    margin-bottom: 37px;
}

.recipe_inner .food_menu {
    margin-bottom: 12px;
}

.content.login {
    min-height: 100%;
    background: url(../images/back-grounds/login.png) no-repeat center right / cover;
}

.content.login .wrapper {
    max-width: 980px
}

.content.login .content_inner {
    padding: 48px 0 78px;
}

.login_form {
    border-top: 2px solid #2b343c;
    padding: 44px 80px 117px;
}

.login_form form {
    width: 100%;
    max-width: 348px;
    margin: 0 auto;
}

.help-block {
    color: red;
}

.login_form form input {
    width: 100%;
    height: 61px;
    border: 2px solid #E1E1E1;
    border-radius: 20px;
}

.login_form form input + input {
    margin-top: 10px;
}

.login_form form input + .clearfix {
    margin-top: 15px;
}

.login_form form button {
    display: block;
    width: 50%;
    float: left;
    font-size: 20px;
    height: 61px;
    line-height: 57px;
}

.login_form .remind_password {
    display: block;
    width: 50%;
    height: 61px;
    line-height: 61px;
    text-align: right;
    float: right;
    color: #5478ff;
    font-size: 20px;
}

.content.login h1 {
    text-align: center;
}

.login_form form input[type="password"] {
    margin-top: 10px;
}

.progress_item_slider {
    height: 100%;
    width: 100%;
}

.progress_item_slider_item {
    height: 100%;
    position: relative;
    left: 1px;
    background-repeat: no-repeat;
    background-position: top center;

    background-size: contain;
}

.progress_item_slider_item .button {
    width: auto;
    margin-left: 0;
    position: static;
    left: 0%;
    bottom: 0;
    color: #fff;
}

.progress_item_slider_item_buttons {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
}

#show-table {
    margin-top: 0.5vw;
}

.progress_item_slider,
.progress_item_slider .owl-stage-outer,
.progress_item_slider .owl-stage,
.progress_item_slider .owl-item {
    height: 100%;
}

.progress_item_slider .owl-nav .owl-prev,
.progress_item_slider .owl-nav .owl-next {
    width: 30px;
    height: 56px;
    display: block;
    background: url(../images/project/progress_item_slider_bt.png) no-repeat center / contain;
    position: absolute;
    top: 50%;
    margin-top: -28px;
}

.progress_item_slider .owl-nav .owl-prev {
    left: 5px;
    transform: rotate(180deg);
}

.progress_item_slider .owl-nav .owl-next {
    right: 5px;
}

.progress_item_slider .owl-nav .owl-prev:hover,
.progress_item_slider .owl-nav .owl-next:hover {
    opacity: 0.75
}

.progress_item_result span {
    display: block;
    text-align: right;
    font-size: 15px;
    line-height: 24px;
    color: #000;
    padding-right: 90px;
}

.training .motivation_week {
    margin-bottom: 12px
}

.food_menu + .motivation_week {
    margin-top: 20px;
}

.motivation_week + .food_menu_list {
    margin-top: 20px;
}

/*start правки 16/03/18*/
.motivation_week_prevweek,
.motivation_week_nextweek {
    display: none;
}

/*end правки 16/03/18*/
.img_profile {
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
}

.img_preview_progress {
    display: block;
    width: 313px;
    height: 343px;
    border-style: solid;
    border-color: #fff;
    border-width: 11px 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    padding: 25px;
    position: relative;
    margin-bottom: 15px;
}

#zero-week {
    display: none;
}

#show-button {
    display: none;
    width: 131px;
    margin-left: 0;
    position: absolute;
    left: 59%;
    bottom: -10px;
}

/*start Ð¿Ñ€Ð°Ð²ÐºÐ¸ 29/03/18*/
.login_page_programm .mobiletext {
    display: none;
}

/*end правки 29/03/18*/

/*start правки 05/04/18*/
.top_menu ul li {
    position: relative;
}

.top_menu ul li .submenu {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    display: none;
}

.top_menu ul li .submenu a {
    white-space: nowrap;
    width: 100%;
}

.top_menu ul li .submenu li {
    width: 100%;
}

.top_menu ul li .submenu a:hover {
    background: rgba(0, 0, 0, .4);
}

.top_menu ul li:hover > .submenu {
    display: block;
}

.top_menu ul li a {
    padding: 0 25.5px;
}

.top_menu ul li:hover a {
    background: rgba(0, 0, 0, .2);
}

/*end Ð¿Ñ€Ð°Ð²ÐºÐ¸ 05/04/18*/

.close_popup_test {
    z-index: 2;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    right: 31px;
    top: 39px;
    transform: rotate(45deg);
}

.close_popup_test:after {
    content: "";
    display: block;
    width: 4px;
    margin-left: -2px;
    height: 32px;
    margin-top: -16px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #616161;
}

.close_popup_test:before {
    content: "";
    display: block;
    width: 32px;
    margin-left: -16px;
    height: 4px;
    margin-top: -2px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #616161;
}

.close_popup_hello {
    z-index: 2;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    right: 31px;
    top: 39px;
    transform: rotate(45deg);
}

.close_popup_hello:after {
    content: "";
    display: block;
    width: 4px;
    margin-left: -2px;
    height: 32px;
    margin-top: -16px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #616161;
}

.close_popup_hello:before {
    content: "";
    display: block;
    width: 32px;
    margin-left: -16px;
    height: 4px;
    margin-top: -2px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #616161;
}

.box_shadow {
    width: 100%;
    height: 470px;
    left: 0;
    background-color: black;
    opacity: 0.5;
    position: absolute;
}

.start-program {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    z-index: 10000000;
}

.start-program__back {
    padding: 7.29vw 0 0 3.125vw;
    box-sizing: border-box;
    width: 50.83vw;
    height: 29.01vw;
    background: url('/images/start_cover.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14.5vw;
    margin-left: -25.4vw;
}

.ul_racion {
    font-size: 18px;
}

.start-program__title {
    font-family: 'Gotham Pro Bold';
    color: #000000;
    font-size: 1.5625vw;
    line-height: 1.2;
    margin-bottom: 1.3vw;
}

.start-program__text {
    max-width: 29.2vw;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 2.86vw;
}

.start-program__date {
    color: #ed51de;
    font-family: 'Gotham Pro Bold';
    font-size: 1.5625vw;
}

.change-program_action .top_menu {
    display: none;
}

.change-program_action .content_inner h1 {
    text-align: center;
}

@media (max-width: 750px) {
    .start-program__back {
        padding: 10.9vw 0 0 5.4vw;
        width: 100vw;
        height: 129vw;
        background-image: url('/images/start_cover_mobile.jpg');
        margin-top: -65vw;
        margin-left: -50vw;
    }

    header {
        position: relative;
        z-index: 10000;
    }

    .pulse_custom {
        display: block !important;
        margin-top: 9px !important;
    }

    .start-program__title {
        font-size: 5vw;
        margin-bottom: 7.5vw;
    }

    .start-program__text {
        max-width: 87.8vw;
        font-size: 4.375vw;
        margin-bottom: 22.65vw;
    }

    .start-program__date {
        font-size: 4.6875vw;
    }
}

.questions {
    margin-top: 60px;
    margin-bottom: 60px
}

.questions_q,
.questions_a {
    background: #FEF7E5;
    padding: 20px;
    margin-bottom: 20px
}

.questions_a {
    margin-left: 40px;
    margin-bottom: 40px
}

.notice_count {
    padding: 0 4px;
    text-decoration: none;
    font: 700 13px/15px Arial, Helvetica, sans-serif;
    color: #fff !important;
    border-radius: 15px;
    background: #ff8094;
    -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1), 0 5px 10px -5px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1), 0 5px 10px -5px rgba(0, 0, 0, .5);
    margin: 2px 0 0 2px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
}

.tab-buttons-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
}

.tab {
    display: none;
}

.tab__visible {
    display: block;
}

.tab-button {
    height: 41px;
    line-height: 37px;
    white-space: nowrap;
    font-size: 17px;
    border-radius: 20px;
    padding: 0 20px;
    display: inline-block;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.tab-button.tab-button__active {
    color: #fff;
    background: #2b343c;
}

.popup-action-link {
    color: #2b343c;
}

.show_for_marafon {
    display: none;
}

.popup_text-normal {
    font-weight: 300;
}

.hero_post_content_wrap {
    background: white;
    border-radius: 3vw;
    box-shadow: -2vw 3vw 12vw 1vw rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 4vw;
}

@media screen and (min-width: 760px) {
    .hero_post_content_wrap {
        width: 41vw !important;
        padding: 1.6vw 2.6vw !important;
        border-radius: 1vw !important;
        box-shadow: 0vw 0.7vw 2.7vw 0vw rgba(0, 0, 0, 0.2) !important;
    }
}

.holder {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

.preloader {
    /* size */
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader 2s infinite ease-in;
}

@keyframes rotatePreloader {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
}

.preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: #ffffff;
    transform: translateX(-50%);
    border-radius: 50%;
}

.preloader div:nth-child(1) {
    transform: rotateZ(0deg);
    animation: rotateCircle1 2s infinite linear;
    z-index: 9;
}

@keyframes rotateCircle1 {
    0% {
        opacity: 0;
    }
    0% {
        opacity: 1;
        transform: rotateZ(36deg);
    }
    7% {
        transform: rotateZ(0deg);
    }
    57% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(2) {
    transform: rotateZ(36deg);
    animation: rotateCircle2 2s infinite linear;
    z-index: 8;
}

@keyframes rotateCircle2 {
    5% {
        opacity: 0;
    }
    5.0001% {
        opacity: 1;
        transform: rotateZ(0deg);
    }
    12% {
        transform: rotateZ(-36deg);
    }
    62% {
        transform: rotateZ(-36deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(3) {
    transform: rotateZ(72deg);
    animation: rotateCircle3 2s infinite linear;
    z-index: 7;
}

@keyframes rotateCircle3 {
    10% {
        opacity: 0;
    }
    10.0002% {
        opacity: 1;
        transform: rotateZ(-36deg);
    }
    17% {
        transform: rotateZ(-72deg);
    }
    67% {
        transform: rotateZ(-72deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(4) {
    transform: rotateZ(108deg);
    animation: rotateCircle4 2s infinite linear;
    z-index: 6;
}

@keyframes rotateCircle4 {
    15% {
        opacity: 0;
    }
    15.0003% {
        opacity: 1;
        transform: rotateZ(-72deg);
    }
    22% {
        transform: rotateZ(-108deg);
    }
    72% {
        transform: rotateZ(-108deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(5) {
    transform: rotateZ(144deg);
    animation: rotateCircle5 2s infinite linear;
    z-index: 5;
}

@keyframes rotateCircle5 {
    20% {
        opacity: 0;
    }
    20.0004% {
        opacity: 1;
        transform: rotateZ(-108deg);
    }
    27% {
        transform: rotateZ(-144deg);
    }
    77% {
        transform: rotateZ(-144deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(6) {
    transform: rotateZ(180deg);
    animation: rotateCircle6 2s infinite linear;
    z-index: 4;
}

@keyframes rotateCircle6 {
    25% {
        opacity: 0;
    }
    25.0005% {
        opacity: 1;
        transform: rotateZ(-144deg);
    }
    32% {
        transform: rotateZ(-180deg);
    }
    82% {
        transform: rotateZ(-180deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(7) {
    transform: rotateZ(216deg);
    animation: rotateCircle7 2s infinite linear;
    z-index: 3;
}

@keyframes rotateCircle7 {
    30% {
        opacity: 0;
    }
    30.0006% {
        opacity: 1;
        transform: rotateZ(-180deg);
    }
    37% {
        transform: rotateZ(-216deg);
    }
    87% {
        transform: rotateZ(-216deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(8) {
    transform: rotateZ(252deg);
    animation: rotateCircle8 2s infinite linear;
    z-index: 2;
}

@keyframes rotateCircle8 {
    35% {
        opacity: 0;
    }
    35.0007% {
        opacity: 1;
        transform: rotateZ(-216deg);
    }
    42% {
        transform: rotateZ(-252deg);
    }
    92% {
        transform: rotateZ(-252deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(9) {
    transform: rotateZ(288deg);
    animation: rotateCircle9 2s infinite linear;
    z-index: 1;
}

@keyframes rotateCircle9 {
    40% {
        opacity: 0;
    }
    40.0008% {
        opacity: 1;
        transform: rotateZ(-252deg);
    }
    47% {
        transform: rotateZ(-288deg);
    }
    97% {
        transform: rotateZ(-288deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(10) {
    transform: rotateZ(324deg);
    animation: rotateCircle10 2s infinite linear;
    z-index: 0;
}

@keyframes rotateCircle10 {
    45% {
        opacity: 0;
    }
    45.0009% {
        opacity: 1;
        transform: rotateZ(-288deg);
    }
    52% {
        transform: rotateZ(-324deg);
    }
    102% {
        transform: rotateZ(-324deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.progress_popup_opener_how {
    margin: 0 17px 25px;
    text-decoration: underline;
    font-weight: bold;
}

/** MAIN SECTION **/
.schedule_payment {
    border: 2px solid #2b343c;
    background: #fff;
    width: 665px;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    float: right;
}

.radio input:checked + .radio_span:before {
    background: #2b343c;
}

.schedule_payment_bottom {
    background: #2b343c;
    color: #fff;
    padding: 40px 55px 37px;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
}

.body__for-man .login_page__main,
.body__press-for-man .login_page__main {
    background: #2b343c url(../images/project/main_screen_marafon_artem.jpg) no-repeat top left;
    background-size: cover;
}

.body__for-girl .login_page__main {
    background: #2b343c url(../images/project/main_screen_marafon.jpg) no-repeat top left;
    background-size: cover;
}

.body__press-for-girl .login_page__main {
    background: #2b343c url(../images/project/main_screen_marafon_press_woman.jpg) no-repeat top left;
    background-size: cover;
}

.body__for-man .promo__main_tittle,
.body__press-for-man .promo__main_tittle {
    color: #2b343c;
}

.body__for-girl .promo__main_tittle,
.body__press-for-girl .promo__main_tittle {
    color: #2b343c
}

.body__rezinki .promo__main_tittle {
    color: #fea67f;
}

.body__anticellulit .promo__main_tittle {
    color: #a673f6;
}

.body__for-man .promo,
.body__press-for-man .promo {
    border: 3px solid #2b343c;
}

.body__for-girl .promo,
.body__press-for-girl .promo {
    border: 3px solid #2b343c
}

.body__rezinki .promo {
    border: 3px solid #fea67f;
}


.body__anticellulit .promo {
    border: 3px solid #a673f6;
}

.body__for-man .promo_right_timer,
.body__press-for-man .promo_right_timer {
    background: #2b343c;
}

.body__for-girl .promo_right_timer
.body__press-for-girl .promo_right_timer {
    background: #2b343c
}

.body__rezinki .promo_right_timer {
    background: #fea67f;
}

/** BOOTY SECTION **/

/** MARAFON SECTION **/
.body__for-girl .schedule_payment,
.body__press-for-girl .schedule_payment {
    border: 2px solid #2b343c
    background: #fff;
    width: 665px;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    float: right;
}

.body__for-girl .radio input:checked + .radio_span:before,
.body__press-for-girl .radio input:checked + .radio_span:before {
    background: #2b343c
}

.body__for-girl .schedule_payment_bottom,
.body__press-for-girl .schedule_payment_bottom {
    background: #2b343c;
    color: #fff;
    padding: 40px 55px 37px;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
}

.body__for-girl .faq_item_icon,
.body__press-for-girl .faq_item_icon {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid #2b343c
    position: absolute;
    right: 0;
    top: 12px;
    transform: rotate(45deg);
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.body__for-girl .show_for_marafon,
.body__press-for-girl .show_for_marafon {
    display: block;
}

.body__for-girl .popup-action-link,
.body__press-for-girl .popup-action-link {
    color: #2b343c
}

.body__for-girl .tab-button.tab-button__active,
.body__pressfor-girl .tab-button.tab-button__active {
    background: #2b343c
}

.body__for-girl .progress_item_slider .owl-nav .owl-prev,
.body__press-for-girl .progress_item_slider .owl-nav .owl-prev,
.body__for-girl .progress_item_slider .owl-nav .owl-next,
.body__press-for-girl .progress_item_slider .owl-nav .owl-next {
    width: 30px;
    height: 56px;
    display: block;
    background: url(../images/project/progress_item_slider_bt.png) no-repeat center / contain;
    position: absolute;
    top: 50%;
    margin-top: -28px;
}

.body__for-girl .login_form,
.body__press-for-girl .login_form {
    border-top: 2px solid #2b343c
}

.body__for-girl .cooking,
.body__press-for-girl .cooking {
    border-left: 5px solid #2b343c
}

.body__for-girl .food_tittle,
.body__press-for-girl .food_tittle {
    border-bottom: 2px solid #2b343c
}

.body__for-girl .training_item_tittle,
.body__press-for-girl .training_item_tittle {
    font-size: 22px;
    font-weight: 700;
    color: #2b343c;
    text-align: center;
}

.body__for-girl .faq_item_icon:after,
.body__press-for-girl .faq_item_icon:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #2b343c;
    border-right: 2px solid #2b343c;
    position: absolute;
    left: 8px;
    top: 8px;
}

.body__for-girl .faq_item,
.body__press-for-girl .faq_item {
    position: relative;
    border-top: 1px solid #2b343c;
    padding: 17px 0 15px;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    min-height: 65px;
}

.body__press-for-girl .recipe a:hover,
.body__for-girl .recipe a:hover,
.body__press-for-girl .recipe a,
.body__for-girl .recipe a {
    color: #2b343c
}

.body__for-girl .food_list_item_more,
.body__press-for-girl .food_list_item_more {
    background-color: #2b343c
}

.body__for-girl .text_group a,
.body__press-for-girl .text_group a {
    color: #2b343c
}

.body__for-girl .text_group + .text_group,
.body__press-for-girl .text_group + .text_group {
    border-top: 2px solid #2b343c
}

.body__press-for-girl .close_popup:before,
.body__press-for-girl .close_popup:after,
.body__for-girl .close_popup:before,
.body__for-girl .close_popup:after {
    background-color: #2b343c
}

.body__for-girl .mobile_menu,
.body__press-for-girl .mobile_menu {
    background: #2b343c;
    color: #fff;
    text-align: center;
}

.body__press-for-girl .header_user_drop_menu ul li.active a,
.body__press-for-girl .header_user_drop_menu ul li a:hover,
.body__for-girl .header_user_drop_menu ul li.active a,
.body__for-girl .header_user_drop_menu ul li a:hover {
    color: #2b343c
}

.body__press-for-girl .active .button_transparent,
.body__press-for-girl .button_transparent:hover,
.body__for-girl .active .button_transparent,
.body__for-girl .button_transparent:hover {
    background: #2b343c
}

.body__press-for-girl .active .button_transparent_green2,
.body__press-for-girl .button_transparent_green2:hover,
.body__for-girl .active .button_transparent_green2,
.body__for-girl .button_transparent_green2:hover {
    background: #2b343c
}

.body__for-girl .button_green_transparent,
.body__press-for-girl .button_green_transparent {
    background: transparent;
    border-color: #2b343c;
    color: #000;
}

.body__press-for-girl .active .button_green,
.body__press-for-girl .button_green:hover,
.body__for-girl .active .button_green,
.body__for-girl .button_green:hover {
    background: #2b343c
}

.body__for-girl .button_green,
.body__press-for-girl .button_green {
    background: #2b343c
}

.body__for-girl .tittle_afterh1_blue_bottom,
.body__press-for-girl .tittle_afterh1_blue_bottom {
    border-bottom: 2px solid #2b343c
}

.body__for-girl .tittle_afterh1_green_bottom,
.body__press-for-girl .tittle_afterh1_green_bottom {
    border-bottom: 2px solid #2b343c
}

.body__for-girl .show_by_default,
.body__press-for-girl .show_by_default {
    display: none;
}

/** REZINKI SECTION **/
.body__rezinki .schedule_payment {
    border: 2px solid #fea67f;
    background: #fff;
    width: 665px;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    float: right;
}

.body__rezinki .radio input:checked + .radio_span:before {
    background: #fea67f;
}

.body__rezinki .schedule_payment_bottom {
    background: #fea67f;
    color: #fff;
    padding: 40px 55px 37px;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
}

.body__rezinki .faq_item_icon {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid #fea67f;
    position: absolute;
    right: 0;
    top: 12px;
    transform: rotate(45deg);
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.body__rezinki .show_for_marafon {
    display: block;
}

.body__rezinki .popup-action-link {
    color: #fea67f;
}

.body__rezinki .tab-button.tab-button__active {
    background: #fea67f;
}


.body__rezinki .login_form {
    border-top: 2px solid #fea67f;
}

.body__rezinki .cooking {
    border-left: 5px solid #fea67f;
}

.body__rezinki .food_tittle {
    border-bottom: 2px solid #fea67f;
}

.body__rezinki .training_item_tittle {
    font-size: 22px;
    font-weight: 700;
    color: #fea67f;
    text-align: center;
}

.body__rezinki .faq_item_icon:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #fea67f;
    border-right: 2px solid #fea67f;
    position: absolute;
    left: 8px;
    top: 8px;
}

.body__rezinki .faq_item {
    position: relative;
    border-top: 1px solid #fea67f;
    padding: 17px 0 15px;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    min-height: 65px;
}

.body__rezinki .recipe a:hover,
.body__rezinki .recipe a {
    color: #fea67f;
}

.body__rezinki .food_list_item_more {
    background-color: #fea67f;
}

.body__rezinki .text_group a {
    color: #fea67f;
}

.body__rezinki .text_group + .text_group {
    border-top: 2px solid #fea67f;
}

.body__rezinki .close_popup:before,
.body__rezinki .close_popup:after {
    background-color: #fea67f;
}

.body__rezinki .mobile_menu {
    background: #fea67f;
    color: #fff;
    text-align: center;
}

.body__rezinki .header_user_drop_menu ul li.active a,
.body__rezinki .header_user_drop_menu ul li a:hover {
    color: #fea67f;
}

.body__rezinki .active .button_transparent,
.body__rezinki .button_transparent:hover {
    background: #fea67f;
}

.body__rezinki .active .button_transparent_green2,
.body__rezinki .button_transparent_green2:hover {
    background: #fea67f;
}

.body__rezinki .button_green_transparent {
    background: transparent;
    border-color: #fea67f;
    color: #000;
}

.body__rezinki .active .button_green,
.body__rezinki .button_green:hover {
    background: #fea67f;
}

.body__rezinki .button_green {
    background: #fea67f;
    width: auto;
}

.body__rezinki .tittle_afterh1_blue_bottom {
    border-bottom: 2px solid #fea67f;
}

.body__rezinki .tittle_afterh1_green_bottom {
    border-bottom: 2px solid #fea67f;
}

.body__rezinki .show_by_default {
    display: none;
}


/** REZINKI SECTION **/
/** Booty SECTION **/

.zamery_link {
    margin-left: 25px;
}

.zamery_link:hover {
    cursor: pointer;
}

.zamery_download:hover {
    cursor: pointer;
}

.zamery_img img {
    margin-bottom: 40px;
    width: 380px;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.marafon_padding {
    padding-bottom: 122px;
    background-image: none;
    overflow: hidden;
}

.content_marafon {
    background: url(/images/photogirl.png) no-repeat 92% 70px #fff;;
}

.content_marafon .marafon_padding {
    padding-bottom: 0;
    overflow: visible

}

.marafon-title {
    color: #3f3f3f;
    font-size: 40px;
    font-weight: 400;
    line-height: 0.64;
    margin-bottom: 40px;
}

.marafon-text {
    width: 507px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
}

.text-color {
    color: #f41b5e;
}

.text-black {
    color: #000000;
    width: 515px;
}

.content_marafon .content_text {
    border: 2px solid #f41b5e;
    width: 544px;
    padding: 35px 30px 42px 24px;
    margin: 37px 0 54px 0;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.2px;
}

.marafon-info__title {
    color: #000000;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.125;
    letter-spacing: -0.26px;
    margin-bottom: 21px;
}

.marafon-info__text {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 35px;
    width: 498px;
    line-height: 1.5;
}

.marafon-list {
    list-style: disc;
    color: #8a2ebe;
    margin-left: 17px;
    line-height: 1.5;
}

.marafon-list__title {
    font-weight: 700;
    color: #000000;
    font-size: 18px;
}

.marafon-list span {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
}

.split_line {
    width: 945px;
    height: 2px;
    background-color: #8a2ebe;
    opacity: 0.23;
    margin: 41px 0 22px 0;
}

.marafon-footer {
    position: relative;
}

.marafon-info__text-footer {
    width: 677px;
}

.buy-marafon {
    margin-top: 46px;
    max-width: 992px;
    padding: 49px 150px 66px 128px;
    box-shadow: 0 15px 150px rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
    text-align: center;
}

.buy-marafon__title {
    font-size: 34px;
    font-weight: 800;
    line-height: 0.79;
    color: #000000;
    width: 100%;
    margin-bottom: 25px;
}

.buy-marafon__title span {
    color: #f41b5e;
}

.buy-marafon__text {
    font-size: 32px;
    color: #f41b5e;
    margin-bottom: 40px;
}

.buy-marafon__img {
    margin: 54px 0 32px 0;
}

.buy-marafon__img img {
    width: auto !important;
    margin: 0 auto
}

.buy-marafon__cost {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 39px;
}

.cost {
    font-weight: 800;
    font-size: 22px;
}

.buy-marafon__time {
    border: 3px solid #f41b5e;
    width: 350px;
    margin: auto;
    color: #000000;
    font-size: 52px;
    font-weight: 400;
    line-height: 0.5;
    padding: 26px 0 26px 0;
    margin-bottom: 20px;
}

.buy-marafon__link {
    width: 350px;
    display: inline-block;
    box-shadow: 0 30px 29px rgba(104, 13, 41, 0.3);
    background-color: #f41b5e;

    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 3.79;
    transition: box-shadow 0.3s ease;
}

.buy-marafon__link:hover {
    box-shadow: 0 15px 15px rgba(104, 13, 41, 0.3);
}

.footer-photo {
    position: absolute;
    bottom: -200px;
    right: -230px;
}


.popup-marafon {
    width: 100%;
    height: 100%;
    background-color: rgba(92, 75, 75, 0.71);
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1000;
}

.popup-marafon__center {
    padding: 58px 84px 54px 78px;
    width: 669px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    position: relative;

}

.popup-marafon__title {
    font-size: 34px;
    margin-bottom: 17px;
    line-height: 0.73;
}

.popup_text {
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.8;
    margin-bottom: 45px;
}

.popup-marafon__img {
    margin-bottom: 42px;
}

.popup_link {
    padding-left: 80px;
    padding-right: 80px;
}

.popup-marafon__button {
    position: absolute;
    top: 0;
    right: -75px;
}

.button-close {
    background: url(/images/buttonclosemarafon.png) no-repeat;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.buy-marafon .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.buy-marafon .owl-nav .owl-prev,
.buy-marafon .owl-nav .owl-next {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-top: 1px solid #f41b5e;
    border-right: 1px solid #f41b5e;
    transform: rotate(-135deg);

}

.buy-marafon .owl-nav .owl-prev {
    left: 0;
}

.buy-marafon .owl-nav .owl-next {
    right: 0;
    transform: rotate(45deg);
}

.buy-marafon .owl-nav .disabled {
    cursor: not-allowed;
    opacity: .3;
}

.program-list {
    display: flex;
    justify-content: center;
    margin: 0 -30px;
    flex-wrap: wrap;
}

.program-list__link {
    width: calc(33.93% - 60px);
    margin: 30px 60px 0;
    display: block;
    text-align: center;
    position: relative;
}

.program-list__link--inactive {
    opacity: .25;
    cursor: not-allowed;
}

.program-list__link--inactive:hover {
    color: #3f3f3f;
}

.program-list__link img {
    display: block;
    width: 100%;
    text-align: center;
}


.program-list__link-txt {
    display: inline-block;
    font-size: 18px;
    padding: 12px 15px 12px;
    margin: 20px 0 20px;
    color: #fff;
    background: linear-gradient(127.44deg, #FF6CAB 0%, #7366FF 100%);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -20px;
    text-align: center;
    font-weight: 600;
}

.program-list__link-txt--7 {
    background: linear-gradient(127.44deg, #FFCFA5 0%, #EE4D5F 100%);
}

.program-list__link-txt--8 {
    background: linear-gradient(127.44deg, #6EE2F5 0%, #6454F0 100%);
}

.program-list__link-txt--9 {
    background: linear-gradient(127.44deg, #42E695 0%, #3BB2B8 100%);
}

.program-list__link-txt--10 {
    background: linear-gradient(127.44deg, #FF9897 0%, #F650A0 100%);
}

.program-list__link-hover {
    color: #fff;
    font-style: 18px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: linear-gradient(127.44deg, #FF6CAB 0%, #7366FF 100%);
    opacity: 0;
    transition: all .3s ease;
}

.program-list__link-hover--2 {
    background: linear-gradient(127.44deg, #FFCFA5 0%, #EE4D5F 100%);
}

.program-list__link-hover--3 {
    background: linear-gradient(127.44deg, #6EE2F5 0%, #6454F0 100%);
}

.program-list__link-hover--4 {
    background: linear-gradient(127.44deg, #42E695 0%, #3BB2B8 100%);
}

.program-list__link-hover--5 {
    background: linear-gradient(127.44deg, #FF9897 0%, #F650A0 100%);
}

.program-list__link:hover .program-list__link-hover {
    opacity: 1;
}

@media (max-width: 1024px) {
    html.rem {
        font-size: calc(10vw / 6.4);
    }

    .marafon_padding {
        overflow: hidden;
    }

    .marafon-title {
        font-size: 4rem;
        border-left: 0.7rem solid #f41b5e;
        padding-left: 2.2rem;
        padding-top: 0.8rem;
    }

    .content_marafon {
        background-image: none;
        box-shadow: 0 1.5rem 15rem rgba(0, 0, 0, 0.19);
        background-color: #ffffff;
        width: 60.9rem;
        margin: auto;
        padding: 5rem 2.8rem 8rem !important;
        overflow: hidden;
    }

    .marafon-text {
        font-size: 3.3rem;
        line-height: 1.2;
        width: 100%;
    }

    .text-color {
        margin-bottom: 2.2rem;
    }

    .marafon-img__mob {
        background: url(/images/photogirl.png) no-repeat;
        box-sizing: border-box;
        background-position-x: center;
        height: 54.7rem;
        background-size: contain;
        margin: 3.3rem auto 5.1rem;
        width: 100%;
    }

    .text-black {
        width: 55rem;
    }

    .content_marafon .content_text {
        width: 100%;
        padding: 3.2rem 2.7rem 3.2rem 3.9rem;
    }

    .content_text span {
        width: 48.7rem;
        font-size: 2.8rem;
        line-height: 1.35;
    }

    .marafon-info__text {
        font-size: 2.8rem;
        width: 53.3rem;
        line-height: 1.30;
    }

    .marafon-info__title {
        font-size: 3.3rem;
    }

    .marafon-list__title {
        font-size: 2.8rem;
    }

    .marafon-list {
        width: 52.8rem;
        line-height: 1.65;
        margin-bottom: 7rem;
    }

    .marafon-list li {
        font-size: 1.8rem;
    }

    .marafon-list li:not(:last-child) {
        margin-bottom: 3rem;
    }

    .marafon-list span {
        font-size: 2.8rem;
        display: block;
    }

    .split_line {
        width: 55.3rem;
        height: 0.1rem;
    }

    .marafon-info__text-footer {
        width: 55rem;
    }

    .marafon-footer .marafon-list__title {
        margin: 5.1rem 0 5.1rem 0;
    }

    .buy-marafon {
        box-shadow: none;
        padding: 0;
    }

    .buy-marafon__title {
        width: 36.9rem;
        font-size: 3.8rem;
        line-height: 1.35;
        margin: auto;
    }

    .cost {
        font-size: 3.4rem;
        line-height: 1.2;
    }

    .cost-text {
        font-size: 2.5rem;
        line-height: 1.5;
    }

    .buy-marafon__time {
        width: 45rem;
        font-size: 5.2rem;
        padding: 3rem 0 2.5rem;
    }

    .buy-marafon__link {
        width: 45rem;
        z-index: 2;
        position: relative;
        display: block;
        margin: auto;
        font-size: 3rem;
        padding: 3.3rem 4.7rem;
        line-height: 1;
    }

    .footer-photo {
        bottom: -16.9rem;
        right: -12.9rem;
    }

    .footer-photo img {
        width: 34.1rem;
        height: 26.8rem;
    }

    .popup-marafon__center {
        width: 90vw;
        border-radius: 2vw;
        padding: 8vw 7vw 11vw 6.7vw;
    }

    .popup-marafon__title {
        font-size: 5vw;
        border-left: none;
        line-height: 1;
    }

    .popup_text {
        font-size: 5vw;
    }

    .button-close {
        display: none;
    }

    .popup-marafon__img img {
        width: 34vw;
        height: 36vw;
    }

    .popup-marafon__button {
        top: -7.5vw;
        right: 0;
    }

    .buy-marafon .owl-nav .owl-prev {
        left: 5rem
    }

    .buy-marafon .owl-nav .owl-next {
        right: 5rem
    }

    .buy-marafon .owl-nav {
        top: 35%;
    }

    .buy-marafon__text {
        font-size: 3.2rem;
        line-height: 1.3;
        width: 87vw;
        margin: 0 0 40px 0;
        text-align: center;
    }

    .owl-carousel .owl-item .buy-marafon__img img {
        display: block !important;
        width: 100% !important;
        margin: 0 !important;
        width: 37rem !important;
        transform: translate(9rem, 4rem) !important;
    }

    .buy-marafon__img {
        margin-top: 0;
    }

    .popup-marafon .buy-marafon__link {
        font-size: 7vw;
        width: 48vw;
        padding: 4.3vw 4.7vw 4vw;
    }

    .program-list {
        margin: 0;
    }

    .program-list__link {
        width: 100%;
        margin: 0 0 30px;
    }

    .program-list__link--inactive {
        opacity: .25;
        cursor: not-allowed;
    }

    .progress_load_form_table {
        position: relative;
        z-index: 16777272;
    }

    .icon_heigh {
        height: 22vw;
        width: auto !important;
        margin-bottom: 0px;
        display: block;
        margin: 50px 0 30px;
    }

    .whats-app__action {
        padding: 2.34375vw 4.6875vw 4.6875vw 4.6875vw !important;
    }
}

.body__for-girl .pulse {
    height: 41px;
    line-height: 37px;
    white-space: nowrap;
    font-size: 17px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.body__for-man .pulse,
.body__press-for-man .pulse {
    height: 41px;
    line-height: 37px;
    white-space: nowrap;
    font-size: 17px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}


@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 82, 138, 0.5);
    }

    100% {
        box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
}

@keyframes radial-pulse2 {
    0% {
        box-shadow: 0 0 0 0px rgba(43, 52, 60, 0.5);
    }

    100% {
        box-shadow: 0 0 0 40px rgba(0, 0, 0, 0);
    }
}

.pulse_custom {
    width: 10%;
    font-size: 26px;
}

.error__action h1 {
    text-align: center;
}

.error__action .program-list__link {
    width: 80%;
    font-size: 20px;
}

.error__action span {
    display: inline-block;
    margin-top: 2.5vw;
}

/** MARAFON SECTION **/
/** cover-up SECTION **/
.start-program__text {
    max-width: 29.2vw;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1.86vw;
}

.start-program__title {
    max-width: 29vw;
    font-weight: 700;
    font-size: 1.7vw;
    line-height: 1;
    font-family: Gotham Pro;
}

.start-program__text-2 {
    font-size: 1.3vw;
    margin-bottom: 2%;
}

.start-program__link {
    font-size: 1vw;
    color: #337ab7;
    text-decoration: underline;
    margin-bottom: 1vw;
}

.start-program__link-2 {
    display: block;
    width: 30%;
    font-size: 20px;
    height: 61px;
    line-height: 57px;
    background: #2b343c;
    color: white;
    margin-top: 5%;
}

.start-program__back {
    padding-top: 4vw;
}


/** cover-up SECTION **/
/** recovery SECTION **/
.recovery-password {
    max-width: 100%;
    overflow: hidden;
}

.recovery-password h1 {
    padding-top: 20px;
    text-align: center;
}

.recovery-password .program-list__link {
    width: calc(25% - 60px);
    margin: 0 15px 15px 15px;
}

.recovery-password .clearfix {
    margin-top: 15px;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
}

.recovery-password .error {
    color: red;
    font-size: 18px;
}

.recovery-password .error .link_reg {
    color: blue !important;
    font-size: 18px;
}

.active_program span {
    background: #2b343c;
    color: white;
}

/** recovery SECTION **/

.food_item_inner.referal {
    margin-top: 20px;
}

.access_popup:hover {
    cursor: pointer;
}

.training_access.access_popup.referal {
    font-size: 25px;
}

.ref-text {
    color: grey;
    font-size: 20px;
}

.food_item.ref {
    margin-top: 150px;
}


/*Ñ€ÐµÑ„ÐµÑ€Ð°Ð»ÐºÐ°*/
.referralProgram h1 {
    text-align: center;
}

.referralProgram-introtext {
    font-size: 26px;
    line-height: 38px;
    color: #3F3F3F;
    text-align: center;
}

.referralProgramForm {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13px;
}

.referralProgramForm-btn {
    font-size: 24px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid #E1E1E1;
    box-sizing: border-box;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}

.referralProgramForm-btn:hover {
    background: #000;
}

.referralProgramForm-input {
    background: #F9F9F9;
    border: 2px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 26px;
    width: calc(100% - 290px);
    font-size: 26px;
    color: #5A7EFA;
}

.referralProgramForm-pol {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 11px;
}

.referralProgramForm-pol a {
    color: #5A7EFA;
}

.referralProgramForm-pol a:hover {
    color: #31437f;
}

.referralProgramConclusion {
    background: #F7F7F7;
    padding-top: 47px;
    padding-bottom: 65px;
    margin-top: 54px;
}

.referralProgramConclusion-name {
    text-align: center;
    font-size: 26px;
    line-height: 38px;
    color: #3F3F3F;
    font-weight: 700;
}

.referralProgramConclusion-box {
    margin-top: 22px;
}

.referralProgramConclusion-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.referralProgramConclusion-phone {
    width: 282px;
}

.referralProgramConclusion-sum {
    width: 164px;
    margin-left: 13px;
}

input.referralProgramConclusion-phone,
input.referralProgramConclusion-sum {
    border: 2px solid #E1E1E1;
    border-radius: 20px;
    color: #3F3F3F;
    font-size: 26px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
}

input.referralProgramConclusion-phone::placeholder,
input.referralProgramConclusion-sum::placeholder {
    color: #3F3F3F;
}

input.referralProgramConclusion-phone:focus::placeholder,
input.referralProgramConclusion-sum:focus::placeholder {
    color: transparent;
}

.referralProgramConclusion-btn {
    width: 200px;
    margin-left: 12px;
    border-radius: 20px;
    font-size: 24px;
    height: 60px;
}

.referralProgramConclusion-btn[disabled] {
    background: #D1D1D1;
    color: #fff;
}

.referralProgramConclusion-btn[disabled]:hover {
    background: #D1D1D1;
}

.referralProgramConclusion-btn:hover {
    background-color: #000;
}

.referralProgramConclusion-ball {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 22px;
}

.referralProgramConclusion-ball__item {
    font-size: 26px;
    line-height: 38px;
    color: #3F3F3F;
}

.referralProgramConclusion-ball__item:last-child {
    margin-left: 20px;
}

.referralProgramConclusion-consideration {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 28px;
}

.referralProgramConclusion-consideration span {
    font-size: 22px;
    color: #3F3F3F;
    align-self: center;
    margin-right: 12px;
}

.referralProgramConclusion-consideration i {
    background: url(../images/referralProgramConclusion-consideration.svg);
    width: 44px;
    height: 44px;
}

.referralProgramHistory {
    margin-top: 38px;
}

.referralProgramHistory-name {
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #3F3F3F;
    text-align: center;
    margin-bottom: 28px;
}

.referralProgramHistory table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: none;
    width: 100%;
}

.referralProgramHistory table th {
    padding-bottom: 20px;
}

.referralProgramHistory table th,
.referralProgramHistory td {
    font-size: 20px;
    line-height: 29px;
    color: #3F3F3F;
    font-weight: 400;
}

.referralProgramHistory-more {
    text-align: center;
    margin-top: 30px;
}

.referralProgramHistory-more a {
    font-size: 16px;
    color: #5A7EFA;
}

.referralProgramHistory table.active tr:nth-child(n+8) {
    display: table-row;
}

@media (max-width: 1024px) {
    .field-ref-phone, .field-ref-sum,
    .field-ref-phone input {
        width: 100%;
    }

    input.referralProgramForm-input {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    input.referralProgramConclusion-phone, input.referralProgramConclusion-sum {
        font-size: 20px;
    }

    input.referralProgramConclusion-phone {

    }

    input.referralProgramConclusion-sum {
        width: 100%
    }
}

@media (max-width: 960px) {

    input.referralProgramConclusion-phone {
        /* flex: 0 0 100%; */
        margin-bottom: 11px;
    }

    .referralProgramConclusion-grid {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 485px;
        margin-left: auto;
        margin-right: auto;
    }

    .referralProgramConclusion-consideration span {
        font-size: 18px;
    }

    input.referralProgramConclusion-sum {
        margin-left: 0;
    }

    .referralProgramConclusion-ball__item {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .referralProgramHistory table th, .referralProgramHistory td {
        font-size: 16px;
    }

    .referralProgramHistory table thead th:first-child {
        width: 100px;
    }

    .referralProgramHistory table thead th:nth-child(3) {
        width: 150px;
    }

    .referralProgram-introtext {
        font-size: 16px;
        line-height: 22px;
    }
}

@media (max-width: 700px) {
    .referralProgramConclusion-ball__item {
        line-height: 22px;
    }

    .referralProgram .form-group {

    }

    .referralProgram .help-block:empty {
        display: none
    }

    .referralProgramHistory table thead th:first-child {
        width: 75px !important;
    }

    .referralProgramHistory table th, .referralProgramHistory td {
        padding-bottom: 6px;
        border-bottom: 1px solid #d8d5d5;
        padding-top: 6px;
        line-height: normal;
    }

    .referralProgramHistory table thead th:last-child {
        text-align: right;
    }

    .referralProgramHistory table thead th:first-child {
        width: 75px !important;
    }

    .referralProgramHistory table th, .referralProgramHistory td {
        padding-bottom: 6px;
        border-bottom: 1px solid #d8d5d5;
        padding-top: 6px;
        line-height: normal;
    }

    .referralProgramHistory table thead th:last-child {
        text-align: right;
    }

    .field-ref-phone {
        width: 100%
    }

    .field-ref-phone inpuut {
        width: 100%;
    }

    input.referralProgramForm-input {
        width: 100%;
        margin-right: 0;
    }

    .referralProgramForm-btn {
        width: 100%;
        margin-top: 15px;
    }

    .referralProgramHistory table th, .referralProgramHistory td {
        font-size: 14px;
    }

    .referralProgramHistory table thead th {
        width: auto !important;
    }

    input.referralProgramConclusion-sum {
        /* width: 200px; */
    }

    .referralProgramConclusion-btn {
        width: 45%;
        font-size: 5vw;
        height: 13vw;
    }

    .referralProgramConclusion-consideration span {
        max-width: 118px;
        text-align: center;
        line-height: 20px;
        margin-right: 15px;
    }
}

@media (max-width: 600px) {
    .referralProgramConclusion-name,
    .referralProgramHistory-name {
        font-size: 20px;
    }

    .referralProgramConclusion {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 30px;
    }

    input.referralProgramConclusion-sum {
        text-align: center;
    }

    .referralProgramConclusion-ball__item {
        flex: 0 0 100%;
        text-align: center;
    }

    .referralProgramConclusion-ball__item:last-child {
        margin-left: 0;
    }

    .referralProgramConclusion-grid {
        justify-content: space-between;
    }

    .referralProgramConclusion-btn {
        width: 45%;
        font-size: 5vw;
        height: 13vw;
        /* padding: 1vw 0; */
    }

    .referralProgramConclusion-btn,
    input.referralProgramConclusion-sum,
    input.referralProgramConclusion-phone,
    input.referralProgramForm-input,
    .referralProgramForm-btn {
        border-radius: 10px;
    }

    .field-ref-sum {
        width: 50%;
    }
}

@media (max-width: 550px) {

    input.referralProgramConclusion-sum {
        width: 100%;
    }

    .referralProgramConclusion-consideration i {
        width: 36px;
        height: 36px;
        background-size: 100%;
    }

    .referralProgramConclusion-grid--consideration input.referralProgramConclusion-sum {
        width: calc(100% - 205px);
    }

    .referralProgramHistory table th, .referralProgramHistory td {
        font-size: 13px;
        padding-right: 2px;
    }

    .referralProgramConclusion-consideration span {
        font-size: 15px;
        max-width: 90px;
    }

    .referralProgramConclusion-grid--consideration input.referralProgramConclusion-sum {
        width: calc(100% - 153px);
    }

    .referralProgramConclusion-grid--consideration .referralProgramConclusion-consideration {
        margin-left: 10px;
    }

}

@media (max-width: 340px) {
    .referralProgramHistory table {
        display: block;
    }

    .referralProgramHistory table thead {
        display: none;;
    }

    .referralProgramHistory table tbody {
        display: block;
        width: 100%;
    }

    .referralProgramHistory table tbody tr {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;
    }

    .referralProgramHistory table th, .referralProgramHistory td {
        flex: 0 0 50%;
    }
}

.start-program__text-2.referal_popup {
    margin-top: 1vw;
    display: inline-block;
    color: blue;
}

.referralProgramConclusion-ball__item.custom {
    font-size: 15px;
}

.send-vote {
    cursor: pointer;
}

.vote-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.vote__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.vote-item {
    width: calc(50% - 10px);
    margin: 0 5px 30px;
    text-align: center;
}

.send-vote-new {
    margin-top: 30px;
}

.vote-item div:first-child {
    font-size: 18px;
}

.vote-list .title {
    margin: 0 auto 30px;
}

.vote-list__arrow {
    display: none;
}

@media (max-width: 1024px) {
    .vote-item {
        margin-top: 30px;
        margin-bottom: 30px;
        flex-shrink: 0;
        transition: .3s ease transform;
    }

    .vote-list .title {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 20px;
    }

    .vote__list {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        margin-top: 30px;
    }

    .vote-list__arrow {
        background-size: cover;
        z-index: 100;
        font-size: 40px;
        color: #22313a;
        top: 40%;
        display: block;
        margin: 0 6vw;
    }

    .vote-list {
        margin: 0;
    }

    .vote-list .button {
        margin-top: 20vw;
    }

    .vote-list__arrows {
        bottom: 12vw;
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .vote-list__arrows span {
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
        border: 1px solid #2b343c;
        margin: 0 3vw;
    }

    .vote-list__arrows span.active {
        width: 3vw;
        height: 3vw;
        background: #2b343c;
    }
}

.vote-list img {
    display: block;
    max-width: 100%;
}

.vote-list .food_list_item {
    height: auto;
    width: 100%;
}

.vote-list .food_list_item_more {
    width: auto;
    height: auto;
    position: absolute;
    left: -1px;
    top: -1px;
    display: flex;
    bottom: -1px;
    right: -1px;
    border: none;
}

.vote-list .food_list_item__more {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.send-vote,
.vote-success {
    height: 41px;
    line-height: 37px;
    white-space: nowrap;
    font-size: 17px;
    border-radius: 20px;
    padding: 0 20px;
    display: inline-block;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    background: #2b343c;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

.recipes_popup_inner--vote {
    padding-top: 4vw;
    top: 0;
}

.vote-success {
    background: #fb6868;
}

.holder {
    z-index: 99999;
}

.button_edit {
    height: 41px;
    line-height: 37px;
    white-space: nowrap;
    font-size: 17px;
    border-radius: 20px;
    padding: 0 20px;
    display: inline-block;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.pagination .active a {
    background-color: #2b343c;
    border-color: #2b343c;
}

.pagination {
    margin: 20px auto;
}

.pagination > li > a, .pagination > li > span {
    color: #2b343c;
}

.button_green:hover {
    cursor: pointer;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
    border-color: #2b343c;;
    background-color: #2b343c;;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
