.new-photo-area {
    box-sizing: content-box;
    margin: 20px 0px;
    text-align: center;
    vertical-align: middle;
}

.new-photo-area .cropper-label {
    cursor: pointer;
    padding: 10px;
    display: table;
    height: 100%;
    width: 100%;
}

.new-photo-area .cropper-label span {
    display: table-cell;
    vertical-align: middle;
}

.new-photo-area img {
    visibility: hidden;
}

.thumbnail {
    position: absolute;
}

.cropper-widget:hover .new-photo-area {
    opacity: 1
}

.new-photo-area {
    position: relative;
    z-index: 26777270;
    opacity: 0
}

.new-photo-area-changed {
    z-index: 267772713;
    opacity: 1;
}

.cropper-widget:hover img {
    opacity: 0.3
}

.cropper-widget-hover:hover img {
    opacity: 1
}

.cropper-widget-changed .thumbnail {
    display: none;
}

.progress_load .thumbnail {
    width: 100%;
}