@font-face {
    font-family: "Circe";
    src: url("../fonts/shum/Circe-Light.eot");
    src: url("../fonts/shum/Circe-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/Circe-Light.woff2") format("woff2"),
    url("../fonts/shum/Circe-Light.woff") format("woff"),
    url("../fonts/shum/Circe-Light.ttf") format("truetype"),
    url("../fonts/shum/Circe-Light.svg#Circe") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/shum/Circe-Regular.eot");
    src: url("../fonts/shum/Circe-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/Circe-Regular.woff2") format("woff2"),
    url("../fonts/shum/Circe-Regular.woff") format("woff"),
    url("../fonts/shum/Circe-Regular.ttf") format("truetype"),
    url("../fonts/shum/Circe-Regular.svg#Circe") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/shum/Circe-Bold.eot");
    src: url("../fonts/shum/Circe-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/Circe-Bold.woff2") format("woff2"),
    url("../fonts/shum/Circe-Bold.woff") format("woff"),
    url("../fonts/shum/Circe-Bold.ttf") format("truetype"),
    url("../fonts/shum/Circe-Bold.svg#Circe") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/shum/Circe-ExtraBold.eot");
    src: url("../fonts/shum/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/Circe-ExtraBold.woff2") format("woff2"),
    url("../fonts/shum/Circe-ExtraBold.woff") format("woff"),
    url("../fonts/shum/Circe-ExtraBold.ttf") format("truetype"),
    url("../fonts/shum/Circe-ExtraBold.svg#Circe") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/shum/GothamPro.eot");
    src: url("../fonts/shum/GothamPro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/GothamPro.woff2") format("woff2"),
    url("../fonts/shum/GothamPro.woff") format("woff"),
    url("../fonts/shum/GothamPro.ttf") format("truetype"),
    url("../fonts/shum/GothamPro.svg#GothamPro") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/shum/GothamPro-Medium.eot");
    src: url("../fonts/shum/GothamPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/GothamPro-Medium.woff2") format("woff2"),
    url("../fonts/shum/GothamPro-Medium.woff") format("woff"),
    url("../fonts/shum/GothamPro-Medium.ttf") format("truetype"),
    url("../fonts/shum/GothamPro-Medium.svg#GothamPro") format("svg");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/shum/GothamPro-Bold.eot");
    src: url("../fonts/shum/GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/GothamPro-Bold.woff2") format("woff2"),
    url("../fonts/shum/GothamPro-Bold.woff") format("woff"),
    url("../fonts/shum/GothamPro-Bold.ttf") format("truetype"),
    url("../fonts/shum/GothamPro-Bold.svg#GothamPro") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/shum/GothamPro-Black.eot");
    src: url("../fonts/shum/GothamPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/shum/GothamPro-Black.woff2") format("woff2"),
    url("../fonts/shum/GothamPro-Black.woff") format("woff"),
    url("../fonts/shum/GothamPro-Black.ttf") format("truetype"),
    url("../fonts/shum/GothamPro-Black.svg#GothamPro") format("svg");
    font-weight: 900;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: "Circe", "Open Sans", "sans-serif";
    color: #3f3f3f;
    font-weight: 400;
    overflow-y: scroll;
}

input,
textarea,
button {
    font-family: "Circe", "Open Sans", "sans-serif";
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: none;
    border-color: transparent;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
    font-size: 20px;
    font-weight: 400;
    padding: 0 20px;
}

textarea {
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    resize: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li,
ol li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
}

.slow {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.content_inner {
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    background: #fff;
    padding: 48px 80px 78px 90px;
    position: relative;
    min-height: 100%;
}

h1,
.h1 {
    font-size: 60px;
    font-weight: 300;
    margin-left: -0.1em;
    margin-bottom: 16px;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px
}

p + p {
    margin-top: 24px
}

p.small {
    font-size: 16px;
    line-height: 26px;
}

p.small + p.small {
    margin-top: 26px;
}

.bold {
    font-weight: 700;
}

.exbold {
    font-weight: 800;
}

.tittle_afterh1 {
    font-size: 22px;
    font-weight: 700;
    display: inline-block;
    letter-spacing: 0.003em;
}

.tittle_afterh1_green_bottom {
    border-bottom: 2px solid #2b343c;
}

.body__for-man .tittle_afterh1_green_bottom {
    border-bottom: 2px solid #2b343c;
}

.tittle_afterh1_blue_bottom {
    border-bottom: 2px solid #2b343c;
}

.body__for-man .tittle_afterh1_blue_bottom {
    border-bottom: 2px solid #2b343c;
}

.button {
    height: 41px;
    line-height: 37px;
    white-space: nowrap;
    font-size: 17px;
    border-radius: 20px;
    padding: 0 20px;
    display: inline-block;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.button_big {
    height: 61px;
    line-height: 57px;
    padding: 0 32px
}

.button_green {
    background: #2b343c;
    color: #fff;
}

.body__for-man .button_green {
    background: #2b343c;
}

.active .button_green,
.button_green:hover {
    background: #2b343c;
}

.body__for-man .active .button_green,
.body__for-man .button_green:hover {
    background: #2b343c;
}

.button_green_transparent {
    background: transparent;
    border-color: #2b343c;
    color: #000;
}

.body__for-man .button_green_transparent {
    background: transparent;
    border-color: #2b343c;
    color: #000;
}

.button_transparent_green {
    background: transparent;
}

.active .button_transparent_green,
.button_transparent_green:hover {
    color: #fff;
    background: #2b343c;;
}

.button_transparent_green2 {
    background: transparent;
}

.body__for-man .active .button_transparent_green2,
.body__for-man .button_transparent_green2:hover {
    background: #2b343c;
}

.active .button_transparent_green2,
.button_transparent_green2:hover {
    color: #fff;
    background: #2b343c;
}

.button_transparent {
    background: transparent;
}

.active .button_transparent,
.button_transparent:hover {
    color: #fff;
    background: #2b343c;;
}

.body__for-man .active .button_transparent,
.body__for-man .button_transparent:hover {
    background: #2b343c;
}

.button_white {
    background: #fff;
    color: #2b343c;
}

.button_white:hover {
    background: transparent;
    border-color: #fff;
    color: #fff
}

.progress_load_form_photo_buttons {
    text-align: justify;
}

.progress_load_form_photo_buttons:after {
    content: '';
    display: inline-block;
    width: 100%;
}

header {
    width: 100%;
    height: 96px;
    background: #fff;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.13);
    position: relative;
    z-index: 100;
}

.header_wrapper {
    position: relative;
    padding: 0 265px 0 236px;
    height: 100%;
}

.body__for-man .header_logo,
.body__press-for-man .header_logo {
    display: block;
    position: absolute;
    top: 10px;
    left: 97px;
    background: url(../images/project/mobile_logo_pohudenie.png) no-repeat center center;
    width: 153px;
    height: 72px;
}

.body__for-girl .header_logo,
.body__press-for-girl .header_logo {
    display: block;
    position: absolute;
    top: 11px;
    left: 47px;
    background: url(../images/project/mobile_logo.png) no-repeat center center;
    width: 140px;
    height: 72px;
}


.header_logo_black {
    color: #3f3f3f;
    font-size: 35px;
    display: block;
    font-weight: 300;
    line-height: 35px
}

.header_logo_green {
    color: #2b343c;
    font-size: 26px;
    font-weight: 700;
    display: block;
    line-height: 26px
}

.header_main_menu ul {
    text-align: right;
}

.header_main_menu ul li {
    display: inline-block;
    margin: 0 23px;
    line-height: 96px
}

.header_main_menu ul li a {
    font-size: 17px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.header_main_menu ul li.active a,
.header_main_menu ul li a:hover {
    color: #8f705d;
}

.header_user_menu {
    width: 236px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #DCC8BC;
}

.header_user_menu_inner {
    background: transparent;
    position: absolute;
    width: 160px;
    left: 9px;
    top: 8px;
    padding: 13px 20px 13px 23px;

}

.header_user_menu_inner.opened {
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19), 0px 45px 68px 0px rgba(0, 0, 0, 0.13);
    background: #fff;
}

.header_user_photo {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin: 0 30px 0 15px;
    cursor: pointer;
}

.header_user_photo:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    margin-top: -8px;
    border-right: 2px solid #84593F;
    border-bottom: 2px solid #84593F;
    transform: rotate(45deg);
    position: absolute;
    right: -26px;
    top: 50%;
}

.header_user_drop_menu {
    padding: 32px 0 15px;
    display: none;
}

.header_user_drop_menu ul li {
    margin: 3px 0;
}

.header_user_drop_menu ul li a {
    font-size: 16px;
}

.header_user_drop_menu ul li.active a,
.header_user_drop_menu ul li a:hover {
    color: #2b343c;
}

.body__for-man .header_user_drop_menu ul li.active a,
.body__for-man .header_user_drop_menu ul li a:hover {
    color: #2b343c;
}

.content {
    padding: 55px 0 82px;
    min-height: calc(100% - 96px);
}

.top_menu ul {
    background-color: rgba(0, 0, 0, 0.432);
}

.top_menu ul li {
    display: inline-block;
    margin: 0 -2px;
}

.top_menu ul li:first-child {
    margin-left: 0
}

.top_menu ul li a {
    display: inline-block;
    font-size: 17px;
    color: #fff;
    line-height: 61px;
    padding: 0 32px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.top_menu ul li.active a,
.top_menu ul li a:hover {
    background: rgba(0, 0, 0, .2)
}

.progress {
    background: url(../../images/shum/progress_bg.jpg) no-repeat center / cover;
}

.progress_list {
    margin: 0 -17px;
    width: calc(100% + 34px);
    padding-top: 37px;
}

.progress_item {
    width: 314px;
    height: 344px;
    margin: 0 17px 25px;
    border: 10px solid #fff;
    text-align: center;
    float: left;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
}

.progress_item_tb {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
}

.progress_item_td {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 62px;
    position: relative;
    background: #f3f3f3;
}

.progress_item_td.without_button {
    padding-bottom: 0;
}

.progress_item_tittle {
    font-size: 30px;
    font-weight: 700;
}

.progress_item_tittle + .progress_item_result {
    margin-top: 15px;
}

.progress_item .button {
    width: 212px;
    margin-left: -106px;
    position: absolute;
    left: 50%;
    bottom: 34px;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}

.mobile_menu {
    background: #2b343c;
    color: #fff;
    text-align: center;
    padding: 50px 96px;
}

.body__for-man .mobile_menu {
    background: #2b343c;
    color: #fff;
    text-align: center;
}

.close_popup {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    right: 31px;
    top: 39px;
    transform: rotate(45deg);
    z-index: 10;
}

.close_popup:before {
    content: "";
    background-color: #2b343c;
    display: block;
    width: 32px;
    margin-left: -16px;
    height: 4px;
    margin-top: -2px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.black-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

.progress_item_tittle_test {
    font-size: 22px;
    color: white;
    position: relative;
    z-index: 1
}

.progress_item_result_test {
    font-size: 22px;
    color: white;
    position: relative;
    z-index: 1
}

.close_progress {
    height: 0 !important;
    left: 90%;
    position: relative;
    top: 4% !important;
}

.close_custom_popup:after {
    background-color: white !important;
}

.close_custom_popup:before {
    background-color: white !important;
}

.close_popup:after {
    content: "";
    display: block;
    width: 4px;
    background-color: #2b343c;
    margin-left: -2px;
    height: 32px;
    margin-top: -16px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.body__for-man .close_popup:before,
.body__for-man .close_popup:after {
    background-color: #2b343c;
}

.close_dark.close_popup:before,
.close_dark.close_popup:after {
    background: #555555;
}

.mobile_menu_tb {
    height: 100%;
    width: 100%;
    display: table;
}

.mobile_menu_td {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    overflow-y: auto;
}

.mobile_menu_inner {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.mobile_menu_inner ul li a {
    font-size: 36px;
    line-height: 72px;
}

.menu_opener {
    display: block;
    width: 62px;
    height: 41px;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -21px;
    cursor: pointer;
    display: none;
}

.menu_opener span {
    display: block;
    width: 100%;
    height: 5px;
    background: #646464;
}

.menu_opener span + span {
    margin-top: 13px;
}

html.popup_opened,
body.popup_opened {
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.progress_popup {
    background: rgba(0, 0, 0, .71);
    text-align: center;
}

.access_popup {
    text-align: center;

}

.button_green.no_active {
    color: black;
    background-color: transparent;
}

.popup_close_bg {
    background: rgba(0, 0, 0, .71);
}

.access_popup_not_time {
    background: rgba(0, 0, 0, .71);
    text-align: center;
}

.progress_popup_inner {
    width: 1006px;
    margin-left: -503px;
    height: 516px;
    margin-top: -253px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 50px 0 75px 0;
}

.trouble_popup_inner {
    width: 1006px;
    margin-left: -503px;
    margin-top: -253px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 75px 0;
}

.progress_popup_inner_not_time {
    width: 1006px;
    margin-left: -503px;
    height: 266px;
    margin-top: -253px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 75px 0;
}

.progress_popup__inner {
    height: 100%;
    width: 100%;
    padding: 0 96px;
    -webkit-overflow-scrolling: touch;
}

.progress_popup_inner .close_popup {
    right: 23px;
    top: 23px;
    z-index: 2;
}

.progress_popup_inner_not_time .close_popup {
    right: 23px;
    top: 23px;
    z-index: 2;
}

.progress_popup_img {
    width: 215px;
    height: 215px;
    background: url(../images/cover-up/warning_pohudenie.png) no-repeat center;
    background-size: contain;
    margin: 0 auto 38px;
}

.body__for-man .progress_popup_img {
    background: url(../images/cover-up/warning_pohudenie.png) no-repeat center;
    background-size: contain;
}

.progress_popup_text {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

.progress_load {
    background: rgba(0, 0, 0, .71);
}

.progress_load .close_popup {
    right: 23px;
    top: 23px;
    z-index: 2;
}

.progress_load_inner {
    transform: translate(-50%, 0);
    height: 80%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 10%;
    z-index: 2;
}

.progress_load__inner {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 55px 48px 24px;
    position: relative;
    min-width: 475px;
}

.progress_popup--file .progress_load__inner {
    min-width: 1006px;
    padding-left: 460px;

}

.progress_load_form_photo {
    width: 313px;
    position: absolute;
    left: 49px;
    top: 47px;
    display: none;
}

.progress_popup--file .progress_load_form_photo {
    display: block;
}

.progress_load_form_photo_upload input[type="file"] {
    display: none
}

.progress_load_form_photo_upload {
    display: block;
    width: 313px;
    height: 343px;
    border-style: solid;
    border-color: #fff;
    border-width: 11px 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    padding: 25px;
    position: relative;
    background: url(../../images/shum/upload_file.png) no-repeat center 112px #f3f3f3 / 80px 71px;
    margin-bottom: 15px;
}

.progress_load_form_photo_upload .text {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    left: 0;
    bottom: 28px;
    width: 100%;
    display: block;
}

.progress_load_form_photo_upload .text .mobile {
    display: none;
}

.progress_load_tittle {
    font-size: 48px;
    font-weight: 300;
    line-height: 52px
}

.progress_load_tittle_after {
    color: #000;
    font-size: 17px;
    font-weight: 700;
}

.progress_load_form_table label {
    line-height: 41px;
    white-space: nowrap;
    display: block;
    padding-right: 25px;
    vertical-align: middle;
    text-align: right;
    font-size: 17px;
}

.progress_load_form_table input {
    border: 2px solid #cdcdcd;
    border-radius: 20px;
    width: 190px;
    height: 41px;
    text-align: center;
    color: #000;
    font-size: 17px;
    padding: 0 25px
}

.progress_load_form_table table {
    border-collapse: collapse;
}

.progress_load_form_table table tr td {
    padding-bottom: 6px;
}

.load_form_button {
    text-align: center;
    margin-left: -395px;
    width: calc(100% + 420px);
}

.progress_load_inner .load_form_button {
    margin-left: 0;
    width: auto;
}

.progress_load_inner form {
    width: 100%
}

.load_form {
    padding: 28px 0 22px;
}

.text_group {
    padding: 9px 75px 8px 0;
}

.text_group:first-child {
    padding-top: 5px;
}

.text_group.text_group_withimage {
    padding-right: 460px;
}

.text_group + .text_group {
    border-top: 2px solid #2b343c;
}

.body__for-man .text_group + .text_group {
    border-top: 2px solid #2b343c;
}

.text_group_tittle {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px
}

.text_tasks {
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    border-left: 25px solid #98E061;
    padding: 41px 150px 47px 72px;
}

.text_tasks_tittle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 23px;
}

.text_group a {
    color: #2b343c;
}

.body__for-man .text_group a {
    color: #2b343c;
}

.manual_bg {
    background: url(../../images/shum/manual_bg.jpg) no-repeat center top fixed / cover;
}

.owl-carousel.owl-loaded {
    display: block;
}

.motivation_week_item {
    display: inline-block;
    margin: 0 -2px;
}

.motivation_inner {
    background: #fff;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    padding: 30px 145px 54px;
}

.motivation_inner_video {
    width: 100%;
    height: 405px;
    margin: 0 auto 30px;
}

.motivation_inner_video iframe {
    width: 100%;
    height: 100%;
}

.motivation_inner_tittle {
    color: #2b343c;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px
}

.motivation_inner_borderleft {
    position: relative;
}

.motivation_inner_borderleft:before {
    content: "";
    display: block;
    width: 25px;
    height: 100%;
    position: absolute;
    left: -65px;
    top: 0;
    background: #2b343c;
}

p.small + .motivation_inner_borderleft {
    margin-top: 26px;
}

.motivation_bg {
    background: url(../../images/shum/motivation_bg.jpg) no-repeat center right #fff fixed / cover;
}

.food_menu_item {
    display: inline-block;
    margin: 5px -2px;
    vertical-align: top;
}

.food_menu {
    margin: 0;
}

.food_menu.first_noactive {
    margin-left: -20px;
}

.food_menu_list.first_noactive {
}

.food_list {
    width: 1010px;
}

.food_list_item {
    width: 200px;
    height: 260px;
    border: 1px solid #e3e3e3;
    margin: 1px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    float: left;
}

.food_list_item_more {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1px;
    top: -1px;
    background-color: #2b343c;
    border: 1px solid #e3e3e3;
    box-shadow: 0px 15px 68px 0px rgba(81, 176, 80, 0.9);
    padding: 0 10px 0 20px;
    opacity: 0;
    display: table;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    z-index: 1;

}

.body__for-man .food_list_item_more {
    background-color: #2b343c;
}

.food_list_item__more {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.food_list_item_more span {
    display: block;
    font-size: 20px;
    font-weight: 800;
    line-height: 36px;
    color: #fff;
}

.food_list_item:hover > .food_list_item_more,
.food_list_item.active > .food_list_item_more {
    opacity: 1;
}

.food_bg {
    background: url(../../images/shum/food_bg.jpg) no-repeat right top fixed / 100% auto;
}

.recipes {
    width: calc(100% + 90px);
    margin: 0 -45px
}

.recipe {
    width: 424px;
    height: 453px;
    float: left;
    margin: 0 45px;
}

.recipe_img {
    width: 100%;
    height: 300px;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

.recipe_name {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 4px;
}

.recipe a {
    color: #2b343c;
    font-size: 17px;
    font-weight: 400;
}

.recipe a:hover {
    color: #2b343c;
}

.body__for-man .recipe a:hover,
.body__for-man .recipe a {
    color: #2b343c;
}

.recipes_popup {
    background: rgba(0, 0, 0, .71);
}

.recipes_popup_inner {
    position: absolute;
    left: 50%;
    width: 682px;
    margin-left: -341px;
    height: 90%;
    top: 5%;
    z-index: 2;
}

.recipes_popup__inner {
    background: #fff;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    padding: 0 25px 50px;
    position: relative;
    height: auto;
    max-height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.recipes_popup_img {
    width: calc(100% + 50px);
    height: 470px;
    background-image: url(../../images/shum/recipe1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 -25px 30px;
}

.recipes_popup_tittle {
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 21px
}

.recipes_popup_inner p.small {
    line-height: 24px;
}

.popup_close_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.profile_photo {
    width: 314px;
    text-align: center;
    padding-top: 26px;

}

.profile_photo .progress_load_form_photo_upload {
    margin-bottom: 30px;
}

.barbell_bg {
    background: url(../../images/shum/barbell_bg.jpg) no-repeat right top fixed / cover;
}

.profile_changepassword {
    width: 200px;
}

.profile_changepassword form {
    width: 100%;
}

.profile_changepassword form input {
    width: 100%;
    height: 61px;
    border: 2px solid #E1E1E1;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 0 20px;
}

.profile_changepassword form button {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    height: 61px;
    border-radius: 20px;
}

.tittle_afterh1_light {
    color: #484848;
    font-size: 20px;
}

.promo {
    border: 3px solid #2b343c;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    position: relative;
    padding: 39px 305px 31px 25px;
    margin: 40px 0 45px;
}

.promo__main {
    position: relative;
    min-height: 187px;
    padding: 0 0 5px 395px;
    margin-bottom: 24px
}

.promo__main_img {
    box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.22);
    width: 335px;
    height: 187px;
    border-radius: 4px;
    overflow: hidden;
    background-image: url(../../images/shum/promo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
}

.promo__main_tittle {
    font-family: "Gotham Pro";
    color: #2b343c;
    font-size: 20px;
    font-weight: 900;
    line-height: 22px;
    margin-bottom: 22px
}

.promo__main_text {
    font-family: "Gotham Pro";
    color: #313131;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 22px
}

.promo__main a {
    font-family: "Gotham Pro";
    color: #2b343c;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px
}

.promo_main_text {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #313131;
}

.promo_main_text span {
    color: #f16a7f;
}

.promo_main_cost {
    height: 61px;
    line-height: 61px;
    margin-top: 14px;
}

.promo_main_cost span {
    display: inline-block;
    line-height: 61px;
    color: #313131;
    padding: 0 8px;
}

.promo_main_old_cost {
    font-size: 24px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 12px;
}

.promo_main__cost {
    font-size: 30px;
    font-weight: 700;
}

.promo_right_timer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 243px;
    text-align: center;
    background: #2b343c;
    color: #fff;
    padding: 0 30px;
}

.promo_right_timer_tb {
    display: table;
    height: 100%;
    width: 100%;
}

.promo_right_timer_inner_td {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.promo_right_timer .promo_main_text {
    color: #fff;
}

.promo_timer {
    font-size: 72px;
    font-weight: 400;
}

.promo_main_cost .button {
    width: 200px;
    font-size: 20px;
    height: 61px;
    line-height: 57px
}

.faq_item {
    position: relative;
    border-top: 1px solid #2b343c;
    padding: 17px 0 15px;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    min-height: 65px;
}

.body__for-man .faq_item {
    position: relative;
    border-top: 1px solid #2b343c;
    padding: 17px 0 15px;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    min-height: 65px;
}

.faq_item_icon {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid #2b343c;
    position: absolute;
    right: 0;
    top: 12px;
    transform: rotate(45deg);
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.body__for-man .faq_item_icon {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: 2px solid #2b343c;
    position: absolute;
    right: 0;
    top: 12px;
    transform: rotate(45deg);
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.faq_item_icon:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #2b343c;
    border-right: 2px solid #2b343c;
    position: absolute;
    left: 8px;
    top: 8px;
}

.body__for-man .faq_item_icon:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #2b343c;
    border-right: 2px solid #2b343c;
    position: absolute;
    left: 8px;
    top: 8px;
}

.faq_item_tittle {
    font-size: 22px;
    font-weight: 700;
    padding-right: 60px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.faq_item_tittle:hover {
    opacity: 0.75
}

p.fz17 {
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
}

.faq_item p {
    display: none;
}

.faq_item.opened {
    padding: 17px 0 32px;
}

.faq_item.opened .faq_item_tittle {
    margin-bottom: 12px
}

.faq_item.opened .faq_item_icon {
    transform: rotate(225deg);
    top: 12px;
}

.faq_bg {
    background: url(../../images/shum/faq_bg.jpg) fixed no-repeat top right fixed / cover;

}

.question_form {
    padding: 20px 70px 45px 0;
}

.question_form form {
    width: 100%;
}

.question_form form textarea {
    width: 100%;
    background: #fff;
    border: 2px solid #d2d2d2;
    border-radius: 20px;
    height: 320px;
    margin-bottom: 20px;
}

.question_form form button {
    width: 200px;
    font-size: 20px;
}

.communication_text {
    font-size: 22px;
    font-weight: 700;
}

.communication_button {
    margin-bottom: 40px;
}

.communication_bg {
    background: url(../../images/shum/communication_bg.jpg) no-repeat center left fixed / cover;
}

.communication_bg2 {
    background: url(../../images/shum/communication_bg2.jpg) no-repeat center top fixed / cover;
}

.schedule table {
    width: 292px;
    border-collapse: collapse;
    text-align: left;
    float: left;
}

.schedule table tr {
    border-bottom: 1px solid #E6E6E6;
}

.schedule table tr:last-child {
    border-bottom: none;
}

.schedule table tr td {
    font-size: 17px;
    font-weight: 400;
    color: #3f3f3f;
    padding: 11px 10px;
}

.schedule table tr td.schedule_status {
    color: #9c9c9c;
    width: 175px;
    text-align: right;
}

.schedule_payment {
    border: 2px solid #2b343c;
    background: #fff;
    width: 665px;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    float: right;
}

.schedule_payment_top {
    padding: 30px 55px 44px;
}

.schedule_payment_tittle {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px
}

.radio {
    display: block;
    color: #3f3f3f;;
    font-size: 17px;
    font-weight: 700;
}

.radio input {
    display: none !important;
}

.radio .radio_span {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
    padding-left: 35px;
}

.radio .radio_span:before {
    content: "";
    width: 22px;
    height: 22px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #ebebeb;
    border-radius: 11px;
    cursor: pointer;
    border: 4px solid #ebebeb;
    box-sizing: border-box;
}

.radio input:checked + .radio_span:before {
    background: #2b343c;
}

.schedule_payment_week_cost {
    font-size: 17px;
    font-weight: 400;
    display: block;
    padding-left: 35px;
    margin-top: 11px;
}

.schedule_payment_bottom {
    background: #2b343c;
    color: #fff;
    padding: 40px 55px 37px;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
}

.schedule_payment_bottom_tittle {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px
}

.schedule_payment_bottom_cost {
    margin-bottom: 27px;
}

.block_pay {
    font-size: 17px;
}

.schedule_payment_bottom_cost button {
    height: 61px;
    line-height: 57px;
    vertical-align: top;
    width: 200px;
    font-size: 20px;

}

.schedule_payment_bottom_cost span {
    height: 61px;
    line-height: 61px;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    margin-right: 28px;
}

.checkbox {
    display: block;
    color: #3f3f3f;;
    font-size: 12px;
    font-weight: 700;
}

.checkbox input {
    display: none !important;
}

.checkbox .checkbox_span {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
    padding-left: 35px;
}

.checkbox .checkbox_span:before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    cursor: pointer;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.checkbox input:checked + .checkbox_span:before {
    background: url(../../images/shum/checkbox.png) no-repeat center center / contain;;
}

.schedule_payment_bottom .checkbox {
    color: #fff;
}

.schedule_payment .radio + .radio {
    margin-top: 25px;
}

.food_inner {
    background: url(../../images/shum/food_inner.png) no-repeat top right #fff;
    background-size: 330px 330px;
}

.food_inner .text_group {
    padding-right: 240px
}

.food_menu + .tittle_afterh1 {
    margin-top: 24px
}

.text_group + .text_tasks {
    margin-top: 60px;
}

.training .motivation_week {
    margin-bottom: 0;
}

.training .motivation_week .motivation_week_item {
    margin: 0 -7.4px;
}

.training_day {
    display: inline-block;
    margin: 0 -2px;
}

.training_access {
    color: #c6c6c6;
}

.access_popup:hover {
    background: none;
    color: #c6c6c6;;
}

.training_item {
    background: #fff;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    padding: 30px 145px 35px;
}

.training_item + .training_item {
    margin-top: 38px;
}

.training_days {
    margin-bottom: 38px;
}

.training_item_video {
    width: 100%;
    height: 350px;
    margin: 0 auto 14px;
}

.training_item_video iframe {
    width: 100%;
    height: 100%;
}

.training_item_tittle {
    font-size: 22px;
    font-weight: 700;
    color: #2b343c;
    text-align: center;
}

.body__for-man .training_item_tittle {
    font-size: 22px;
    font-weight: 700;
    color: #2b343c;
    text-align: center;
}

.training_item_text {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}

.training_bg {
    background: url(../../images/shum/training_bg.jpg) no-repeat center top fixed / cover;
}

.food_tittle {
    font-size: 30px;
    font-weight: 700;
    border-bottom: 2px solid #2b343c;
    display: inline-block;
    margin-bottom: 6px;
}

.body__for-man .food_tittle {
    border-bottom: 2px solid #2b343c;
}

.food_item_name {
    font-size: 24px;
    margin-bottom: 4px;
}

.food_item_quantity {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px
}

.food_item_img {
    width: 430px;
    height: 315px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: right;
}

.food_item_inner_top table {
    width: 470px;
    border-collapse: collapse;
}

.food_item_inner_top table tr td:first-child {
    width: 20%;
}

.food_item_inner_top table tr td {
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    width: 23%;
}

.food_item_inner_top table tr td:last-child {
    width: 34%;
}

.food_item_inner__top {
    margin-bottom: 24px
}

.food_item_inner__top table {
    float: left;
    margin: 10px 0;
}

.food_item_inner__top table tr {
    border-bottom: 1px solid #E3E3E3;
}

.food_item_inner__top table tr:last-child {
    border-bottom: none;
}

.food_item_inner__top table tr td {
    width: 100%;
}

.food_item_inner {
    box-shadow: 0 15px 150px 0 rgba(0, 0, 0, 0.19);
    padding: 8px 11px 48px 27px
}

.cooking {
    padding: 0 180px 0 30px;
    border-left: 5px solid #2b343c;
}

.body__for-man .cooking {
    border-left: 5px solid #2b343c;
}

.cooking_tittle {
    font-size: 24px;
    margin-bottom: 10px;
}

.cooking p + p {
    margin-top: 17px;
}

.food_item_inner_top {
    margin-bottom: 30px;
}

.food_item + .food_item {
    margin-top: 68px
}

.food__inner .food_menu_list {
    margin-bottom: 22px;
}

.login_page_main {
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
}

.login_page_main_screen_content {
    color: #fff;
    position: relative;
    z-index: 10;

}

.main_screen_content_tittle {
    font-family: "Gotham Pro";
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 8px;
}

.main_screen_content_tittle2 {
    font-family: "Gotham Pro";
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 46px;
}

.main_screen_content_text {
    font-family: "Gotham Pro";
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 48px;
}

.main_screen_content_text2 {
    font-family: "Gotham Pro";
    font-size: 21px;
    font-weight: 500;
    line-height: 36px;
}

.main_screen_content_a {
    position: relative;
    display: inline-block;
    margin-right: 46px;
}

.main_screen_content_a:hover {
    opacity: 0.75
}

.main_screen_content_a:before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 5px;
    opacity: 0.5
}

.main_screen_content_a:after {
    content: "";
    display: block;
    width: 31px;
    height: 41px;
    background: url(../../images/shum/main_screen_content_a.png) no-repeat center / contain;
    position: absolute;
    right: -46px;
    top: 50%;
    margin-top: -20px;
}

.login_page__main {
    background: url(../../images/shum/login_page__main_bg.jpg) no-repeat bottom right fixed / cover;
    position: relative;
    padding: 120px 60px 115px 510px;
    overflow: hidden;

}

.body__for-man .login_page__main {
    background: #2b343c url(../../images/shum/login_page__main_bg_marafon.jpg) no-repeat top left;
    background-size: cover;
}

.login_page_main_layer1 {
    width: 480px;
    height: 480px;
    opacity: 0.08;
    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 240px;
    position: absolute;
    left: 104px;
    top: 50%;
    margin-top: -240px;
    z-index: 1;;
}

.login_page_main_layer2 {
    background: url(../../images/shum/login_page_photo.png) no-repeat center / contain;
    width: 322px;
    height: 560px;
    position: absolute;
    bottom: 0;
    left: 186px;
    z-index: 2;
}

.login_page_main_layer3 {
    display: block;
    width: 156px;
    height: 156px;
    background: url(../../images/shum/login_page_main_video.png) no-repeat center / contain;
    position: absolute;
    left: -238px;
    top: 50%;
    margin-top: -78px;
    z-index: 3;
    border-radius: 78px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.login_page_main_layer3:hover {
    background-color: rgba(0, 0, 0, .2)
}

.login_page_main_layer3:before {
    content: "";
    display: block;
    width: 101px;
    height: 58px;
    background: url(../../images/shum/arrow.png) no-repeat center / contain;
    position: absolute;
    right: -60px;
    bottom: -55px;
}

.login_page_programm {
    height: 78px;
    line-height: 78px;
    width: 33.33333%;
    float: left;
    padding-left: 104px;
    color: #212121;
    font-family: "Gotham Pro";
    font-size: 20px;
    font-weight: 500;
    position: relative;
    margin-bottom: 37px;
}

.login_page_programm .icon {
    width: 78px;
    height: 78px;
    display: block;
    background-color: #76ae44;
    border-radius: 39px;
    margin-top: -39px;
    position: absolute;
    left: 0;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.login_page_programms {
    padding: 30px 120px 15px;
}

.motivation .motivation_week {
    margin-bottom: 38px
}

.food_bg .food_menu_list {
    margin-bottom: 37px;
}

.recipe_inner .food_menu {
    margin-bottom: 12px;
}

.content.login {
    min-height: 100%;
    background: url(../../images/shum/login.png) no-repeat center right / cover;
}

.content.login .wrapper {
    max-width: 980px
}

.content.login .content_inner {
    padding: 48px 0 78px;
}

.login_form {
    border-top: 2px solid #2b343c;
    padding: 44px 80px 117px;
}

.login_form form {
    width: 100%;
    max-width: 348px;
    margin: 0 auto;
}

.help-block {
    color: red;
}

.login_form form input {
    width: 100%;
    height: 61px;
    border: 2px solid #E1E1E1;
    border-radius: 20px;
}

.login_form form input + input {
    margin-top: 10px;
}

.login_form form input + .clearfix {
    margin-top: 15px;
}

.login_form form button {
    display: block;
    width: 50%;
    float: left;
    font-size: 20px;
    height: 61px;
    line-height: 57px;
}

.login_form .remind_password {
    display: block;
    width: 50%;
    height: 61px;
    line-height: 61px;
    text-align: right;
    float: right;
    color: #5478ff;
    font-size: 20px;
}

.content.login h1 {
    text-align: center;
}

.login_form form input[type="password"] {
    margin-top: 10px;
}

.progress_item_slider {
    height: 100%;
    width: 100%;
}

.progress_item_slider_item {
    height: 100%;
    position: relative;
    left: 1px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.progress_item_slider_item .button {
    width: auto;
    margin-left: 0;
    position: static;
    left: 0%;
    bottom: 0;
    color: #fff;
}

.progress_item_slider_item_buttons {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 34px;
    width: 100%;
}

.progress_item_slider,
.progress_item_slider .owl-stage-outer,
.progress_item_slider .owl-stage,
.progress_item_slider .owl-item {
    height: 100%;
}

.progress_item_slider .owl-nav .owl-prev,
.progress_item_slider .owl-nav .owl-next {
    width: 30px;
    height: 56px;
    display: block;
    background: url(../../images/booty/arrow-point-to-right.png) no-repeat center / contain;
    position: absolute;
    top: 50%;
    margin-top: -28px;
}

.body__for-man .progress_item_slider .owl-nav .owl-prev,
.body__for-man .progress_item_slider .owl-nav .owl-next {
    width: 30px;
    height: 56px;
    display: block;
    background: url(../../images/shum/progress_item_slider_bt_red.png) no-repeat center / contain;
    position: absolute;
    top: 50%;
    margin-top: -28px;
}

.progress_item_slider .owl-nav .owl-prev {
    left: 5px;
    transform: rotate(180deg);
}

.progress_item_slider .owl-nav .owl-next {
    right: 5px;
}

.progress_item_slider .owl-nav .owl-prev:hover,
.progress_item_slider .owl-nav .owl-next:hover {
    opacity: 0.75
}

.progress_item_result span {
    display: block;
    text-align: right;
    font-size: 15px;
    line-height: 24px;
    color: #000;
    padding-right: 90px;
}

.training .motivation_week {
    margin-bottom: 12px
}

.food_menu + .motivation_week {
    margin-top: 20px;
}

.motivation_week + .food_menu_list {
    margin-top: 20px;
}

/*start правки 16/03/18*/
.motivation_week_prevweek,
.motivation_week_nextweek {
    display: none;
}

/*end правки 16/03/18*/
.img_profile {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
}

.img_preview_progress {
    display: block;
    width: 313px;
    height: 343px;
    border-style: solid;
    border-color: #fff;
    border-width: 11px 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 15px 150px 0px rgba(0, 0, 0, 0.19);
    padding: 25px;
    position: relative;
    margin-bottom: 15px;
}

#zero-week {
    display: none;
}

#show-button {
    display: none;
    width: 131px;
    margin-left: 0;
    position: absolute;
    left: 59%;
    bottom: -10px;
}

/*start правки 29/03/18*/
.login_page_programm .mobiletext {
    display: none;
}

/*end правки 29/03/18*/

/*start правки 05/04/18*/
.top_menu ul li {
    position: relative;
}

.top_menu ul li .submenu {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    display: none;
}

.top_menu ul li .submenu a {
    white-space: nowrap;
    width: 100%;
}

.top_menu ul li .submenu li {
    width: 100%;
}

.top_menu ul li .submenu a:hover {
    background: rgba(0, 0, 0, .4);
}

.top_menu ul li:hover > .submenu {
    display: block;
}

.top_menu ul li a {
    padding: 0 30px;
}

.top_menu ul li:hover a {
    background: rgba(0, 0, 0, .2);
}

/*end правки 05/04/18*/

.close_popup_test {
    z-index: 2;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    right: 31px;
    top: 39px;
    transform: rotate(45deg);
}

.close_popup_test:after {
    content: "";
    display: block;
    width: 4px;
    margin-left: -2px;
    height: 32px;
    margin-top: -16px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #616161;
}

.close_popup_test:before {
    content: "";
    display: block;
    width: 32px;
    margin-left: -16px;
    height: 4px;
    margin-top: -2px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #616161;
}

.box_shadow {
    width: 100%;
    height: 470px;
    left: 0;
    background-color: black;
    opacity: 0.5;
    position: absolute;
}

.start-program {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    z-index: 1000;
}

.start-program__back {
    padding: 7.29vw 0 0 3.125vw;
    box-sizing: border-box;
    width: 50.83vw;
    height: 29.01vw;
    background: url('/images/start_cover.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -14.5vw;
    margin-left: -25.4vw;
}

.ul_racion {
    font-size: 18px;
}

.start-program__title {
    font-family: 'Gotham Pro Bold';
    color: #000000;
    font-size: 1.5625vw;
    line-height: 1.2;
    margin-bottom: 1.3vw;
}

.start-program__text {
    max-width: 29.2vw;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 2.86vw;
}

.start-program__date {
    color: #ed51de;
    font-family: 'Gotham Pro Bold';
    font-size: 1.5625vw;
}

@media (max-width: 750px) {
    .header_logo {
        background-size: 112px !important;
        margin: 0 !important;
        position: relative !important;
        top: -23px !important;
        left: 0 !important;
        width: 100% !important;
        height: 111px !important;
        z-index: 1 !important;
    }

    .start-program__back {
        padding: 10.9vw 0 0 5.4vw;
        width: 100vw;
        height: 129vw;
        background-image: url('/images/start_cover_mobile.jpg');
        margin-top: -65vw;
        margin-left: -50vw;
    }

    .start-program__title {
        font-size: 5vw;
        margin-bottom: 7.5vw;
    }

    .start-program__text {
        max-width: 87.8vw;
        font-size: 4.375vw;
        margin-bottom: 22.65vw;
    }

    .start-program__date {
        font-size: 4.6875vw;
    }
}

.questions {
    margin-top: 60px;
    margin-bottom: 60px
}

.questions_q,
.questions_a {
    background: #FEF7E5;
    padding: 20px;
    margin-bottom: 20px
}

.questions_a {
    margin-left: 40px;
    margin-bottom: 40px
}

.notice_count {
    padding: 0 4px;
    text-decoration: none;
    font: 700 13px/15px Arial, Helvetica, sans-serif;
    color: #fff !important;
    border-radius: 15px;
    background: #ff8094;
    -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1), 0 5px 10px -5px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .1), 0 5px 10px -5px rgba(0, 0, 0, .5);
    margin: 2px 0 0 2px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
}

.tab-buttons-wrapper {
    margin-bottom: 20px;
    margin-top: 25px;
}

.tab {
    display: none;
}

.tab__visible {
    display: block;
}

.tab-button {
    height: 41px;
    line-height: 37px;
    white-space: nowrap;
    font-size: 17px;
    border-radius: 20px;
    padding: 0 20px;
    display: inline-block;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.tab-button.tab-button__active {
    color: #fff;
    background: #2b343c;
}

.body__for-man .tab-button.tab-button__active {
    background: #2b343c;
}

.popup-action-link {
    color: #2b343c;
}

.body__for-man .popup-action-link {
    color: #2b343c;
}

.body__for-man .show_by_default {
    display: none;
}

.show_for_marafon {
    display: none;
}

.body__for-man .show_for_marafon {
    display: block;
}

.popup_text-normal {
    font-weight: 300;
}

.hero_post_content_wrap {
    background: white;
    border-radius: 3vw;
    box-shadow: -2vw 3vw 12vw 1vw rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 4vw;
    margin: 0 0 0 5vw;
}

@media screen and (min-width: 760px) {
    .hero_post_content_wrap {
        width: 41vw !important;
        padding: 1.6vw 2.6vw !important;
        border-radius: 1vw !important;
        box-shadow: 0vw 0.7vw 2.7vw 0vw rgba(0, 0, 0, 0.2) !important;
        margin: 1vw 5vw 0 0 !important;
    }
}

.special_icon {
    float: right;
    width: 17px;
    position: relative;
    background-size: 17px;
    background-repeat: no-repeat;
    background-image: url(/images/attention-sign-outline.png);
    height: 17px;
    right: -2px;
    top: 39px;
}

.link_progress {
    bottom: -30px;
}

.holder {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}

.preloader {
    /* size */
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: rotatePreloader 2s infinite ease-in;
}

@keyframes rotatePreloader {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
    }
}

.preloader div {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.preloader div:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 10%;
    height: 10%;
    background-color: #ffffff;
    transform: translateX(-50%);
    border-radius: 50%;
}

.preloader div:nth-child(1) {
    transform: rotateZ(0deg);
    animation: rotateCircle1 2s infinite linear;
    z-index: 9;
}

@keyframes rotateCircle1 {
    0% {
        opacity: 0;
    }
    0% {
        opacity: 1;
        transform: rotateZ(36deg);
    }
    7% {
        transform: rotateZ(0deg);
    }
    57% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(2) {
    transform: rotateZ(36deg);
    animation: rotateCircle2 2s infinite linear;
    z-index: 8;
}

@keyframes rotateCircle2 {
    5% {
        opacity: 0;
    }
    5.0001% {
        opacity: 1;
        transform: rotateZ(0deg);
    }
    12% {
        transform: rotateZ(-36deg);
    }
    62% {
        transform: rotateZ(-36deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(3) {
    transform: rotateZ(72deg);
    animation: rotateCircle3 2s infinite linear;
    z-index: 7;
}

@keyframes rotateCircle3 {
    10% {
        opacity: 0;
    }
    10.0002% {
        opacity: 1;
        transform: rotateZ(-36deg);
    }
    17% {
        transform: rotateZ(-72deg);
    }
    67% {
        transform: rotateZ(-72deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(4) {
    transform: rotateZ(108deg);
    animation: rotateCircle4 2s infinite linear;
    z-index: 6;
}

@keyframes rotateCircle4 {
    15% {
        opacity: 0;
    }
    15.0003% {
        opacity: 1;
        transform: rotateZ(-72deg);
    }
    22% {
        transform: rotateZ(-108deg);
    }
    72% {
        transform: rotateZ(-108deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(5) {
    transform: rotateZ(144deg);
    animation: rotateCircle5 2s infinite linear;
    z-index: 5;
}

@keyframes rotateCircle5 {
    20% {
        opacity: 0;
    }
    20.0004% {
        opacity: 1;
        transform: rotateZ(-108deg);
    }
    27% {
        transform: rotateZ(-144deg);
    }
    77% {
        transform: rotateZ(-144deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(6) {
    transform: rotateZ(180deg);
    animation: rotateCircle6 2s infinite linear;
    z-index: 4;
}

@keyframes rotateCircle6 {
    25% {
        opacity: 0;
    }
    25.0005% {
        opacity: 1;
        transform: rotateZ(-144deg);
    }
    32% {
        transform: rotateZ(-180deg);
    }
    82% {
        transform: rotateZ(-180deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(7) {
    transform: rotateZ(216deg);
    animation: rotateCircle7 2s infinite linear;
    z-index: 3;
}

@keyframes rotateCircle7 {
    30% {
        opacity: 0;
    }
    30.0006% {
        opacity: 1;
        transform: rotateZ(-180deg);
    }
    37% {
        transform: rotateZ(-216deg);
    }
    87% {
        transform: rotateZ(-216deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(8) {
    transform: rotateZ(252deg);
    animation: rotateCircle8 2s infinite linear;
    z-index: 2;
}

@keyframes rotateCircle8 {
    35% {
        opacity: 0;
    }
    35.0007% {
        opacity: 1;
        transform: rotateZ(-216deg);
    }
    42% {
        transform: rotateZ(-252deg);
    }
    92% {
        transform: rotateZ(-252deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(9) {
    transform: rotateZ(288deg);
    animation: rotateCircle9 2s infinite linear;
    z-index: 1;
}

@keyframes rotateCircle9 {
    40% {
        opacity: 0;
    }
    40.0008% {
        opacity: 1;
        transform: rotateZ(-252deg);
    }
    47% {
        transform: rotateZ(-288deg);
    }
    97% {
        transform: rotateZ(-288deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}

.preloader div:nth-child(10) {
    transform: rotateZ(324deg);
    animation: rotateCircle10 2s infinite linear;
    z-index: 0;
}

@keyframes rotateCircle10 {
    45% {
        opacity: 0;
    }
    45.0009% {
        opacity: 1;
        transform: rotateZ(-288deg);
    }
    52% {
        transform: rotateZ(-324deg);
    }
    102% {
        transform: rotateZ(-324deg);
    }
    100% {
        transform: rotateZ(-324deg);
        opacity: 1;
    }
}
