@media (max-width: 1399px) {
    .header_main_menu ul li {
        margin: 0 15px;
    }
}

@media (max-width: 1279px) {
    .header_logo {
        left: 46px
    }

    .food_item_inner.referal {
        margin-top: 0;
        padding: 3.4375vw 4.375vw 0;
        margin-bottom: 10px;
        box-shadow: 0 15px 150px 0 rgba(0, 0, 0, 0.19);
    }

    .food_item_inner_top.referal {
        margin-bottom: 0
    }

    .ref-text {
        color: grey;
        font-size: 12px;
    }

    .progress_popup_inner_not_time.ref {
        top: 35% !important;
    }

    .food_item.ref {
        margin-top: 15vw !important;
    }

    .training_access.access_popup.referal {
        font-size: 15px;
    }

    .zamery_img img {
        margin-bottom: 40px;
        width: 210px;
    }

    .zamery_link {
        margin-left: 0;
        margin-top: 10px !important;
    }

    .progress_popup_opener_how {
        font-size: 3.75vw;
    }

    .progress_popup_how img {
        max-width: 250px;
    }

    .progress_item_tittle + .progress_item_result {
        margin-top: 30px;
    }

    .notice_count {
        background-color: #0a73bb;
    }

    .custom_progress_item_result_test {
        top: 35px;
    }

    .ul_racion {
        font-size: 3.75vw;
    }

    .test_item {
        vertical-align: top;
    }

    .header_user_menu {
        width: 186px;
    }

    .header_wrapper {
        padding: 0 200px 0 186px;
    }

    .header_main_menu ul li {
        margin: 0 15px;
    }

    .wrapper {
        padding: 0 46px;
    }

    .top_menu ul li a {
        padding: 0 30px;
    }

    .content_inner {
        padding: 48px 30px 78px 40px;
    }

    .progress_item {
        width: calc(33.3333% - 20px);
        margin: 0 10px 25px
    }

    .progress_list {
        margin: 0 -10px;
        width: calc(100% + 20px);
    }

    .text_tasks {
        padding: 41px 100px 47px 72px;
    }

    .text_group {
        padding: 36px 0 42px;
    }

    .text_group.text_group_withimage {
        padding-right: 410px;
    }

    .motivation_inner {
        padding: 30px 95px 54px;
    }

    .food_list {
        width: 100%;
    }

    .food_list_item {
        width: calc(25% - 2px);
    }

    .vote-item .food_list_item__more,
    .vote-item .food_list_item_more {
        opacity: 0;
        background: none;
        transition: .3s ease all;
        box-shadow: none;
    }

    .vote-item .active .food_list_item__more {
        opacity: 1;
        background-color: #2b343c;
    }

    .vote-item .active .food_list_item_more {
        box-shadow: 0 2.34375vw 10.625vw 0 rgba(81, 176, 80, 0.9);
        background-color: #2b343c;
    }


    .content_inner .recipes {
        width: calc(100% + 60px);
        margin: 0 -30px;
    }

    .recipe {
        width: calc(50% - 60px);
        margin: 0 30px;
    }

    .promo__main_img {
        width: 200px;
        height: 111px
    }

    .promo__main {
        padding: 0 0 5px 260px;
    }

    .question_form {
        padding: 20px 0 45px 0;
    }

    .schedule_payment {
        width: calc(100% - 350px)
    }

    .schedule_payment_top {
        padding: 30px 25px 44px;
    }

    .schedule_payment_bottom {
        padding: 40px 25px 37px;
    }

    .training_item {
        padding: 30px 95px 35px;
    }

    .food_item_inner_top table {
        width: 420px;
    }

    .food_item_img {
        width: 380px;
        height: 280px;
    }

    .food__inner {
        background: #fff;
    }

    .login_page__main {
        padding: 120px 10px 115px 310px;
    }

    .login_page_main_layer1 {
        left: -96px;

    }

    .login_page_main_layer2 {
        left: 45px;
    }

    .login_page_programms {
        padding: 30px 20px 15px;
    }

}

@media (max-width: 1024px) {
    header {
        height: 16.71875vw;
        box-shadow: 0 0.625vw 2.8125vw rgba(0, 0, 0, 0.13);
    }

    .header_wrapper {
        padding: 0 3.125vw;
    }

    .header_logo {
        background-size: 112px !important;
        margin: 0 !important;
        position: relative !important;
        top: -23px !important;
        left: 0 !important;
        width: 100% !important;
        height: 111px !important;
        z-index: 1 !important;
    }

    .header_main_menu {
        display: none;
    }

    .header_user_menu {
        right: 3.125vw;
        width: 25vw;
        border-left: none;
        z-index: 2;
    }

    .header_user_menu_inner {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        padding: 2.03125vw 3.125vw 2.8125vw 3.59375vw;
    }

    .header_user_photo {
        width: 11.875vw;
        height: 11.875vw;
        border-radius: 5.9375vw;
        margin: 0 6.25vw 0 2.65625vw;
    }

    .menu_opener {
        display: block;
    }

    .top_menu {
        display: none;
        height: 0;
    }

    .content {
        padding: 3.90625vw 0 3.125vw;
        min-height: calc(100% - 16.71875vw);
    }

    .wrapper {
        padding: 0 3.125vw;
    }

    .content_inner {
        padding: 2.34375vw 4.6875vw 4.6875vw 4.6875vw;
        min-height: 80vh;
    }

    h1,
    .h1 {
        margin-bottom: 3.59375vw;
        font-size: 6.375vw;
    }

    .custom_h1 {
        line-height: 35px;
    }

    .tittle_afterh1 {
        font-size: 3.75vw;
        letter-spacing: 0;
        margin-top: -1.25vw
    }

    p {
        font-size: 3.75vw;
        line-height: 5vw;
    }

    p + p {
        margin-top: 5vw;
    }

    .first_popup p {
        font-size: 4.5vw;
    }

    .progress_item {
        width: 59.84375vw;
        height: 65.625vw;
        margin: 0 auto 1.875vw;
        border: 1.875vw solid #fff;
        float: none;
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19);
    }

    .button {
        height: 10vw;
        line-height: 9.375vw;
        font-size: 3.90625vw;
        border-radius: 5vw;
        padding: 0 4.6875vw;
    }

    .progress_item_td {
        padding: 4.375vw 3.125vw 11.875vw;
    }

    .progress_item .button {
        width: calc(100% - 6.25vw);
        margin-left: 0;
        left: 3.125vw;
        bottom: 4.21875vw;
    }

    .progress_item_tittle {
        font-size: 5.625vw;
    }

    .progress_item_tittle_test {
        font-size: 5.625vw;
        top: 35px;
    }

    .progress_item_result_test span {
        font-size: 4.625vw;
    }

    .menu_opener {
        width: 9.6875vw;
        height: 6.40625vw;
        left: 3.125vw;
        margin-top: -3.28125vw;
        z-index: 2;
    }

    .menu_opener span {
        height: 0.78125vw;
    }

    .menu_opener span + span {
        margin-top: 2.03125vw;
    }

    .header_user_drop_menu ul li a {
        font-size: 4.375vw;
        line-height: 6.25vw;
    }

    .header_user_photo:after {
        width: 1.5625vw;
        height: 1.5625vw;
        margin-top: -1.25vw;
        border-right: 0.3125vw solid #84593F;
        border-bottom: 0.3125vw solid #84593F;
        right: -4.0625vw;
    }

    .mobile_menu {
        padding: 7.8125vw 15vw;
    }

    .close_popup {
        width: 5vw;
        height: 5vw;
        right: 4.84375vw;
        top: 6.09375vw;
    }

    .progress_load_inner .close_popup {

    }

    .close_popup:before {
        width: 5.6vw;
        margin-left: -2.5vw;
        height: 1.325vw;
        margin-top: -0.3125vw;
        border-radius: 0.3125vw;
    }

    .close_popup:after {
        width: 1.325vw;
        margin-left: -0.3125vw;
        height: 5.6vw;
        margin-top: -2.5vw;
        border-radius: 0.3125vw;
    }

    .mobile_menu_inner ul li a {
        font-size: 5.625vw;
        line-height: 11.25vw;
    }

    .header_user_drop_menu ul li {
        margin: 0.46875vw 0;
    }

    .header_user_drop_menu {
        padding: 5vw 0 2.34375vw;
    }

    .header_user_menu_inner.opened {
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19), 0 7.03125vw 10.625vw 0 rgba(0, 0, 0, 0.13);
    }

    .progress_popup_inner_not_time {
        width: 90%;
        margin-left: 0;
        height: auto;
        top: 50%;
        margin-top: -32.8125vw;
        position: absolute;
        left: 5%;
        padding: 3.90625vw 0;
        z-index: 2;
    }

    .first_popup {
        height: 60%;
        overflow: scroll;
    }

    .progress_popup_inner {
        width: 90%;
        margin-left: 0;
        height: auto;
        top: 50%;
        margin-top: -32.8125vw;
        position: absolute;
        left: 5%;
        padding: 3.90625vw 0;
        z-index: 2;
    }

    .first_popup {
        top: 40%;
    }

    .progress_popup__inner {
        padding: 0 7.8125vw
    }

    .progress_popup_inner .close_popup {
        right: 3.59375vw;
        top: 3.59375vw
    }

    .progress_popup_inner .close_popup_test {
        right: 3.59375vw;
        top: 3.59375vw
    }

    .close_popup_test {
        width: 5vw;
        height: 5vw;
        right: 9px;
        top: 14px;
    }

    .box_shadow {
        height: 63.28125vw;
    }

    .progress_popup_inner_not_time .close_popup {
        right: 3.59375vw;
        top: 3.59375vw
    }

    .progress_popup_img {
        width: 100%;
        height: 33.59375vw;
        margin: 0 auto 5.9375vw;
    }

    .progress_popup_text {
        font-size: 4.6875vw;
        line-height: 5.625vw;
    }

    .progress_load {
        padding: 3.125vw;
        top: 16vw;
        height: calc(100% - 16vw);
    }

    .progress_load_inner {
        width: 100%;
        margin-left: 0;
        height: 100%;
        position: relative;
        left: 0;
        top: 0;
        min-width: 0;
        transform: none;
    }

    .progress_load__inner {
        padding: 8.59375vw 4.6875vw !important;
        min-width: 0 !important;
    }

    .progress_load_inner form {
        width: 100%;
        padding-right: 8.59375vw
    }

    .load_form {
        padding: 3.125vw 3.125vw 0;
    }

    .load_form_button {
        margin-left: 0;
        width: 100%;
    }

    .progress_load_form_photo {
        width: 65vw;
        position: static;
        left: 0;
        top: 0;
        margin: 0 auto;
        padding-left: 1.5625vw;
    }

    .img_profile {
        width: 59.7375vw;
    }

    .training_item_video_instruction {
        height: 180vw;
    }

    .progress_load_form_photo_upload {
        width: 63.4375vw;
        height: 69.53125vw;
        border-width: 2.34375vw 1.875vw;
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19);
        padding: 7.8125vw;
        margin-bottom: 2.03125vw;
        position: relative;
    }

    .progress_load_form_photo_upload_custom {
        width: 59.84375vw;

    }

    .video_link_progress {
        padding: 0px 15vw;
        margin-top: 5vw;
    }

    .button_edit_video_save {
        margin-top: 3vw;
    }

    .progress_load_form_photo_upload .text {
        font-size: 3.4375vw;
        line-height: 4.6875vw;
        bottom: 17.1875vw;
        padding: 0 7.8125vw;
    }

    .progress_load_form_photo_buttons .button {
        height: 8.125vw;
        line-height: 7.5vw;
        border-radius: 3.125vw;
        padding: 0 2.34375vw;
        font-size: 3.28125vw;
        width: 20vw;
    }

    .progress_load_form_table input {
        border-radius: 3.125vw;
        height: 11.40625vw;
        width: 23.75vw;
        padding: 0;
    }

    .progress_load_form_table table tr td {
        padding-bottom: 1.875vw;
        position: relative;
    }

    .progress_load_form_table label {
        font-size: 4.6875vw;
        line-height: normal;
        padding-right: 7.03125vw
    }

    .load_form_button .button {
        height: 11.5625vw;
        line-height: 10.9375vw;
        width: 48.4375vw;
        border-radius: 3.125vw;
    }

    .progress_load_tittle {
        font-size: 9.375vw;
        line-height: 8.4375vw;
    }

    .progress_load_tittle_after {
        font-size: 3.75vw;
        line-height: 5.625vw
    }

    .progress_load_form_table {
        padding: 3.59375vw 0 5.3125vw
    }

    .text_group.text_group_withimage {
        padding-right: 0;
    }

    .text_group {
        padding: 3.90625vw 0 4.375vw;
    }

    .text_group:first-child {
        padding-top: 2px
    }

    .text_group + .text_group {
        border-top: 0.3125vw solid #63acff;
    }

    .text_group_tittle {
        font-size: 4.6875vw;
        line-height: 6.25vw;
        margin-bottom: 20px;
    }

    .text_tasks {
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19);
        border-left: 1.5625vw solid #2b343c;
        padding: 5.9375vw 6.25vw 4.0625vw 4.6875vw;
    }

    .text_tasks_tittle {
        font-size: 3.75vw;
        margin-bottom: 2.34375vw;
    }

    .content_inner.instruction {
        background: #fff 150% 8.59375vw / 50.9375vw 56.71875vw !important;
    }

    .motivation_inner {
        box-shadow: none;
        padding: 0;
    }

    .motivation_inner_video {
        height: 54.6875vw;
        margin: 0 0 5.15625vw;
    }

    .motivation_inner_tittle {
        font-size: 4.6875vw;
        line-height: 4.0625vw;
        margin-bottom: 5.625vw;
    }

    .motivation_inner_borderleft {
        padding: 5.625vw 3.125vw 10.9375vw 5.625vw;
        width: 100%;
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19);
    }

    .motivation_inner_borderleft:before {
        width: 1.5625vw;
        left: 0;
    }

    p.small + .motivation_inner_borderleft {
        margin-top: 5.625vw;
    }

    p.small {
        font-size: 4.21875vw;
        line-height: 5.625vw;
    }

    p.small + p.small {
        margin-top: 5.625vw;
    }

    .motivation_week {
        height: 10.125vw;
        overflow: hidden;
    }

    .motivation_inner_borderleft .exbold {
        margin-bottom: 5.625vw;
        display: inline-block;
    }

    .motivation_week_item {
        display: block;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .motivation_week_item .button {
        background: none !important;
        color: #3f3f3f;
        font-size: 5.625vw;
        font-weight: 700
    }

    .motivation_week .owl-nav .owl-prev,
    .motivation_week .owl-nav .owl-next {
        width: 10vw;
        height: 10vw;
        border: 0.3125vw solid #2b343c;
        border-radius: 5vw;
        position: absolute;
        top: 50%;
        margin-top: -5vw;
    }

    .motivation_week .owl-nav .owl-prev:before {
        content: "";
        display: block;
        width: 2.5vw;
        height: 2.5vw;
        border-left: 0.3125vw solid #2b343c;
        border-bottom: 0.3125vw solid #2b343c;
        transform: rotate(45deg);
        position: absolute;
        left: 3.75vw;
        top: 3.28125vw;
    }

    .motivation_week .owl-nav .owl-prev {
        left: 0;
    }

    .motivation_week .owl-nav .owl-next:before {
        content: "";
        display: block;
        width: 2.5vw;
        height: 2.5vw;
        border-right: 0.3125vw solid #2b343c;
        border-top: 0.3125vw solid #2b343c;
        transform: rotate(45deg);
        position: absolute;
        right: 3.75vw;
        top: 3.28125vw;
    }

    .motivation_week .owl-nav .owl-next {
        right: 0.3125vw;
    }

    .food_menu {
        text-align: left;
    }

    .food_menu .food_menu_item a {
        font-size: 3.75vw;
        height: 7.1875vw;
        line-height: 6.5625vw;
        padding: 0 3vw;
        font-weight: 700;
    }

    .food_menu_list {
        position: relative;
        margin: 0 0 9.375vw 0;
        height: 10.9375vw;
        z-index: 10;
    }

    .food_menu_list:first-of-type {
        z-index: 100;
        position: relative;
    }

    .food_menu__list {
        border: 0.3125vw solid #d5d5d5;
        padding: 1.25vw 12.5vw 1.25vw 4.6875vw;
        border-radius: 3.125vw;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1;
        background: #fff;
    }

    .food_menu__list:after {
        content: "";
        display: block;
        width: 2.8125vw;
        height: 2.8125vw;
        border-right: 0.625vw solid #2b343c;
        border-bottom: 0.625vw solid #2b343c;
        transform: rotate(45deg);
        position: absolute;
        right: 4.6875vw;
        top: 2.8125vw;
        cursor: pointer;
    }

    .body__for-girl .food_menu__list:after,
    .body__press-for-girl .food_menu__list:after {
        content: "";
        display: block;
        width: 2.8125vw;
        height: 2.8125vw;
        border-right: 0.625vw solid #2b343c;
        border-bottom: 0.625vw solid #2b343c;
        transform: rotate(45deg);
        position: absolute;
        right: 4.6875vw;
        top: 2.8125vw;
        cursor: pointer;
    }

    .food_menu_list .food_menu_item {
        display: none;
    }

    .food_menu_list .food_menu_item.active,
    .food_menu__list.opened .food_menu_item {
        display: block;
    }

    .food_menu__list.opened:after {
        transform: rotate(225deg);
        top: 4.6875vw
    }

    .food_menu_list .food_menu_item a {
        font-size: 3.75vw;
        line-height: 7.5vw;
        font-weight: 700;
        height: auto;
        background: none !important;
        color: #3f3f3f;
        padding: 0;
    }

    .body__for-girl .food_menu_list .food_menu_item a,
    .body__press-for-girl .food_menu_list .food_menu_item a {
        background: none;
    }

    .food_list_item {
        width: calc(50% - 0.625vw);
        margin: 0.3125vw;
        height: 40.625vw;
        border: 0.3125vw solid #e3e3e3;
    }

    .food_list_item_more {
        padding: 0 4.6875vw;
        left: -0.3125vw;
        top: -0.3125vw;
        border: 0.3125vw solid #e3e3e3;
        box-shadow: 0 2.34375vw 10.625vw 0 rgba(81, 176, 80, 0.9);
    }

    .food_list_item_more span {
        font-size: 4.375vw;
        line-height: 6.25vw;
        font-weight: 700;
    }

    .content_inner .recipes {
        width: 100%;
        margin: 0;
        padding-right: 16.40625vw;
    }

    .recipe {
        width: 100%;
        margin: 0;
        height: auto;
        float: none;
        padding-bottom: 5.3125vw
    }

    .recipe_img {
        height: 46.875vw;
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 4.0625vw;
    }

    .recipe_name {
        font-size: 5.625vw;
        line-height: 4.0625vw;
        margin-bottom: 1.5625vw;
    }

    .recipe a {
        font-size: 3.75vw;
    }

    .recipes_popup_inner {
        left: 3.90625vw;
        width: calc(100% - 7.8125vw);
        margin-left: 0;
    }

    .recipes_popup--vote .close_popup {
        top: 32vw !important;
    }

    .recipes_popup__inner {
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19);
        padding: 0 3.90625vw 7.8125vw;
    }

    .recipes_popup_img {
        width: calc(100% + 7.8125vw);
        height: 63.28125vw;
        margin: 0 -3.90625vw 4.6875vw;
    }

    .recipes_popup_inner p.small {
        font-size: 4.0625vw;
        line-height: 5.625vw;
    }

    .recipes_popup_tittle {
        font-size: 7.5vw;
        line-height: 6.5625vw;
        margin-bottom: 3.28125vw;
    }

    .recipes_popup_inner .close_popup {
        top: 2.1875vw;
        right: 2.65625vw;
    }

    .profile_photo {
        width: 100%;
        text-align: center;
        padding: 12.96875vw 0 3.125vw;

    }

    .profile_photo.custom_photo {
        width: 100%;
        text-align: center;
        padding: 0vw 0 3.125vw;

    }

    .profile_photo .progress_load_form_photo_upload {
        margin: 0 auto 5.15625vw;
    }

    .profile_photo .button {
        height: 11.5625vw;
        line-height: 10.9375vw;
        width: 48.4375vw;
        border-radius: 3.125vw;
        font-size: 4.0625vw;
    }

    input {
        font-size: 4.0625vw;
        color: #000;
    }

    textarea {
        font-size: 4.0625vw;
        color: #000;
        padding: 3.90625vw
    }

    .profile_changepassword {
        width: 100%;
        padding: 14.6875vw 0 28.125vw;
    }

    .profile_changepassword form input {
        height: 12.1875vw;
        border: 0.3125vw solid #E1E1E1;
        border-radius: 3.125vw;
        margin-bottom: 2.34375vw;
        padding: 0 5vw;
    }

    .profile_changepassword form button {
        font-size: 4.0625vw;
        height: 11.5625vw;
        border-radius: 3.125vw;
    }

    .promo_right_timer {
        position: static;
        height: auto;
        width: 100%;
        padding: 2.8125vw 11.71875vw 0.625vw;
    }

    .promo_right_timer_tb {
        display: block;
        height: auto;
    }

    .promo_right_timer_inner_td {
        display: block;
        height: auto;
    }

    .promo_timer {
        font-size: 11.25vw;
    }

    .promo {
        border: 0.46875vw solid #2b343c;
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19);
        position: relative;
        padding: 7.03125vw 0 0;
        margin: 5.3125vw -3.75vw -3.75vw;
        width: calc(100% + 7.5vw);
    }

    .promo_main_text {
        font-size: 3.75vw;
        font-weight: 700;
        line-height: 4.0625vw;
        margin-bottom: 5.625vw;
    }

    .promo_right_timer .promo_main_text {
        font-size: 4.375vw;
        line-height: normal;
        margin-bottom: 0;
    }

    .promo__main {
        padding: 0 0 5.46875vw;
        margin-bottom: 0;
    }

    .promo__main_img {
        box-shadow: 0 0.625vw 4.21875vw 0 rgba(0, 0, 0, 0.22);
        width: calc(100% - 10.9375vw);
        height: 39.84375vw;
        border-radius: 0.625vw;
        position: static;
        margin: 0 auto 10.9375vw;
    }

    .promo__main_tittle {
        font-size: 4.6875vw;
        line-height: 3.4375vw;
        margin-bottom: 4.6875vw;
    }

    .promo__main_text {
        font-size: 3.75vw;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 2.8125vw;
    }

    .promo__main a {
        font-size: 3.75vw;
        line-height: normal
    }

    .promo_main_cost {
        height: 11.5625vw;
        line-height: 11.5625vw;
        margin-top: 0;
    }

    .promo_main_cost span {
        line-height: 11.5625vw;
        padding: 0 0.625vw;
    }

    .promo_main_old_cost {
        font-size: 3.75vw;
        font-weight: 400;
        margin-left: 0;
    }

    .promo_main__cost {
        font-size: 4.6875vw;
        font-weight: 700;
    }

    .promo_main_cost .button {
        width: 37.5vw;
        font-size: 4.0625vw;
        height: 11.5625vw;
        line-height: 10.9375vw;
        border-radius: 3.125vw;
    }

    .promo_main {
        padding: 0 3.90625vw 4.375vw;
    }

    .tittle_afterh1_light {
        font-size: 3.75vw;
        line-height: 5.625vw;
    }

    .faq_item {
        border-top: 0.3125vw solid #CEE1A4;
        padding: 3.125vw 0 3.75vw;
        min-height: 18.4375vw;
    }

    .faq_item_icon {
        width: 8.125vw;
        height: 8.125vw;
        border-radius: 4.0625vw;
        border: 0.3125vw solid #2b343c;
        top: 5vw;
    }

    .faq_item_icon:after {
        width: 2.5vw;
        height: 2.5vw;
        border-bottom: 0.46875vw solid #2b343c;
        border-right: 0.46875vw solid #2b343c;
        left: 1.875vw;
        top: 1.875vw;
    }

    .faq_item_tittle {
        font-size: 4.6875vw;
        line-height: 5.625vw;
        padding-right: 10vw;
    }

    p.fz17 {
        font-size: 3.75vw;
        line-height: 5.3125vw;
    }

    .faq_item.opened {
        padding: 3.125vw 0 5.625vw;
    }

    .faq_item.opened .faq_item_tittle {
        margin-bottom: 4.375vw
    }

    .faq_item.opened .faq_item_icon {
        transform: rotate(225deg);
        top: 5vw;
    }

    .question_form {
        padding: 4.6875vw 0 9.375vw;
    }

    .question_form form textarea {
        border: 0.3125 bw solid #d2d2d2;
        border-radius: 3.125vw;
        height: 55.46875vw;
        margin-bottom: 3.90625vw;
    }

    .question_form form button {
        font-size: 4.0625vw;
        width: 32.125vw;
        height: 11.5625vw;
        border-radius: 3.125vw;
        line-height: 10.9375vw;
    }

    .communication_text {
        font-size: 4.375vw;
        font-weight: 400;
    }

    .communication_bg2 {
        background: #fff;
    }

    .communication_button .button {
        height: 7.34375vw;
        line-height: 6.71875vw;
        font-size: 3.75vw;
        font-weight: 700;
    }

    .schedule table {
        width: 62.5vw;
        float: none;
        margin-bottom: 5.15625vw;
    }

    .schedule table tr {
        border-bottom: 0.3125vw solid #E6E6E6;
    }

    .schedule table tr td {
        font-size: 3.59375vw;
        padding: 2.65625vw 1.5625vw;
    }

    .schedule table tr td.schedule_status {
        color: #9c9c9c;
        width: 28.125vw;
    }

    .schedule_payment {
        width: calc(100% + 7.8125vw) !important;
        margin: 0 -3.90625vw -3.90625vw;
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19);
        float: none;
    }

    .schedule_payment_top {
        padding: 4.6875vw 7.8125vw 6.5625vw;
    }

    .schedule_payment_tittle {
        font-size: 6.25vw;
        font-weight: 700;
        margin-bottom: 0;
    }

    .radio {
        font-size: 3.75vw;
    }

    .radio .radio_span {
        padding-left: 5.46875vw;
    }

    .radio .radio_span:before {
        width: 3.4375vw;
        height: 3.4375vw;
        border-radius: 1.71875vw;
        border: 0.625vw solid #ebebeb;
    }

    .schedule_payment_week_cost {
        font-size: 3.75vw;
        padding-left: 5.46875vw;
        margin-top: 0;
    }

    .schedule_payment_bottom {
        padding: 5.3125vw 7.8125vw 4.375vw;
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19);
    }

    .schedule_payment_bottom_tittle {
        font-size: 3.75vw;
        margin-bottom: 0;
    }

    .block_pay {
        font-size: 3.75vw;
    }

    .schedule_payment_bottom_cost {
        margin-bottom: 3.90625vw;
    }

    .schedule_payment_bottom_cost button {
        height: 11.5625vw;
        line-height: 10.9375vw;
        width: 38.125vw;
        border-radius: 3.125vw;
        font-size: 4.0625vw;
        float: right;
    }

    .schedule_payment_bottom_cost span {
        height: 11.5625vw;
        line-height: 11.5625vw;
        font-size: 6.25vw;
        margin-right: 4.375vw;
        float: left
    }

    .checkbox {
        font-size: 3.75vw;
    }

    .checkbox .checkbox_span {
        padding-left: 6.25vw;
    }

    .checkbox .checkbox_span:before {
        width: 4.375vw;
        height: 4.375vw;
        top: 0.3125vw;
        border: 0.3125vw solid #fff;
    }

    .schedule_payment .radio + .radio {
        margin-top: 3.90625vw;
    }

    .food_inner {
        background: #fff;
    }

    .tittle_afterh1_green_bottom {
        border-bottom: 0.78125vw solid #2b343c;
    }

    .food_menu + .tittle_afterh1 {
        margin-top: 3.125vw
    }

    .text_group + .text_tasks {
        margin-top: 0;
    }

    .food_inner .text_group {
        padding-right: 0
    }

    .training .motivation_week {
        margin-bottom: 7.03125vw;
        z-index: 1;
    }

    .training .motivation_week .motivation_week_item {
        margin: 0 -0.3125vw;
    }

    .training_days {
        margin-bottom: 5vw;
        z-index: 1;
    }

    .training_day {
        display: block;
        margin: 0;
        float: left;
        width: 20%;
    }

    .training_day .button {
        width: 100%;
        padding: 0;
        height: 7.1875vw;
        line-height: 6.5625vw;
        font-size: 4.21875vw;
    }

    .active .button_transparent_green2,
    .button_transparent_green2:hover {
        background: #2b343c;
    }

    .training_item {
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19);
        padding: 2.34375vw 2.8125vw 4.6875vw;
    }

    .training_list {
        /*margin: 0 -3.59375vw;
        width: calc(100% + 7.1875vw);*/
    }

    .training_item + .training_item {
        margin-top: 1.875vw;
    }

    .training_item_video {
        height: 54.6875vw;
        margin: 0 auto 2.5vw;
    }

    .training_item_video_custom {
        height: 86.6875vw;
        margin: 0 auto 2.5vw;
    }

    .training_item_tittle {
        font-size: 5.15625vw;
        padding: 0 3.90625vw;
        line-height: 6.09375vw
    }

    .training_item_text {
        font-size: 4.21875vw;
        padding: 0 3.90625vw;
        line-height: 5.15625vw;
    }

    .description_winner {
        font-size: 14px;
    }

    .training_bg {
        background: url(../img/training_bg_m.jpg) no-repeat center top / cover;
    }

    .food_tittle {
        font-size: 5.625vw;
        border-bottom: 0.78125vw solid #2b343c;
        margin-bottom: 1.875vw;
    }

    .food_item_name {
        font-size: 4.21875vw;
        font-weight: 700;
        margin-bottom: 0;
    }

    .food_item_quantity {
        font-size: 4.6875vw;
        line-height: 5.9375vw;
        margin-bottom: 0.78125vw
    }

    .food_item_img {
        width: 100%;
        height: 250px;
        background-size: cover;
        float: none;
        margin-bottom: 0;
    }

    .food_item_inner_top table {
        width: 100%;
    }

    .food_item_inner_top table tr td:first-child {
        width: 20%;
    }

    .food_item_inner_top table tr td {
        font-size: 3.4375vw;
        font-weight: 700;
        line-height: 7.8125vw;
        width: 23%;
    }

    .food_item_inner_top table tr td:last-child {
        width: 34%;
    }

    .food_item_inner__top table {
        float: none;
        margin: 2.8125vw 0 1.5625vw;
    }

    .food_item_inner__top table tr {
        border-bottom: 0.3125vw solid #E3E3E3;
    }

    .food_item_inner {
        box-shadow: none;
        padding: 3.4375vw 4.375vw 8.90625vw;
        width: calc(100% + 9.375vw);
        margin: 0 -4.6875vw;
    }

    .cooking {
        padding: 0 3.125vw 0 3.59375vw;
        border-left: 0.78125vw solid #2b343c;
    }

    .cooking_tittle {
        font-size: 4.6875vw;
        font-weight: 700;
        margin-bottom: 4.375vw;
    }

    .cooking p {
        font-size: 4.21875vw;
        line-height: 5.625vw;
    }

    .cooking p + p {
        margin-top: 6.25vw;
    }

    .food_item + .food_item {
        margin-top: 2.96875vw;
    }

    .food_item_inner__top {
        margin-bottom: 0
    }

    .food_item_inner_top {
        margin-bottom: 4.84375vw;
    }

    .food__inner .food_menu_list {
        margin-bottom: 3.4375vw;
    }

    .food__inner .motivation_week {
        margin-bottom: 8.75vw
    }

    header.login_page {
        display: none;
    }

    .login_page {
        padding: 0 0 6.5625vw 0;
        min-height: 100vh;
    }

    .login_page .wrapper {
        padding: 0;
    }

    .login_page_main {
        box-shadow: 0 2.34375vw 23.4375vw 0 rgba(0, 0, 0, 0.19);
    }

    .main_screen_content_tittle {
        font-size: 7.65625vw;
        line-height: 8.28125vw;
        font-weight: 900;
        margin-bottom: 3.125vw;
    }

    .main_screen_content_tittle2 {
        font-weight: 500;
        font-size: 6.23125vw;
        line-height: 6.40625vw;
        margin-bottom: 8.76875vw;
    }

    .main_screen_content_text {
        font-size: 3.75vw;
        font-weight: 700;
        line-height: 5.625vw;
        margin-bottom: 5.625vw;
    }

    .main_screen_content_text2 {
        font-size: 3.75vw;
        font-weight: 700;
        line-height: 5.625vw;
        margin-bottom: 4.375vw
    }

    .main_screen_content_a {
        margin-right: 0;
    }

    .main_screen_content_a:before {
        height: 0.3125vw;
        bottom: 0.78125vw;
    }

    .main_screen_content_a:after {
        display: none;
    }

    .login_page__main {
        padding: 0 4.6875vw 0;
        display: table;
        width: 100%;
        height: 80vh;
    }

    .button_custom {
        width: auto !important;
    }

    .body__for-man .login_page__main,
    .body__press-for-man .login_page__main {
        background: #2b343c url(../images/project/mobile_artem.png) no-repeat bottom center / contain;
        background-position: bottom 0 left 0;
    }

    .body__for-girl .login_page__main {
        background: #2b343c url(../images/project/login_page_photo.png) no-repeat bottom center / contain;
        background-position: bottom 0 left 0;
    }

    .body__press-for-girl .login_page__main {
        background: #2b343c url(../images/project/main_screen_marafon_press_woman_mobile.png) no-repeat bottom center / contain;
        background-position: bottom 0 left 0;
    }


    /** MARAFON SECTION **/
    .login_page_main_screen_content {
        display: table-cell;
        vertical-align: middle;
        padding: 23.4375vw 0;
    }

    .body__rezinki .login_page_main_screen_content {
        vertical-align: top !important;
    }

    .login_page_main_layer1 {
        display: none;
    }

    .login_page_main_layer2 {
        width: 100%;
        height: 90vh;
        position: absolute;
        bottom: 0;
        left: 3.63125vw;
        z-index: 2;
        background-position: left bottom;
    }

    .login_page_main_layer3 {
        display: block;
        width: 25vw;
        height: 25vw;
        position: relative;
        left: 0;
        top: 0;
        margin-top: 0;
        z-index: 3;
        border-radius: 12.5vw;
    }

    .login_page_main_layer3:before {
        width: 18.59375vw;
        height: 18.59375vw;
        position: absolute;
        right: -23.4375vw;
        bottom: 9.375vw;
        transform: rotate(-70deg)
    }

    .login_page_programm {
        height: 12.1875vw;
        line-height: 12.1875vw;
        width: 50%;
        float: left;
        padding-left: 14vw;
        color: #212121;
        font-size: 3.75vw;
        margin-bottom: 6.40625vw;
        padding-right: 1.5625vw;
    }

    .login_page_programm .icon {
        width: 12.1875vw;
        height: 12.1875vw;
        border-radius: 6.09375vw;
        margin-top: -6.09375vw;
    }

    .login_page_programms {
        padding: 13.125vw 3.125vw 7.5vw;
    }

    .login_page .menu_opener {
        z-index: 100;
        left: auto;
        right: 4.0625vw;
        top: 15vw;
        margin-top: 0;
    }

    .login_page .menu_opener span {
        background: #fff;
    }

    .motivation .motivation_week {
        margin-bottom: 8.75vw
    }

    .communication_button {
        margin-bottom: 4.0625vw;
    }

    .food_menu.first_noactive {
        margin-left: 0;
    }

    .food_menu_list.first_noactive {
        margin-left: 0;
    }

    .recipe_inner .food_menu {
        margin-bottom: 4.375vw;
    }

    .content.login {
        padding: 20.46875vw 3.125vw;
    }

    .content.login .content_inner {
        padding: 2.34375vw 0 4.6875vw 0;
    }

    .login_form {
        border-top: 0.3125vw solid #2b343c;
        padding: 10.78125vw 9.6875vw 18.28125vw 8.125vw;
    }

    .first_popup {
        height: 60%;
        overflow: scroll;
    }

    .body__for-girl .login_form,
    .body__press-for-girl .login_form {
        border-top: 0.3125vw solid #2b343c;
    }

    .login_form form {
        max-width: 100%;
    }

    .login_form form input {
        height: 11.5625vw;
        border: 0.3125vw solid #E1E1E1;
        border-radius: 3.125vw;
    }

    .login_form form input + input {
        margin-top: 3.75vw;
    }

    .login_form form input + .clearfix {
        margin-top: 4.21875vw;
    }

    .login_form form button {
        font-size: 4.0625vw;
        height: 11.5625vw;
        line-height: 10.9375vw;
    }

    .login_form .remind_password {
        height: 11.5625vw;
        line-height: 11.5625vw;
        font-size: 4.0625vw;
    }

    .login_form form input[type="password" i

] {
        letter-spacing: 0.3125vw;
        font-size: 4.0625vw;
    }

    input[type="text"],
    input[type="password"],
    input[type="tel"] {
        font-size: 4.0625vw;
        padding: 3.125vw;
    }

    /*.progress_item_tittle + .progress_item_result {
        margin-top: 1.5625vw;
    }*/
    .progress_item_slider_item_buttons {
        bottom: 0vw;
        opacity: 0.5;
    }

    .progress_item_slider .owl-nav .owl-prev,
    .progress_item_slider .owl-nav .owl-next {
        width: 4.6875vw;
        height: 8.75vw;
        margin-top: -4.375vw;
    }

    .progress_item_slider .owl-nav .owl-prev {
        left: -11.71875vw;
    }

    .progress_item_slider .owl-nav .owl-next {
        right: -11.71875vw;
    }

    .progress_item_result span {
        font-size: 3.75vw;
        line-height: 5vw;
        padding-right: 10.9375vw;
    }

    .progress_item_result .button {
        position: static;
        margin-top: 2.5vw
    }

    .progress_item_td.with_result {
        padding-bottom: 0;
    }

    .progress_list {
        padding-top: 5.78125vw;
    }

    .progress_load_form_photo_upload .text .mobile {
        display: inline;
        position: relative;
        top: 35px;
    }

    .progress_item_slider_item {
        left: 0;
    }

    .progress_load_form_photo_upload .text .desktop {
        display: none;
    }

    .food_menu_item {
        margin: 0.78125vw -0.3125vw;
    }

    .food_menu + .motivation_week {
        margin-top: 3.125vw;
    }

    .motivation_week + .food_menu_list {
        margin-top: 3.125vw;
    }

    /*start правки 16/03/18*/
    .motivation_week_item {
        display: none;
        padding: 0 10vw;
    }

    .motivation_week_item.active {
        display: block;
    }

    .motivation_week {
        position: relative;
    }

    .motivation_week_prevweek,
    .motivation_week_nextweek {
        display: block;
        width: 10vw;
        height: 10vw;
        border: 0.3125vw solid #2b343c;
        border-radius: 5vw;
        position: absolute;
        top: 50%;
        margin-top: -5vw;
        z-index: 2;
    }

    .body__press-for-girl .motivation_week_prevweek,
    .body__press-for-girl .motivation_week_nextweek,
    .body__for-girl .motivation_week_prevweek,
    .body__for-girl .motivation_week_nextweek {
        display: block;
        width: 10vw;
        height: 10vw;
        border: 0.3125vw solid #2b343c;
        border-radius: 5vw;
        position: absolute;
        top: 50%;
        margin-top: -5vw;
        z-index: 2;
    }

    .motivation_week_prevweek {
        left: 0;
    }

    .motivation_week_prevweek:before {
        content: "";
        display: block;
        width: 2.5vw;
        height: 2.5vw;
        border-left: 0.3125vw solid #2b343c;
        border-bottom: 0.3125vw solid #2b343c;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        left: 3.75vw;
        top: 3.28125vw;
    }

    .body__for-girl .motivation_week_prevweek:before,
    .body__press-for-girl .motivation_week_prevweek:before {
        content: "";
        display: block;
        width: 2.5vw;
        height: 2.5vw;
        border-left: 0.3125vw solid #2b343c;
        border-bottom: 0.3125vw solid #2b343c;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        left: 3.75vw;
        top: 3.28125vw;
    }

    .motivation_week_nextweek {
        right: 0;
    }

    .motivation_week_nextweek:before {
        content: "";
        display: block;
        width: 2.5vw;
        height: 2.5vw;
        border-right: 0.3125vw solid #2b343c;
        border-top: 0.3125vw solid #2b343c;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        right: 3.75vw;
        top: 3.28125vw;
    }

    .body__for-girl .motivation_week_nextweek:before,
    .body__press-for-girl .motivation_week_nextweek:before {
        content: "";
        display: block;
        width: 2.5vw;
        height: 2.5vw;
        border-right: 0.3125vw solid #2b343c;
        border-top: 0.3125vw solid #2b343c;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        right: 3.75vw;
        top: 3.28125vw;
    }

    /*end правки 16/03/18*/
}

@media (max-width: 1024px) {

    .instruction__action {
        background: #fff 150% 8.59375vw / 50.9375vw 56.71875vw !important;
    }

    .trouble_popup_inner {
        width: 100vw;
        margin-left: 0;
        margin-top: 0;
        background: #fff;
        position: absolute;
        left: 0%;
        top: 35%;
        padding: 5vw 0;
    }

    .thumbnail {
        left: 50%;
        transform: translate(-50%, 0);
    }

    .new-photo-area {
        max-width: 100%;
    }

}

.mobile_progress_item_no_photo {
    height: 150vw;
}

.progress_item_result + #show-button {
    bottom: 0px;
    transform: translate(-50%, 0);
    left: 50%;
    width: auto;
}

.progress_item_result .col-md-6:nth-child(2) {
    margin-bottom: 25px;
}

/*start правки 29/03/18*/

@media (max-width: 1024px) {
    .recovery-password .program-list {
        flex-wrap: wrap;

    }

    .recovery-password .program-list__link {
        width: 100%;
    }

    .login_page_programm .mobiletext {
        display: block;
    }

    .error__action h1 {
        padding-top: 25%;
        font-size: 9vw;
    }

    .login_page_programm .mobiletext p {
        font-size: 4.0625vw;
        line-height: 6.25vw;
    }

    .mobiletext .arrow {
        display: inline-block;
        width: 3.90625vw;
        height: 3.125vw;
        vertical-align: middle;
        margin-left: 1.953125vw;
        position: relative;
    }

    .mobiletext .arrow:before {
        content: "";
        display: block;
        width: 3.90625vw;
        height: 0.585938vw;
        background: #666;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -0.390625vw;
    }

    .mobiletext .arrow:after {
        content: "\2192";
        display: block;
        width: 1.5625vw;
        height: 1.5625vw;

        position: absolute;
        right: 0;
        top: -1vw;
        color: inherit;
    }

    .mobiletext .arrow:before {
        display: none;
    }

    .login_page_programm {
        float: none;
        width: 100%;
        height: 100%;
        line-height: normal;
        min-height: 19.53125vw;
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        padding-left: 24.41406vw;
        font-size: 4.6875vw;
    }

    .login_page_programms a {
        display: table;
        width: 100%;
        margin-bottom: 8.007813vw;
        min-height: 19.53125vw;
    }

    .login_page_programm .icon {
        width: 19.53125vw;
        height: 19.53125vw;
        border-radius: 9.765625vw;
        margin-top: -9.765625vw;
    }

    /** cover-up SECTION **/
    .body__press-for-girl .start-program__back {
        background: url(../images/cover-up/coverup_mobile_for-girl.jpg)
    }

    .body__press-for-man .start-program__back {
        background: url(../images/cover-up/coverup_mobile_for-man.jpg)
    }

    .start-program__text {
        max-width: 80%;
        font-size: 4.5vw;
        margin-bottom: 1.86vw;
    }

    .start-program__title {
        max-width: 100%;
        font-size: 4.5vw;
        padding-top: 5vw;
        line-height: 1.3;
    }

    .start-program__text-2 {
        font-size: 4.5vw;
        margin-bottom: 2%;
        max-width: 50%;
        margin-top: 12vw;
    }

    .start-program__link {
        font-size: 4.5vw;
        margin-bottom: 1vw;
        max-width: 50%;
        display: inline-block;
        margin-top: 3vw;
    }

    .start-program__link-2 {
        display: block;
        width: 40%;
        font-size: 20px;
        height: 50px;
        line-height: 48px;
        margin-top: 5%;
    }

    .start-program__back {
        padding-top: 4vw;
    }

    /** cover-up SECTION **/
}

/*end правки 29/03/18*/

@media (max-width: 1279px) {
    .top_menu ul li a {
        padding: 0 1.3vw;
    }

    .start-program__text-2.referal_popup {
        margin-top: 6vw;
        display: inline-block;
    }

    .referralProgramConclusion-consideration {
        margin-left: 10px;
        height: 14vw;
        align-items: center;
    }

    .button_edit_label {
        display: none;
    }
}

@media (max-width: 1024px) {
    .vote-item {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .recipes_popup_inner--vote {
        padding-top: 8vw;
        top: 30vw;
    }

    .recipes_popup_inner--vote .recipes_popup__inner {
        padding-top: 7vw;
    }

    .recipes_popup_inner--vote .close_popup {
        top: 17vw
    }
}

@media (max-width: 1024px) {
    .vote__action .food_item_name {
        font-size: 4.21875vw;
        font-weight: 300;
        margin-bottom: 0;
    }

}
