html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.text-success {
    color: #28a745 !important;
}

.text-danger {
    color: #dc3545 !important;
}

.table {
    text-align: center;
}

.kartik-sheet-style th {
    text-align: center;
}

.btn_my {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-group_hidden {
    display: flex;
}

.content-wrapper {
    height: auto !important;
}

.for-man {
    background-color: #b2cdef !important;
}

.for-man-clone {
    background-color: #b2cdef !important;
}

.for-girl {
    background-color: pink !important;

}

.for-girl-clone {
    background-color: pink !important;

}

.press-for-girl {
    background-color: #a0a653 !important;

}

.press-for-man {
    background-color: #455fa6 !important;
}

.header.for-man {
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: cursive;
    background-color: #b2cdef !important;
}

.header.for-girl {
    background-color: white !important;
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: cursive;
}

.kv-grid-table tbody tr:hover {
    cursor: pointer;
}

@media (max-width: 1279px) {
    .group-index .kv-grid-table thead .kartik-sheet-style th {
        display: none;
    }

    .group-index .kv-grid-table thead .kartik-sheet-style td:nth-child(3) {
        display: block !important;
    }

    .group-index .kv-grid-table thead .kartik-sheet-style th:nth-child(3) {
        display: block !important;
    }


    .user-index .kv-grid-table thead .kartik-sheet-style td {
        display: none;
    }

    .user-index .kv-grid-table thead .kartik-sheet-style th {
        display: none;
    }

    .user-index .kv-grid-table thead .kartik-sheet-style td:nth-child(3) {
        display: block !important;
    }

    .user-index .kv-grid-table thead .kartik-sheet-style td:nth-child(2) {
        display: block !important;
    }

    .user-index .kv-grid-table thead .kartik-sheet-style td:nth-child(4) {
        display: block !important;
    }

    .content {
        height: auto !important;
    }
}

.user-footer {
    background-color: #4f4f4f !important;
}

.kv-grid-demo td span a {
    margin: 0 15px;
}

.control-sidebar-bg, .control-sidebar {
    width: 320px !important;
    right: -320px !important;
}

.control-sidebar.control-sidebar-open, .control-sidebar.control-sidebar-open + .control-sidebar-bg {
    right: 0 !important;
}

tbody td:last-child span a {
    font-size: 20px;
}