@media screen and (max-width: 1154px) {
    .youtube {
        width: 100% !important;
        height: 250px !important;
    }

    .hor_menu.weeks li {
        margin-top: 15px;
    }

    .menu_webinar {
        margin-top: 0 !important;
        height: 70px !important;
    }

    iframe {
        width: 100% !important;
    }

    table thead, table tr:first-child,
    .new_group tr:first-child,
    .new_group th {
        display: none;
    }

    .menu_top ul {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateZ(0px);
        -webkit-transform: translate3d(0, 0, 0);
    }

    .popup .progress_add_left_photo_second,
    .popup .progress_add_left_photo_third {
        width: 100%;
    }

    .custom_icon_top {
        bottom: 0 !important;
    }

    .instr img {
        width: 100% !important;
        height: auto !important;
    }

    .weight_img img {
        width: 100%;
        height: auto;
    }

    .menu_expressWeight {
        margin-top: 10px !important;
    }

    .menu_expressWeight svg {
        width: 45px !important;
        position: relative;
        left: 5px;
    }

    .iconExpress1 {
        margin-left: 6px;
        position: relative;
        width: 50px;
        height: 36px;
        top: 6px;
    }

    .photo_before_text > img, .photo_after_text > img {
        max-width: 140px;
    }

    .progress_add_right input[type="text"] {
        width: 100%;
    }

    div.trouble-row > .end-question {
        display: block;
    }

    div.trouble-row > div.answer-question {
        float: none;
        display: block;

    }

    .trouble-row .fl {
        float: none;
    }

    .answer-question {
        display: inline-block !important;
        width: 90px !important;
    }

    .trouble-row div {
        width: auto;
    }

    .page_green .btn.question-closed, .page_green .btn.question-open {
        font-size: 12px;
        width: 90px !important;
    }

    div.trouble-row > div.end-question {

        display: inline-block;
        width: 140px !important;
    }

    div.trouble-row > div.end-question button {

        width: 150px !important;
    }

    .field-comment-photo_before > label > img,
    .field-comment-photo_after > label > img {
    }

    #comment-photo_before,
    #comment-photo_after {
        width: 135px;
    }

    .col-photo {
        margin-left: 10px;
    }

    .photo_before_text,
    .photo_after_text {
        width: 140px;
    }

    div#popup1 {
        width: auto;
    }

    div.block_tab_upload {
        width: 100%;
        position: relative;
    }

    .progess_item_wrap {
        width: 100%;
        height: 123vw;
    }

    .photo-wrapper {
        width: auto;
    }

    body {
        background: #FFFFFF !important;
    }

    .qa_link {
        display: none;
    }

    .top_user_area {
        display: none;
    }

    .mobile-top-avatar {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 3rem;
        height: 3rem;
        z-index: 3;
        border-radius: 1.5rem;
        overflow: hidden;
        margin-top: 13px;
    }

    .button-sv-pr {
        width: auto;
    }

    .progress_add_right label {
        width: 230px;
    }

    .mobile-top-avatar a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .mobile-top-avatar img {
        width: 100%;
        height: 100%;
    }

    .page_signup .logo,
    .logo {
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 111px;
        background: url(/images/mobile_logo3.png) no-repeat center center;
        border-bottom: solid 3px #efefef;
        z-index: 1;
    }

    .body__for-man .logo {
        background: url(/images/shum/mobile_logo_red.png) center top no-repeat;
    }


    .popup_wrapper {
        margin: auto;
        width: 300px;
    }

    .payment_need {
        width: 90%;
    }

    .mu_yours_view {
        width: 560px;
        max-width: 90%;
    }

    .mu_yours_view p {
        padding-bottom: 20px;
        font-size: 20px;
    }

    .mu_yours_view .btn {
        margin-bottom: 17px;
    }

    .mu_yours_view .popup_content {
        padding-top: 4px;
    }

    .page_signup .form_group > label,
    .page_signup .form_group > input,
    .page_signup .form_group .col_right {
        width: 100%;
        padding-right: 0;
    }

    .page_signup .form_group > label {
        margin-top: 1rem;
    }

    .page_with_menu .form_group .left_col, .page_signup .form_group .left_col {
        width: 100%;
        padding-right: 0;
        margin-top: 1rem;
    }

    .page_signup .form_group .left_col > label {
        margin-bottom: 0;
    }

    .popup.padding.dynamic {
        height: 1040px;
    }

    .page_wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .page_width {
        width: 100%;
        padding: 0 1rem;
        margin-bottom: 0;
    }

    .admin_top_menu {
        margin: 0;
        width: 100%;
        display: block;
    }

    .type_program_adm {
        background-color: #f7f7f7;
    }

    .page_with_menu {
        position: inherit;
    }

    .page_with_menu .menu {
        position: absolute;
        top: 19px;
        left: 0;
        width: 4rem;
        height: 4rem;
        background: url(/images/hamburger.svg) no-repeat 1rem 1rem;
        background-size: auto;
        z-index: 3;
        min-height: 3rem;
    }

    .page_with_menu .menu .close_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.6;
        z-index: 4;
    }

    .page_with_menu .menu .close_menu_2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 65%;
        margin-left: 35%;
        height: 100%;
        z-index: 80;
        overflow: auto;
        -webkit-user-drag: none;
        -webkit-overflow-scrolling: touch;
        -khtml-user-select: all;
        -moz-user-select: all;
        -o-user-select: all;
        user-select: all;
        touch-action: auto;
    }

    .close-menu-button {
        position: absolute;
        height: 2rem;
        width: 2rem;
        top: 0;
        left: 88vw;
        z-index: 99;
    }

    .close-menu-button:before {
        font-size: 40px;
        content: "+";
        display: inline-block;
        transform: rotate(45deg);
        z-index: 7;
        color: #FFFFFF;
    }

    .page_with_menu .menu svg {
        vertical-align: middle;
    }

    .page_with_menu .menu ul {
        display: none;
        top: -19px;
        width: 85vw;
        background: #FFFFFF;
        position: absolute;
        padding: 1rem;
        z-index: 5;
        touch-action: auto;
    }

    .page_with_menu .menu li {
        text-align: left;
        padding-right: 0;
        border-bottom: solid 3px #efefef;
    }

    .page_with_menu .menu li.mobile-menu {
        display: block;
    }

    .page_with_menu .menu li.mobile-menu.first-child {
        margin-top: 1rem;
    }

    .page_with_menu .menu li.mobile-menu a {
        height: 4rem;
        color: #000000;
    }

    .page_with_menu .menu a {
        height: 4rem;
        position: relative;
    }

    .page_with_menu .menu .active a {
        border: 0;
    }

    .page_with_menu .menu a span {
        height: 4rem;
        position: absolute;
        left: 4rem;
        top: 0;
        line-height: 4rem;
        display: block;
    }

    .page_with_menu .menu li.mobile-menu a span {
        left: 0;
    }

    .page_with_menu .menu .active .icon_wrapper {
        line-height: 4rem;
    }

    .page_with_menu .page_content {
        width: 100%;
        padding: 0;
    }

    .page_content {
        padding: 0;
    }

    .page_with_menu.page_welcome .menu {
        display: block;
    }

    .page_welcome .bottom_image_registered {
        display: none;
    }

    .page_welcome .welcome_registered {
        border-bottom: solid 3px #efefef;
    }

    .page_welcome .welcome_registered:last-child {
        border-bottom: none;
    }

    .page_welcome .welcome_registered .welcome_registered_info {
        width: 70%;
        padding-left: 1rem;
        padding-top: 0.5rem;
    }

    .page_welcome svg {
        width: 80px;
        vertical-align: top;
    }

    .page_welcome .columns_wrapper {
        margin: 0;
    }

    .page_welcome .video_wrapper {

    }

    iframe {
        width: 90vw;
        height: 28vh;
    }

    .page_welcome .bottom_image {
        position: relative;
        background: url(/images/welcome_bottom.png);
        width: 90vw;

    }

    .about_project {
        padding-right: 0;
    }

    .page_welcome .col_5 {
        width: auto;
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .page_content h1, .page_content h2, .page_content h3 {
        font-size: 1.6rem;
    }

    .page_with_menu.page_welcome .btn {
        width: 100%;
    }

    .page_welcome .svg_wrapper {
        text-align: left;
        display: inline-block;
    }

    .page_welcome .col_5 h4 {
        display: inline-block;
        margin-left: 1rem;
    }

    .page_with_menu .hor_menu .right_hor_menu_wrapper {

    }

    .right_hor_menu {
        display: none !important;
    }

    .right_hor_menu.mobile {
        margin-top: 2rem;
        display: block;
        width: 100%;
        padding: 0.5rem;
    }

    .page_food .page_content .recipes .recipe .recipe_info {
        width: 100%;
    }

    .recipe-normal {
        display: none;
    }

    .recipe-mobile {
        display: inherit;
    }

    .recipe_header {
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .recipe_header img {
        width: 100%;
    }

    .recipe_header p {
        position: absolute;
        bottom: 2rem;
        text-align: center;
        font-size: 2rem;
        color: #FFFFFF;
        width: 100%;
    }

    .recipe_header span {
        display: block;
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .recipe_header span a {
        color: #FFFFFF;
    }

    .popup .close {
        width: 35px;
        height: 35px;
        right: 0;
    }

    .popup .close:before,
    .popup .close:after {
        position: absolute;
        top: 13px;
        left: 5px;
        width: 27px;
        height: 4px;
    }

    .popup_content.exclamation_point .sign_wrapper {
        font-size: 1rem;
        padding: 1rem;
    }

    .aferta .popup_content {
        padding: 0.5rem;
    }

    .page_motivation .hor_menu.weeks li,
    .page_trainings .hor_menu.weeks li {
        display: none;
    }

    .page_motivation .hor_menu.weeks li.active,
    .page_trainings .hor_menu.weeks li.active {
        display: block;
        width: 80%;
    }

    .page_trainings .hor_menu.weeks li.active a {
        background: #ffedf0;
        color: #000000;
    }

    .page_motivation .hor_menu.weeks li.active a {
        background: #fef3ef;
        color: #000000;
    }

    .page_motivation .hor_menu.weeks li.row-right,
    .page_motivation .hor_menu.weeks li.row-left {
        display: block;
        background: #faad8f;
        color: #FFFFFF;
    }

    .hor_menu.training-number {
        display: none;
    }

    .page_trainings .hor_menu.weeks li.row-left {
        display: block;
        background: #ff8094;
    }

    .page_trainings .hor_menu.weeks li.row-right {
        display: block;
        background: #ff8094;
    }

    .page_trainings .hor_menu.weeks li.row-left a {
        color: #FFFFFF;
    }

    .page_trainings .hor_menu.weeks li.row-right a {
        color: #FFFFFF;
    }

    .page_payment .payment_left {
        width: 100%;
        padding: 0;
    }

    .page_payment .payment_right {
        width: 100%;
    }

    .page_payment .page_content h3 {
        margin-bottom: 1rem;
    }

    .progress_wrapper .progress_item {
        /* width: 48%; */
        /* height: 58vw; */
        /* margin-right: 4%; */
    }

    .progress_wrapper .progress_item:nth-child(3n) {
        margin-right: 4%;
    }

    .progress_wrapper .progress_item:nth-child(2n) {
        margin-right: 0;
    }

    .progress_wrapper .progress_item img {
        width: 100%;
    }

    .progress_wrapper .progress_item .add_result {
        padding: 10px;
        width: 80%;
        line-height: normal;

    }

    .popup.padding {
        padding: 15px;
    }

    .popup.padding.mu_padding {
        padding: 50px 35px;
    }

    .mu_yours_view .popup.padding {
        padding-left: 40px;
        padding-right: 40px;
    }

    .popup.padding .popup_content .registration_first {
        text-align: center;
        position: relative;
        top: 5vw;
    }

    .popup.padding .popup_content .registration_second {
        text-align: center;
        margin: 0 10% 0 10%;
        position: relative;
        bottom: 5vw;
    }

    .user_food_update {
        left: 29px;
        background-size: 220px;
    }

    .user_food_update_index {
        top: 228px;
        left: 47px;
        background-size: 300px;
    }

    .popup_wrapper.not_time .popup.padding {
        padding: 2rem;
    }

    .popup .progress_add_right {
        margin-left: 0;
        width: 100%;
        height: auto;
        padding: 1rem 1rem 0;
    }

    .popup .progress_add_left {
        width: 100%;
    }

    .progress_add_left .field-progress-photo label {
        width: 100%;
    }

    .progress_add_left input[type="file"] {
        width: 100%;
    }

    .page_signup .radio {
        width: 90vw;
    }

    .chat_row .chat_avatar {
        width: 100%;
    }

    .chat_row .message_wrapper .message {
        width: 75%;
    }

    .chat_row .chat_message_reply.message_wrapper .message {
        width: 70%;
    }

    .chat_row.chat-right {
        padding-left: 0;
    }

    .send_wrapper {
        padding-top: 1rem;
        margin: 1rem 0;
        border-top: 1px solid #f1f1f1;
    }

    .send_wrapper .field-personalchat-message textarea, .send_wrapper .field-groupchat-message textarea {
        width: 100%;
    }

    .send_wrapper .field-personalchat-message, .send_wrapper .field-groupchat-message {
        float: none;
    }

    .page_with_menu .menu .menu_communication .notice_count {
        display: none;
        position: absolute;
        left: 8rem;
        top: 1rem;
        line-height: 1.5rem;
        min-width: 1.5rem;
        height: 1.5rem;
        text-align: center;
    }

    .new_weeks {
        display: block;
    }

    #ration_custom_img {
        width: 100%;
    }

    #ration_custom_table {
        width: 100%;
    }

    .page_with_menu .menu .menu_question .notice_count {
        display: none;
        position: absolute;
        left: 8rem;
        top: 1rem;
        line-height: 1.5rem;
        min-width: 1.5rem;
        height: 1.5rem;
        text-align: center;
    }

    .page_with_menu .hor_menu span.notice_count, .notice_count {

    }

    .special {
        margin-bottom: 90px;
    }

    .bg-gray {
        margin-right: 0;
    }

    .countdown-wrapper {
        width: 100%;
        margin-top: 25px;
        padding: 30px 0;
    }

    .hours_minutes {
        text-align: center;
    }

    .special_columns .col1 {
        width: 100%;
    }

    /*КУРАТОРЫ*/
    .page_groups .grouped_form_elements {
        padding: 0;
        background: none;
    }

    table thead,
    .new_group th {
        display: none;
    }

    .page_admin_ration table tr:first-child,
    .page_admin_recipe table tr:first-child,
    .member_info table tr:first-child {
        display: block;
    }

    .new_group td,
    .table tbody td,
    .new_group tr {
        display: inline-block;
        background: none;
        width: 100%;
    }

    .table tbody td {
        padding: 0.5rem 0;
    }

    .table tbody tr {
        border-bottom: solid 3px #efefef;
    }

    .member_info table td,
    .table div.mobile-left,
    .table div.mobile-right {
        display: inline-block;
        width: 49%;
    }

    .ui-accordion .ui-accordion-content {
        padding: 0 1rem 1rem;
    }

    .member_area .menu {
        position: relative;
        background: none;
        width: 100%;
        height: auto;
    }

    .member_area .menu ul {
        display: block;
        height: auto;
        width: 100%;
        position: relative;
        padding: 0;
    }

    .member_area .menu ul li {
        width: 25%;
        text-align: center;
    }

    .page_with_menu .member_area .menu .icon_wrapper,
    .page_with_menu .member_area .menu .active .icon_wrapper {
        line-height: 2rem;
    }

    .member_area .menu ul:after {
        top: -8px;
    }

    .page_with_menu .member_area .menu li a {
        height: auto;
    }

    .member_area .menu a span {
        position: relative;
        height: auto;
        left: 0;
        display: block;
    }

    .page_members .member_info_wrapper .member_right {
        float: none;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .page_members .member_info_wrapper .member_info {
        float: none;
        width: 100%;
        clear: both;
    }

    .member_info .member_info {
        display: none;
    }

    .member_info .member_info.mobile {
        display: block;
    }

    .member_info .member_info.mobile table {
        width: 100%;
    }

    .page_members .member_info_wrapper .member_info.mobile td {
        padding-right: 0;
    }

    .page_members .member_info_wrapper .member_info.mobile tr {
        /* margin-bottom: 15px; */
    }

    .page_members .member_info_wrapper .member_info.mobile td:nth-child(2) {
        margin-bottom: 15px;
    }

    .page_members .member_info_wrapper .member_info.mobile td:nth-child(1) {
        text-transform: uppercase;
        font-family: "Gotham Pro Bold";
        color: rgb(199, 199, 199);
        margin-bottom: 15px;
    }

    .member_area {
        border-top: none;
        padding: 0;
        margin: 1rem 0;
    }

    .page_members .page_content .exercises .exercise .exercise_info {
        width: 100%;
    }

    /*АДМИНКА*/
    .grouped_form_elements .form-group,
    .grouped_form_elements .labels_on_top .form-group {
        float: none;
        width: 100%;
    }

    .grouped_form_elements .labels_on_top .form-group select, .grouped_form_elements .labels_on_top .form-group input {
        width: 100%;
    }

    .labels_on_top.with_padding {
        padding-left: 0;
    }

    .grouped_form_elements .elements {
        float: none;
        padding-right: 0;
    }

    .grouped_form_elements .hint {
        padding-left: 0;
    }

    .grouped_form_elements .form-group .btn {
        width: 100%;
    }

    .instruction_img_menu {
        width: 63px;
        height: 66px;
    }

    .instruction_img_menu svg {
        margin: 3.2vw 0 0 1.5vw;
        width: 45px;
    }

    .page_with_menu .menu .icon_wrapper svg {
        width: 45px;
        margin-left: 5px;
        /* height: auto; */
        /* display: block; */
    }

    .page_with_menu .menu .icon_wrapper .icon-youtube {
        width: 40px !important;
        margin-left: 10px;
    }

    .page_with_menu .form_group .col_right, .page_signup .form_group .col_right {
        width: 100%;
    }

    .page_trainings .name, .page_motivation .name,
    .page_content h1, .page_content h2, .page_content h3 {
        letter-spacing: normal;
    }

    .page_with_menu .form_group button[type="submit"], .page_signup .form_group button[type="submit"] {
        width: 100%;
    }

    .ui-accordion .ui-accordion-header {
        height: auto;
    }

    .page_payment .payment_right {
        padding: 1rem;
    }

    .page_payment .payment_right .summary_wrapper .summary {
        width: 100%;
        float: none;
        margin-bottom: 1rem;
    }

    .page_payment .payment_right .send_pay_wrapper {
        float: none;
        width: 100%;
    }

    .page_payment .payment_left h3:after,
    .page_payment .payment_right h3:after {
        margin-top: 0;
    }

    .flex-row {
        flex-direction: column;
    }

    .page_with_menu .form_group input[type="text"], .page_with_menu .form_group input[type="text"], .page_signup .form_group input[type="password"], .page_signup .form_group input[type="text"] {
        width: 100%;
    }

    .page_with_menu .form_group textarea {
        width: 100%;
    }

    .progress_wrapper .progress_item .add_result {
        font-size: 11px;
    }

    .den_1 {
        border: 1px solid black;
        font-size: 18px;
        height: 30px;
        width: calc(100% - 91px);
    }

    .den_2 {
        height: 30px;
    }

    .den_questionnaire_line {
        flex-wrap: wrap;
    }

    .den_questionnaire_line > div:nth-child(1) {
        width: 100%;
    }

    .den_questionnaire_line > div:nth-child(2) {
        width: 100%;
    }

    .den_page_confirm {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .den_page_confirm > div:nth-child(1) {
        width: 100%;
        padding-top: 15px;
    }

    .den_page_confirm > div:nth-child(1) button {
        width: 100%;
    }

    .den_page_confirm > div:nth-child(2) {
    }

    .den_page_confirm > div:nth-child(2) .form_group {
    }

    .page_curator .group_info {
        display: flex;
        padding-top: 10px;
        width: 100%;
    }

    .page_curator .group_member_count {
        width: 30%;
    }

    .page_curator .group_member_start {
        width: 70%;
    }

    #den_program_nav {
        padding-top: 140px;
    }

    #den_program_nav form {
        padding-bottom: 10px;
        display: block;
    }

    #gde_mozg_pixat_v_ul_ne_li > a {
        /* width: 100%; */
        /* height: 30px; */
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid;
        line-height: normal;
        margin-bottom: 16px;
    }

    #den_program_nav .presets {
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #c2c2c2;
    }

    #den_program_nav .presets select {
        width: 100%;
    }

    #den_program_nav_button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    #den_program_nav_button button {
        font-size: 18px;
        padding: 0 2.5%;
    }

    #gde_mozg_pixat_v_ul_ne_li {
        display: block;
    }

    .page_food .page_content .recipes .recipe .recipe_img {
        margin: 0;
        width: 100%;
        height: 76vw;
        margin-bottom: 4vw;
        position: relative;
    }

    .page_food .page_content .recipes .recipe .recipe_img img {
        width: calc(100% + 2rem);
        height: 100%;
        position: absolute;
        left: -1rem;
    }

    .drop_down_norm {
        position: relative;
        display: block;
    }

    .drop_down_norm ul {
        position: absolute;
        background: white;
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 300;
        border: 1px solid #b369c3;
        width: 100%;
        display: none;
    }

    .drop_down_norm ul li {
        padding: 0;
    }

    .drop_down_norm ul li a {
        padding: 10px 15px;
        display: block;
    }

    .drop_down_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        border: 1px solid #b369c3;
        cursor: pointer;
    }

    .drop_down_title span {
        color: #b369c3;
        padding-left: 10px;
    }

    .drop_down_title .svg_box {
        height: 100%;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #b369c3;
        /* transition: 0.3s esae-out; */
    }

    .drop_down_title .svg_box svg {
        fill: white;
        display: block;
        width: 15px;
        height: 15px;

    }

    .drop_down_title.open .svg_box {
        transform: rotate(180deg);
    }

    #first_pop_up_den {
    }

    #first_pop_up_den h3 {
    }

    #first_pop_up_den p {
    }
}

body {
}

.item__feedback {
    background-color: #fff7e4;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 20px;
    overflow: hidden;
}

.item__feedback-text {
    font-size: 20px;
    line-height: 25px;
    word-wrap: break-word;
}

.btn--1 {
    width: 100%;
    display: block;
    background-color: #ae64bf;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 28px;
    text-decoration: none;
    color: #fff;
    border: none;
}

.btn--1-group {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.page_red a.btn--1 {
    color: #fff;
}

.estimates {
    margin-bottom: 30px;
}

.item__estimates {
    margin-bottom: 30px;
}

@media screen and (max-width: 423px) {
    .popup.padding.dynamic {
        height: 1180px;
    }
}

@media screen and (max-width: 510px) {
    #qwe .photo_before_text, #qwe .photo_after_text {
        width: 50%;
    }

    .field-comment-photo_before {
        width: 50%;
    }

    .field-comment-photo_after {
        width: 50%;
    }

    #comment-photo_before {
        width: 100%;
    }
}

@media screen and (max-width: 1154px) {
    .page_with_menu .menu .active .mu_coment {
        border-width: 0;
    }

    .photo_before_text > img,
    .photo_after_text > img {
        max-width: 275px;
        max-height: 322px;

    }

    .photo_before_text,
    .photo_after_text {
        padding: 0 10px;
    }

    .page_comment .photo_before_text,
    .page_comment .photo_after_text {
        width: auto;
    }

    .page_with_menu .btn {
        display: inline-block;
        border: 0;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px;
        padding: 5px 45px;
        text-decoration: none;
    }

    .mu_yours_view .btn {
        font-size: 35.5px;
        font-weight: 400;
        text-transform: lowercase;
        line-height: 35px;
        height: 91px;
    }
}

@media screen and (max-width: 820px) {
    .popup {
        width: 90%;
    }
}

@media screen and (max-width: 640px) {

    #qwe .photo-wrapper {
        justify-content: space-between;
    }

    .field-comment-photo_before {
        width: 50%;
        padding-left: 0;
        text-align: left;
    }

    .field-comment-photo_after {
        text-align: right;
        width: 50%;
        padding-right: 0;
    }

    .not_time,
    .payment_need,
    .popup_wrapper {
        position: absolute;
    }

    .payment_need {
        position: fixed;
        height: auto;
        top: 50%;
        transform: translate(0, -50%);
        bottom: auto;
        bottom: initial;
    }

    .not_time,
    .payment_need,
    .popup_help {
        position: none !important;
    }

    .page_wrapper {
        position: relative;
    }

    .feedback_textarea_first {
        margin-top: 0px;
    }

    .page_content .user-name {
        font-family: 'Gotham Pro Bold';
        color: #ff8094;
        font-size: 44px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 25px;
        line-height: 55px;
        border-bottom: 2px solid #f4eaf7;
        padding-bottom: 20px;
        margin-bottom: 30px;
        text-align: left;
    }

    .photo_after_text img, .photo_before_text img {
        max-width: 100%;
        height: auto;
    }

    .cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
        font-size: 1.6em;
    }

    .mu_popup_wr .popup_content {
        padding: 15px;
    }

    #qwe .photo_before_text, #qwe .photo_after_text {
        width: 100%;

    }

    .field-comment-photo_before > label > img,
    .field-comment-photo_after > label > img {

        display: block;
        max-width: 100%;
    }

    .mu_btn {
        margin-bottom: 20px;
    }

    .photo_before_text > img, .photo_after_text > img {
        max-width: 100%;
    }

    /*header {
        height: 111px;
    }*/
    #qwe .form_group {
        margin-bottom: 0px;
    }

    .page_comment .photo_before_text, .page_comment .photo_after_text {
        width: 50%;
    }

}

@media screen and (max-width: 500px) {
    .mu_photo-wrapper-txt {
        font-size: 20px;
    }

    .item__rev-name {
        font-size: 20px;
    }

    .photo-wrapper {
        font-size: 20px;
    }
}

@media screen and (max-width: 420px) {
    .mu_with-back {
        padding: 15px;
    }

    .item__rev-name {
        font-size: 15px;
    }

    .mu_yours_view .popup.padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mu_yours_view {
        max-width: 85%;
    }

    .page_content .user-name {
        font-size: 26px;
    }

    .curator_name {
        width: auto;
        font-size: 18px;
    }

    .item__estimates, .mu_item__estimates {
        margin-bottom: 15px;
    }

    .curator_star .cancel-on-png, .curator_star .cancel-off-png, .curator_star .star-on-png, .curator_star .star-off-png, .curator_star .star-half-png,
    .mu_item__estimates .cancel-on-png, .mu_item__estimates .cancel-off-png, .mu_item__estimates .star-on-png, .mu_item__estimates .star-off-png, .mu_item__estimates .star-half-png {
        font-size: 1.5em;

    }

    .cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
        font-size: 1.5em;
    }

    .field-comment-photo_before > label > img, .field-comment-photo_after > label > img {
        width: 100%;
    }

    .mu_photo-wrapper-txt {
        font-size: 16px;
    }

    .photo-wrapper {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .popup.padding.mu_padding {
        padding: 0px;
    }
}

@media screen and (max-width: 570px) {
    .mu_yours_view .btn {
        font-size: 23px;
        height: 70px;
        padding: 5px 10px;
    }

    .page_with_menu .btn {
        padding: 5px 12px;
    }
}

@media screen and (max-width: 350px) {
    .curator_star .cancel-on-png, .curator_star .cancel-off-png, .curator_star .star-on-png, .curator_star .star-off-png, .curator_star .star-half-png,
    .mu_item__estimates .cancel-on-png, .mu_item__estimates .cancel-off-png, .mu_item__estimates .star-on-png, .mu_item__estimates .star-off-png, .mu_item__estimates .star-half-png {
        font-size: 1.4em;
    }

    .cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
        font-size: 1.4em;

    }

    .mu_yours_view .btn {
        font-size: 18px;
    }
}

@media screen and (max-width: 640px) {
    .page_content > p {
        font-size: 20px;
        line-height: 25px;
        color: #313131;
    }

    .page_content h4.estimates-name {
        font-size: 26px;
        font-family: 'Gotham Pro Bold';
        color: #313131;;
    }

    .curator_name {
        font-size: 19px;
    }

    .page_content.mu_admin_content h4.estimates-name {
        font-size: 36px;
    }

    .mu_admin_content .curator_name {
        font-size: 24px;
    }

    #qwe .form_group.field-comment-curator_comment {
        margin-bottom: 27px;
    }

    #qwe .form_group.field-comment-program_comment {
        margin-top: 30px;
        padding-bottom: 100px;
        border-bottom: 2px solid #ededed;
        margin-bottom: 60px;
    }

    .page_with_menu .form_group, .page_signup .form_group {
        margin-bottom: 10px;
    }

    .feedback_textarea_first {
        margin-top: 0px;
    }

    .menu_top ul {
        background-color: #fff;
    }

    .page_content .with-back {
        font-size: 20px;
        padding: 30px;
    }

    .page_content .with-back h4 {
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .item__estimates {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .curator_name {
        float: none;
        width: 100%;
        font-family: 'Gotham Pro Bold';
        color: #313131;
    }

    .curator_1,
    .curator_2,
    .curator_3 {
        float: none;
        width: 50%;
        text-align: right;
    }

    .page_content h3 {
        font-size: 44px;
        line-height: 55px;
        text-transform: uppercase;
        text-align: left;
        margin-top: 25px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        border-bottom: 2px solid #f4eaf7;
    }

    h3:after {
        display: none;
    }

    .mu_yours_view p:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .page_content h3 {
        font-size: 36px;
        line-height: 45px;
    }
}

@media screen and (max-width: 450px) {
    #qwe .form_group.field-comment-program_comment {
        margin-top: 10px;
        margin-bottom: 30px;
        padding-bottom: 60px;
    }

    .page_content h3 {
        font-size: 32px;
        line-height: 40px;
    }

    .field-comment-photo_before {
        padding-right: 10px;
    }

    .field-comment-photo_after {
        padding-left: 10px;
    }
}

@media screen and (max-width: 400px) {
    .page_content h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .page_content .with-back {
        padding: 15px;
    }
}

@media screen and (max-width: 350px) {
    .page_content h3 {
        font-size: 22px;
        line-height: 28px;
    }

}

@media screen and (max-width: 420px) {
    .curator_name {
        font-size: 17px;
    }
}

@media screen and (max-width: 450px) {
    .mu_admin_content .curator_name {
        font-size: 22px;
    }
}

@media screen and (max-width: 400px) {
    .mu_admin_content .curator_name {
        font-size: 20px;
    }
}

@media screen and (max-width: 370px) {
    .mu_admin_content .curator_name {
        font-size: 17px;
    }
}

.mu_yours_view {
    position: fixed;
}

.mu_popup_wr {
    position: fixed;
}

@media (max-width: 750px) {
    .detect-item:hover .detect-desc {
        padding-bottom: 3vw;
        padding-top: 4vw;
    }

    .detect-items {
        width: auto;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .detect-item {
        width: 33.333%;
        padding-bottom: 2.34375vw;
    }

    .detect-item img {
        max-width: 100%;
        /* height: 20.3125vw; */
        height: 22vw;
        max-height: initial;

    }

    .detect-item__text {
        font-size: 3.125vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .detect-desc__item {
        font-size: 2.8125vw;
        line-height: 5.78125vw;
    }
}
