html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}


textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */


/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


html {
    font-size: calc(10vw / 16.80);
    font-family: 'Gilroy';
}

input, textarea, button {
    font-family: 'Gilroy';
}

@media screen and (max-width: 768px) {
    html {
        font-size: calc(10vw / 3.75);
    }
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../../fonts/Gilroy-Semibold.woff') format('woff'),
    url('../../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../../fonts/Gilroy-Regular.woff') format('woff'),
    url('../../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../../fonts/Gilroy-Medium.woff') format('woff'),
    url('../../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy-Black.woff2') format('woff2'),
    url('../../fonts/Gilroy-Black.woff') format('woff'),
    url('../../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../../fonts/Gilroy-Light.woff') format('woff'),
    url('../../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy-Heavy.woff2') format('woff2'),
    url('../../fonts/Gilroy-Heavy.woff') format('woff'),
    url('../../fonts/Gilroy-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../../fonts/Gilroy-Bold.woff') format('woff'),
    url('../../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    max-width: 168rem;
    background-color: #1e1f25;
}

.menu--open {
    height: 100%;
    overflow: hidden;
}

.container {
    padding: 0 16.3rem;
    margin: 0 auto;
}

.container__pay {
    background: url("../../images/payment/bgpay@2x.jpg") no-repeat;
    background-size: cover;
    background-position: top;
}

.container__form {
    padding: 0 34.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65.6rem;
}

.logo {
    width: 10.9rem;
    height: 1.65rem;
}

.logo__link {
    text-decoration: none;
    display: block;
}

.header {
    background: url("../../images/payment/bgheader@2x.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.line {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    left: 16.2rem;
    top: 0;
}

.line-2 {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    left: 49rem;
    top: 0;
}

.line-3 {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    left: 83.9rem;
    top: 0;
}

.line-4 {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    left: 118rem;
    top: 0;
}

.line-5 {
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    left: 152rem;
    top: 0;
}

.line-6 {
    position: absolute;
    width: 2px;
    height: 3.7rem;
    background-color: #ffffff;
    left: 83.9rem;
    bottom: 0;
}

.line-7 {
    position: absolute;
    width: 2px;
    height: 3.7rem;
    background-color: #ffffff;
    left: 83.9rem;
    top: 0;
}

.lines {
    z-index: -1;
}

.popup__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    top: 0;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    display: none;
    z-index: 10000;
}

.popup__menu-links {
    display: flex;
    flex-direction: column;
}

.popup__menu-link {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.button__close {
    width: 1.8rem;
    height: 1.8rem;
    background: none;
    border: none;
    padding: 0;
    position: relative;
    right: 2rem;
    z-index: 10001;
    display: none;
}

.popup__menu-link:not(:last-child) {
    margin-bottom: 4.5rem;
}

.header__img {
    position: absolute;
    bottom: 0;
    right: 19.5rem;
    width: 66.7rem;
    height: 86.7rem;
    z-index: 100;
}

.header__menu {
    padding: 4.6rem 4rem 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10.3rem;
}

.header__menu--pay {
    margin-bottom: 3.6rem;
}

.header__links {
    display: flex;
    align-items: center;
}

.header__link {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.85px;
    text-decoration: none;
    margin-right: 9.4rem;
    transition: all .3s ease;
}

.header__link:hover {
    color: #1eb8d2;
}

.menu__button {
    background: none;
    border: none;
    padding: 0;
    width: 2.4rem;
    height: 1.7rem;
}

.header__txt {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
}

.header__txt--blue {
    color: #1eb8d2;
    display: block;
}

.header__title {
    color: #ffffff;
    font-size: 9rem;
    font-weight: 300;
    margin: 4.2rem 0 33.1rem;
}

.price__button {
    display: flex;
    align-items: center;
}

.price__button--header {
    padding-bottom: 20.2rem;
}

.price {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 3.37rem 7.1rem;
    box-sizing: border-box;
    display: flex;
    align-items: baseline;
    height: 10.6rem;
}

.price__txt {
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.37;
    text-decoration: line-through;
    text-transform: uppercase;
}

.price__txt--blue {
    color: #1eb8d2;
    text-transform: uppercase;
    font-size: 3.4rem;
    margin-left: 2rem;
    text-decoration: none;
}

.button {
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    color: #000000;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-transform: uppercase;
    border: none;
    padding: 4.5rem 7rem 3.5rem 6.5rem;
    box-sizing: border-box;
    height: 10.6rem;
    transition: all .3s ease;
    position: relative;
    z-index: 330;
}

.button:hover {
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, .4);
}

.prize {
    background-color: #111215;
    padding: 11.5rem 0 0;
    position: relative;
    z-index: 10;
}

.prize__title {
    color: #ffffff;
    font-size: 3.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    width: 71.4rem;
    margin: 0 auto;
    line-height: 1.5;
}

.prize__title br {
    display: none;
}

.prize__img {
    width: 59.7rem;
    height: 38.1rem;
    display: block;
    padding-bottom: 10rem;
    margin: 7rem auto 0;
}

.press {
    background: url("../../images/payment/bgpress@2x.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 18.1rem 0 20.5rem;
    position: relative;
}

.press__title {
    color: #ffffff;
    font-size: 5.8rem;
    font-weight: 300;
    line-height: 1.39;
    text-transform: uppercase;
    width: 62.5rem;
}

.press__title--blue {
    color: #1eb8d2;
    margin: 3.8rem 0 3.1rem;
}

.press__img {
    position: absolute;
    bottom: 0;
    right: 40%;
    width: 36.6rem;
    height: 97.8rem;
    transform: translate(40%, 0);
    z-index: 100;
}

.press__img--mob {
    display: none;
}

.press__text {
    width: 62rem;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.press-info {
    padding: 12rem 0 13.4rem;
    position: relative;
}

.press-info__title {
    width: 80.4rem;
    color: #1eb8d2;
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 1.39;
    text-transform: uppercase;
}

.press__title--info {
    width: 67.4rem;
    margin-bottom: 9.4rem;
    line-height: 1.1;
}

.press-info__blocks {
    display: flex;
    margin-bottom: 10rem;
}

.press-info__block {
    padding: 2.3rem 4.2rem 3.4rem 0;
    width: 27.3rem;
    max-width: 27.3rem;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    margin-right: 2.3rem;
}

.press-info__block--1::after {
    content: "";
    position: absolute;
    background: url("../../images/payment/infoimg@2x.png") no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: -2.3rem;
    background-size: contain;
    opacity: 0;
    transition: all .3s ease;
}

.press-info__block--1:hover::after {
    opacity: 1;
}

.press-info__block--2::after {
    content: "";
    position: absolute;
    background: url("../../images/payment/infoimg2@2x.png") no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: -2.3rem;
    background-size: contain;
    opacity: 0;
    transition: all .3s ease;
}

.press-info__block--2:hover::after {
    opacity: 1;
}

.press-info__block--3::after {
    content: "";
    position: absolute;
    background: url("../../images/payment/infoimg3@2x.png") no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: -2.3rem;
    background-size: contain;
    opacity: 0;
    transition: all .3s ease;
}

.press-info__block--3:hover::after {
    opacity: 1;
}


.press-info__block--4::after {
    content: "";
    position: absolute;
    background: url("../../images/payment/infoimg4@2x.png") no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: -2.3rem;
    background-size: contain;
    opacity: 0;
    transition: all .3s ease;
}

.press-info__block--4:hover::after {
    opacity: 1;
}

.press-info__block--5::after {
    content: "";
    position: absolute;
    background: url("../../images/payment/infoimg5@2x.png") no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: -2.3rem;
    background-size: contain;
    opacity: 0;
    transition: all .3s ease;
}

.press-info__block--5:hover::after {
    opacity: 1;
}

.press-info__num {
    color: #1eb8d2;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    margin-bottom: 3.4rem;
}

.press-info__desc {
    min-height: 6.8rem;
    color: #ffffff;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.41;
    text-transform: uppercase;
}

.press-info__list-title {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.28;
    margin: 3rem 0 4.1rem;
}

.press-info__item {
    display: flex;
    align-items: center;
}

.press-info__item:not(:last-child) {
    margin-bottom: 2.8rem;
}

.press-info__item:last-child {
    margin-bottom: 6.5rem;
}

.press-info__item-txt {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.28;
    width: 43.9rem;
    margin-left: 3.6rem;
}

.press-info__item-icon {
    width: 7.7rem;
    height: 7.6rem;
}

.press-info__img {
    position: absolute;
    width: 74.1rem;
    height: 84.1rem;
    bottom: 0;
    right: 5.5rem;
}

.marafon {
    background: url("../../images/payment/marafonbg@2x.jpg") no-repeat;
    padding: 14.5rem 0 12.1rem;
    background-size: contain;
    background-position: center;
    position: relative;
    z-index: 100;
}

.marafon__title {
    color: #ffffff;
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 1.39;
    text-transform: uppercase;
    width: 77rem;
    margin-bottom: 8.1rem;
}

.marafon__title--blue {
    color: #1eb8d2;
}

.marafon-blocks {
    display: flex;
    justify-content: space-between;
}

.marafon-blocks__right {
    display: none;
}

.marafon-blocks__right--active {
    display: block;
}

.marafon__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7.5rem;
}

.marafon__button {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.28;
    background: none;
    border: none;
    padding: 0;
    transition: all .3s ease;
}

.marafon__button:hover {
    color: #1eb8d2;
}

.marafon__button:not(:last-child) {
    margin-bottom: 5.1rem;
}

.marafon__button--active {
    color: #1eb8d2;
    position: relative;
}

.marafon__button--active::after {
    content: "";
    background: url("../../icons/arrow@2x.png") no-repeat;
    position: absolute;
    background-size: contain;
    width: 3.8rem;
    height: 1.6rem;
    top: .9rem;
    left: -5.9rem;
}

.marafon-blocks__img {
    width: 66.3rem;
    height: 45.8rem;
    margin-bottom: 6.8rem;
}

.marafon-blocks__text {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    width: 66.8rem;
}

.faq {
    padding: 7.8rem 0 22.7rem;
}

.faq__title {
    color: #ffffff;
    font-family: Gilroy;
    font-size: 5.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 10.3rem;
    position: relative;
    width: 11.2rem;
}

.faq__title::after {
    position: absolute;
    content: "";
    width: 6rem;
    height: .5rem;
    background-color: #1eb8d2;
    bottom: -4rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.faq-blocks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25.5rem;
}

.faq-block {
    padding: 4.5rem 0 4.8rem;
    border-top: 1px solid #4b4c5a;
    width: 100%;
}

.faq-block__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.28;
    cursor: pointer;
    z-index: 2;
}

.faq-block__title-icon {
    width: 3.4rem;
    height: 3.4rem;
    cursor: pointer;
    z-index: 2;
}

.faq-block__active {
    display: none;
}

.faq-block__active--db {
    display: block;
}

.faq-block__txt {
    color: #cbcbcb;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    width: 123.7rem;
    margin-top: 3.4rem;
    margin: 3.4rem 0 2rem;
}

.faq-bot {
    border-radius: .4rem;
    background-color: #32323a;
    padding: 5.5rem 0 7rem;
    position: relative;
}

.faq-bot__top-img {
    display: none;
}

.faq-bot::before {
    content: "";
    background: url(../../images/payment/bgfaq@2x.png) no-repeat;
    width: 130.8rem;
    height: 102rem;
    position: absolute;
    background-size: contain;
    z-index: -1;
    top: -17.5rem;
    right: -14rem;
}

.faq-bot::after {
    content: "";
    background: url("../../images/payment/weight@2x.png") no-repeat;
    width: 21.7rem;
    height: 12.4rem;
    position: absolute;
    background-size: contain;
    bottom: -6rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.faq-bot__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}

.faq-bot__button {
    background: none;
    border: none;
    padding: 0;
    font-weight: 400;
    font-size: 3.4rem;
    line-height: 1.05;
    color: #fff;
    transition: color .3s ease;
}

.faq-bot__button:hover {
    color: #1eb8d2;
}

.faq-bot__button--active {
    color: #1eb8d2;
    font-weight: 600;
    position: relative;
}

.faq-bot__button--active::before {
    content: "";
    width: 100%;
    height: .2rem;
    background-color: #1eb8d2;
    position: absolute;
    bottom: -1.5rem;
}

.faq-bot__button:not(:last-child) {
    margin-right: 9.4rem;
}

.faq-bot__title {
    color: #ffffff;
    font-size: 4.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}


.faq-bot__list {
    display: flex;
    flex-direction: column;
    width: 92.3rem;
    margin: 0 auto 5.3rem;
    align-items: center;
}

.faq-bot__item {
    display: flex;
    align-items: center;
}

.faq-bot__item-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 3.2rem;
}

.faq-bot__item-txt {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.3;
}

.price__button--faq {
    justify-content: center;
}

.button__faq {
    padding: 4.1rem 13rem;
}

.footer {
    background-color: #1a1c22;
    padding: 3.2rem 6.3rem 3.9rem 4.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__txt {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.42px;
    line-height: 1.5;
}

.footer__link {
    color: #1eb8d2;
    text-decoration: none;
}

.pay {
    border-radius: .4rem;
    background-color: #32323a;
    margin-bottom: 12.6rem;
    padding-top: 4.3rem;
    z-index: 100;
    position: relative;
}

.pay__block {
    position: relative;
}

.pay__title {
    color: #ffffff;
    font-size: 5.8rem;
    font-weight: 300;
    line-height: 1.39;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}

.pay__text {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.28;
    text-align: center;
    margin-bottom: 1.9rem;
}

.pay__text span {
    color: #1eb8d2;
}

.price__pay {
    border: none;
    min-height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3.7rem;
    display: flex;
    align-items: baseline;
}

.pay-form {
    position: relative;
}

.pay-form::before {
    content: "";
    position: absolute;
    width: 55.4rem;
    height: 73.5rem;
    display: block;
    bottom: -6.7rem;
    right: -12rem;
    background: url(../../images/payment/headergirl@2x.png) no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}

.pay-form__desc {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 1.1px;
    margin: 2.4rem auto 2.6rem 0;
}

.pay-form__inputs {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1.9rem;
}

.pay-form__inputs .input:first-child {
    margin-right: 3.6rem;
}

.input {
    padding: 2.5rem 2rem 2.5rem 2.7rem;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 1.1px;
    box-sizing: border-box;
    width: 31rem !important;
}

.pay-form__inputs .help-block,
.pay-form__inputs .help-error {
    color: #ea4747;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.input::placeholder,
textarea::placeholder {
    color: #fff;
}

.input:focus,
.textarea:focus {
    border-color: #fff;
}

.textarea {
    background: none;
    height: 5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: 1.1px;
    box-sizing: content-box;
    width: calc(100% - 5.4rem);
    margin-bottom: 0.5rem;
    padding: 2.5rem 2.7rem 2.6rem;
}

.pay-form__txt {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 1.36;
    margin: 0 auto 0 0;
}

.pay-form__txt:not(:last-child) {
    margin-bottom: 1rem;
}

.pay-form__txts {
    margin: 0 auto 3.8rem 0;
}

.pagination__number {
    position: relative;
}

.pagination__number::after {
    content: ' ';
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    border-left: .2rem solid #1eb8d2;
    border-top: .2rem solid #1eb8d2;
    right: 6.5rem;
    top: 34%;
    transform: rotate(-135deg);
}

.pay-form__select {
    width: 31rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 500;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.pay-form__select:focus {
    color: #b9b7b7;
}

.pay-form__label {
    display: flex;
    align-items: center;
}

.pay-form__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.pay-form__label-txt {
    display: block;
    align-items: center;
    user-select: none;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.pay-form__label-link {
    color: #1eb8d2;
    text-decoration: none;
}

.pay-form__label-txt::before {
    content: '';
    display: inline-block;
    width: 2.1rem;
    height: 2.1rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #5b5b61;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% 80%;
    box-sizing: border-box;
}

.pay-form__label > .pay-form__checkbox:checked + .pay-form__label-txt::before {
    border-color: #5b5b61;
    background-color: none;
    background-image: url("../../icons/arrowpay.svg");
    background-position: center;
}


.pay-form__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.pay-form__label-icon {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.pay-form__label-icon::before {
    content: '';
    display: inline-block;
    width: 19.8rem;
    height: 7.6rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% 86%;
    box-sizing: border-box;
    background-image: url("../../icons/card.svg");
}

.pay-form__label-icon--2::before {
    background-image: url("../../icons/iomoney.svg");
    background-size: 60% 60%;
}

.pay-form__label-icon--3::before {
    background-image: url("../../icons/qiwiicon.svg");
    background-size: 60% 60%;
}

.pay-form__label > .pay-form__radio:checked + .pay-form__label-icon::before {
    border-color: #fff;
    background-color: none;
}

.pay-form__agree {
    margin: 0 auto 5rem 0;
}

.pay-form__payments {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4.6rem;
}

.button__pay {
    padding: 4.1rem 11.6rem;
    margin-bottom: 4.3rem;
}

.pay-form__bot-txt {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    text-align: center;
    padding-bottom: 3.8rem;
}

.pay-form__bot-link {
    color: #1eb8d2;
    text-decoration: none;
}

.pay__girl {
    position: absolute;
    width: 53.4rem;
    height: 73.5rem;
    display: block;
    bottom: 0;
    right: -10.5rem;
    z-index: 100;
}

.pay__top {
    position: absolute;
    width: 30.5rem;
    height: 32.3rem;
    display: block;
    top: 24.4rem;
    right: -10.5rem;
    z-index: 1;
}

.pay__bot {
    position: absolute;
    width: 44.3rem;
    height: 41rem;
    display: block;
    bottom: -10rem;
    left: -16rem;
    z-index: 1;
}

.pay__weight {
    position: absolute;
    width: 21.7rem;
    height: 12.4rem;
    left: -11rem;
    bottom: 23.6rem;
    z-index: 100;
}

.field-retail-comment {
    width: 100%;
}

.jsModal {
    display: none;
    background: #32323a;
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    color: #fff;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
    padding: 20px 40px 20px 20px;
    overflow: auto;
    box-shadow: 0 100px 100px 100px rgba(0, 0, 0, 0.7);

}

.jsModal p {
    margin-bottom: 20px;
}

.jsModal .jsClose {
    filter: invert(100%);
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header {
        overflow: hidden;
        z-index: 10;
    }

    .header__menu {
        padding: 2.6rem 2rem 0 2.2rem;
        margin-bottom: 16.4rem;
    }

    .header__menu--pay {
        margin-bottom: 2.7rem;
    }

    .header__link {
        font-size: 1.4rem;
        margin-right: 1.5rem;
    }

    .container {
        padding: 0 2rem;
    }

    .header__txt {
        font-size: 1.8rem;
    }

    .header__txt--blue {
        display: inline;
    }

    .header__title {
        font-size: 5rem;
        margin: 2.3rem 0 20.5rem;
    }

    .header__img {
        width: 51.4rem;
        height: 66.8rem;
        right: -13rem;
        z-index: -1;
    }

    .price {
        height: 6.3rem;
        padding: 1.8rem 1.2rem 1.5rem 1.4rem;
    }

    .price__txt {
        font-size: 1.6rem;
    }

    .price__txt--blue {
        font-size: 2.2rem;
        margin-left: 1rem;
        white-space: nowrap;
    }

    .price__button--header {
        padding-bottom: 9.7rem;
    }

    .button {
        font-size: 1.4rem;
        padding: 2.3rem 2.1rem;
        height: 6.3rem;
    }

    .prize {
        padding-top: 5.9rem;
    }

    .prize__title {
        font-size: 2rem;
        width: 100%;
        line-height: 2.07;
    }

    .prize__img {
        width: 33.5rem;
        height: 22.3rem;
        margin-top: 3rem;
        padding-bottom: 4rem;
    }

    .prize__title br {
        display: block;
    }

    .press {
        padding: 7.3rem 0 17.9rem;
        z-index: 10;
    }

    .press__title {
        font-size: 3.4rem;
        width: 100%;
    }

    .press__title--blue {
        margin: 2.9rem 0 6.8rem;
    }

    .press__text {
        font-size: 1.6rem;
        width: 92%;
        line-height: 1.46;
    }

    .press__img {
        display: none;
    }

    .press__img--mob {
        display: block;
        z-index: -1;
        width: 23rem;
        height: 75.4rem;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .press-info {
        padding: 2.9rem 0 54.9rem;
        overflow: hidden;
    }

    .press__title--info {
        margin-bottom: 2.5rem;
        line-height: 1.2;
    }

    .press-info__blocks {
        flex-direction: column;
        margin-bottom: 4.6rem;
    }

    .press-info__block {
        padding: 0;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
    }

    .press-info__block-content {
        display: flex;
        align-items: baseline;
    }

    .press-info__num {
        font-size: 1.8rem;
        margin: 0 .8rem 0 0;
    }

    .press-info__desc {
        font-size: 1.8rem;
        min-height: 100%;
    }

    .press-info__block::after {
        display: none;
    }

    .press-info__block:not(:last-child) {
        margin-bottom: 1.3rem;
    }

    .press-info__title {
        width: 100%;
        font-size: 3.3rem;
    }

    .press-info__list-title {
        margin: 4.1rem 0 3.2rem;
    }

    .press-info__item-icon {
        width: 6rem;
        height: 6rem;
        flex-shrink: 0;
    }

    .press-info__item-txt {
        font-size: 2.2rem;
        width: 100%;
        margin-left: 2.2rem;
    }

    .button__press-info {
        width: 100%;
    }

    .press-info__img {
        width: 42.6rem;
        height: 48.2rem;
        right: -2.8rem;
    }

    .marafon {
        background-size: cover;
        padding: 3.7rem 0 6rem;
    }

    .marafon__title {
        font-size: 3.4rem;
        width: 34.4rem;
        margin-bottom: 2.8rem;
    }

    .marafon-blocks {
        flex-direction: column;
    }

    .marafon__buttons {
        margin: 0 0 0 6rem;
    }

    .marafon__button {
        font-size: 2.2rem;
    }

    .marafon__button:not(:last-child) {
        margin-bottom: 1.2rem;
    }

    .marafon__button--active::after {
        width: 3.8rem;
        height: 1.2rem;
        background-size: 100% 100%;
        top: .8rem;
    }

    .marafon-blocks__img {
        width: 33.3rem;
        height: 23rem;
        margin: 3.8rem 0 1.7rem;
    }

    .marafon-blocks__text {
        width: 100%;
        font-size: 16px;
    }

    .faq {
        padding: 3.5rem 0 10.1rem;
        overflow: hidden;
    }

    .faq-blocks {
        margin-bottom: 15.4rem;
    }

    .faq__title {
        font-size: 3.4rem;
        margin-bottom: 4.4rem;
    }

    .faq__title::after {
        bottom: -2rem;
        height: .2rem;
    }

    .faq-block {
        padding: 2.5rem 0;
    }

    .faq-block__title {
        font-size: 2.2rem;
    }

    .faq-block__title-icon {
        width: 2.8rem;
        height: 2.8rem;
        flex-shrink: 0;
    }

    .faq-block__txt {
        font-size: 1.6rem;
        width: 100%;
        margin-top: 2.1rem;
    }

    .faq-bot {
        padding: 3.5rem 3rem 5.2rem 1.9rem;
        width: calc(100% + 4rem);
        margin: 0 -2rem;
        box-sizing: border-box;
    }

    .faq-bot__buttons {
        margin-bottom: 3.7rem;
    }

    .faq-bot__button {
        font-size: 2.3rem;
    }

    .faq-bot__button:not(:last-child) {
        margin-right: 2rem;
    }

    .faq-bot__title {
        font-size: 2.8rem;
        width: 30.7rem;
        text-align: center;
        line-height: 1.2;
        margin-bottom: 2.8rem;
    }

    .faq-bot__list {
        width: 100%;
        margin-bottom: 5rem;
    }

    .faq-bot__item {
        align-items: flex-start;
    }

    .faq-bot__item:not(:last-child) {
        margin-bottom: 2.3rem;
    }

    .faq-bot__item-txt {
        font-size: 1.8rem;
        width: 100%;
        line-height: 1.15;
    }

    .faq-bot__item-icon {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1.9rem;
        flex-shrink: 0;
    }


    .faq-bot::before {
        content: "";
        background-image: url(../../images/payment/bgfaqmob@2x.png);
        width: 73.1rem;
        height: 104.1rem;
        right: -18.5rem;
        top: 0;
    }

    .faq-bot::after {
        width: 16.9rem;
        height: 9.6rem;
        bottom: -4rem;
    }

    .faq-bot__top-img {
        display: block;
        display: block;
        position: absolute;
        top: -10.5rem;
        left: -9rem;
        z-index: -1;
    }

    .button__faq {
        padding: 2.3rem 5.4rem;
    }

    .footer {
        padding: 2.5rem 2rem;
    }

    .footer__txt {
        font-size: 1.4rem;
    }

    .footer__txt--privacy {
        width: 20.3rem;
    }

    .popup__menu {
        padding: 15.9rem 0;
    }

    .popup__menu-links {
        padding: 0 1.5rem;
    }

    .popup__menu-link {
        font-size: 1.8rem;
    }

    .line {
        left: 1.9rem;
    }

    .line-2 {
        left: 19rem;
    }

    .line-3 {
        display: none;
    }

    .line-4 {
        left: 35.5rem;
    }

    .line-5 {
        display: none;
    }

    .line-6 {
        left: 19rem;
    }

    .line-7 {
        left: 19rem;
    }

    .line__mob {
        left: 1.9rem;
    }

    .line__mob-2 {
        left: 13rem;
    }

    .line__mob-3 {
        display: block;
        left: 23.7rem;
    }

    .line__mob-4 {
        left: 34.5rem;
    }

    .pay {
        padding-top: 1rem;
        position: relative;
        z-index: 100;
    }

    .pay__title {
        font-size: 3.8rem;
        margin-bottom: 0.5rem;
    }

    .pay__text {
        font-size: 2rem;
        width: 28.8rem;
        margin: 0 auto 1.7rem;
    }

    .price__pay {
        padding: 0;
        margin-bottom: 1.8rem;
    }

    .price__pay .price__txt {
        font-size: 1.8rem;
    }

    .price__pay .price__txt--blue {
        font-size: 2.4rem;
        margin-left: 1.7rem;
    }

    .container__form {
        padding: 0 1.1rem;
        box-sizing: border-box;
        width: 100%;
    }

    .pay-form__inputs {
        flex-direction: column;
        margin-bottom: 0;
        align-items: flex-start;
    }

    .pay-form__inputs .input:first-child {
        margin-right: 0;
    }

    .input {
        margin-bottom: 1.1rem;
        font-size: 1.8rem;
        padding: 1.9rem 2.1rem;
    }

    .textarea {
        width: 84.8%;
        font-size: 1.8rem;
        padding: 1.9rem 2.1rem;
        margin-bottom: 1.5rem;
    }

    .pagination__number::after {
        right: 3rem;
        top: 27%;
    }

    .pay-form__desc {
        margin: 1.6rem auto 1.5rem 0;
        font-size: 2rem;
    }

    .pay-form__txts {
        margin: 0 auto 1.8rem 0;
    }

    .pay-form__txt:not(:last-child) {
        margin-bottom: 1.9rem;
    }

    .pay-form__txt {
        font-size: 2rem;
    }

    .pay-form__label-txt {
        font-size: 1.4rem;
    }

    .pay-form__label-icon::before {
        width: 10.2rem;
        height: 4rem;
    }

    .pay-form__agree {
        margin-bottom: 2.2rem;
    }

    .pay-form__payments {
        margin-bottom: 2.3rem;
    }

    .button__pay {
        width: 100%;
        height: 7.6rem;
        margin-bottom: 1.6rem;
    }

    .pay-form__bot-txt {
        font-size: 1.4rem;
        text-align: left;
        margin: 0 auto;
        padding-bottom: 2.7rem;
        width: 30.9rem;
    }

    .pay-form::before {
        display: none;
    }

    .pay__top {
        display: none;
    }

    .pay__bot {
        bottom: 7rem;
        left: -25.5rem;
    }

    .pay__weight {
        bottom: -5rem;
        left: 46%;
        transform: translate(-50%, 0);
        width: 15.4rem;
        height: 8.8rem;
    }

    .pay-form__inputs .help-block {
        margin: 0 0 2rem;
    }
}


.suggestions-wrapper {
    font-size: 18px;
}

.suggestions-suggestion {
    padding: 8px 5px !important;
    white-space: normal;
    line-height: 1.3;

}