html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Panton';
    src: url('../../fonts/panton/Panton-SemiBold.woff2') format('woff2'),
    url('../../fonts/panton/Panton-SemiBold.woff') format('woff'),
    url('../../fonts/panton/Panton-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('../../fonts/panton/Panton-ExtraBold.woff2') format('woff2'),
    url('../../fonts/panton/Panton-ExtraBold.woff') format('woff'),
    url('../../fonts/panton/Panton-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('../../fonts/panton/Panton.woff2') format('woff2'),
    url('../../fonts/panton/Panton.woff') format('woff'),
    url('../../fonts/panton/Panton.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('../../fonts/panton/Panton-Bold.woff2') format('woff2'),
    url('../../fonts/panton/Panton-Bold.woff') format('woff'),
    url('../../fonts/panton/Panton-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Panton';
    src: url('../../fonts/panton/Panton-BlackItalic.woff2') format('woff2'),
    url('../../fonts/panton/Panton-BlackItalic.woff') format('woff'),
    url('../../fonts/panton/Panton-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}


html {
    font-size: calc(10vw / 19.20);
    font-weight: normal;
    font-family: Panton;
}

@media screen and (max-width: 768px) {
    html {
        font-size: calc(10vw / 3.75);
    }
}

body {
    background-color: #16181c;
    box-sizing: border-box;
}

.container {
    max-width: 192rem;
    margin: 0 auto;
    padding: 2.3rem 6rem 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.2rem 0 9rem;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__logo {
    font-size: 2.6rem;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    transform: rotate(36deg);
}

.link__lk {
    border: .1rem solid #833cf2;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2.2rem 3.2rem 2.4rem;
    box-sizing: border-box;
    transition: all .3s ease;
}

.link__lk:hover {
    background: #833cf2;
}

.link__help {
    color: #5064fe;
}

.button__burger {
    background: url("../../images//new/burger.png") no-repeat;
    border: none;
    background-position: center;
    background-size: contain;
    width: 3.1rem;
    height: 2.1rem;
}

.title {
    color: #eb638f;
    font-size: 7.2rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 4.1rem;
    text-align: center;
}

.title__small {
    font-size: 3.6rem;
    margin-bottom: 8.1rem;
    line-height: 1.3;
}

.text {
    color: #ffffff;
    font-size: 2.9rem;
    font-weight: 400;
    letter-spacing: 0.072rem;
    max-width: 97.9rem;
    line-height: 1.37;
    margin: 0 auto;
}

.content {
    max-width: 110rem;
    margin: 0 auto;
    text-align: center;
}

.img__auto {
    width: 64.7rem;
    height: 64.3rem;
    margin: 5.5rem 0 9rem;
}

.img__message {
    width: 24.6rem;
    height: 24.4rem;
    margin: 0 18.1rem 0 6.4rem;
}

.info-block {
    display: flex;
    align-items: center;
    width: 103.7rem;
}


.info-block__txt {
    color: #ffffff;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 1.52;
    text-align: left;
    letter-spacing: .53px;
    width: 61rem;
}

.info-block__txt:not(:last-child) {
    margin-bottom: 5.2rem;
}

.grey-block {
    position: relative;
    overflow: hidden;
    padding: 24.8rem 0 20.2rem;
    z-index: 2;
}

.grey-block::before {
    content: '';
    width: 200%;
    height: 85%;
    position: absolute;
    background: #32363f;
    transform: rotate(-4deg);
    z-index: -1;
    padding: 0;
    top: 3rem;
    left: -10rem;
}

.next-block__items {
    width: 99.5rem;
    margin: 0 auto;
}

.next-block__item {
    display: flex;
    align-items: center;
}

.next-block__item:not(:last-child) {
    margin-bottom: 5.8rem;
}

.next-block__item-left {
    width: 12.3rem;
    height: 12.3rem;
    background: #21242a;
    border-radius: 50%;
    position: relative;
    margin-right: 5rem;
    flex-shrink: 0;
}

.next-block__item-left--mt {
    margin-top: -10rem;
}

.next-block__item-left--1::after {
    content: '';
    background: url('../../images/project/consent.png') no-repeat;
    background-size: contain;
    width: 3.5rem;
    height: 3.9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.next-block__item-left--2::after {
    content: '';
    background: url('../../images/project/teleg.png') no-repeat;
    background-size: contain;
    width: 3.7rem;
    height: 3.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.next-block__item-left--3::after {
    content: '';
    background: url('../../images/project/calendar.png') no-repeat;
    background-size: contain;
    width: 3.6rem;
    height: 3.9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grey-block__txts {
    max-width: 126.4rem;
    margin: 0 auto;
}

.grey-block__txt {
    color: #ffffff;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 1.42;
}

.grey-block__txt--mb {
    margin-bottom: 8rem;
}

.grey-block__txt--bold {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 4rem;
}

.access-acc {
    border-radius: 2.6rem;
    border: .2rem solid #32363f;
    width: 94.6rem;
    margin: 20rem auto 0;
    padding: 23.4rem 0 6.9rem;
    text-align: center;
    box-sizing: border-box;
}

.access-acc__block {
    position: relative;
    overflow: hidden;
    padding-bottom: 7rem;
}

.img__comp {
    position: absolute;
    top: 1rem;
    left: 55%;
    transform: translate(-50%, 0);
    width: 52.6rem;
    height: 36.3rem;
}

.img__girl {
    position: absolute;
    width: 71.6rem;
    height: 140.6rem;
    z-index: 1;
    top: 14rem;
    right: -6rem;
}

.link__lerchek {
    color: #5064fe;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 1;
    margin-bottom: 5.5rem;
    display: inline-block;
    transition: all .3s ease;
}

.link__lerchek:hover {
    text-decoration: underline;
}

.access-acc__txt {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 400;
}

.access-acc__txt:not(:last-child) {
    margin-bottom: 2.7rem;
}

.footer {
    width: 115rem;
    margin: 8rem auto 10rem;
}

.grey-block--mt {
    margin-top: -5rem;
}

.buttons__quest {
    margin-top: 4rem;
    display: flex;
}

.button__quest:not(:last-child) {
    margin-right: 1.5rem;
}

@media (max-width: 768px) {
    html {
        font-size: calc(10vw / 3.75);
    }

    .container__mob {
        padding: 0 1.4rem;
    }

    .container {
        padding: 1rem 1rem 0;
    }

    .header__logo {
        font-size: 2.1rem;
    }

    .header {
        margin: 0 0 4.3rem;
    }

    .link__lk {
        font-size: .8rem;
        padding: 1.1rem 1.4rem;
        text-align: center;
    }

    .button__quest:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    .button__burger {
        width: 2.6rem;
        height: 1.8rem;
    }

    .title {
        font-size: 3.6rem;
    }

    .title__small {
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
        line-height: 1.35;
    }

    .text {
        font-size: 1.4rem;
        line-height: 1.6;
        max-width: 30.3rem;
        margin: 0 auto;
    }

    .img__auto {
        width: 27.7rem;
        height: 27.5rem;
        margin: 2.4rem 0 5.2rem;
    }

    .info-block {
        flex-direction: column;
        width: 100%;
    }

    .info-block__txt {
        width: 100%;
        font-size: 1.2rem;
    }

    .info-block__txt:not(:last-child) {
        margin-bottom: 2.3rem;
    }

    .img__message {
        margin: 0 0 2.9rem;
    }

    .grey-block {
        padding: 6.8rem 0 9.2rem;
    }

    .next-block__items {
        width: 100%;
    }

    .next-block__item-left {
        width: 6.2rem;
        height: 6.2rem;
        margin-right: 2.5rem;
    }

    .next-block__item-left--1::after {
        width: 1.8rem;
        height: 2rem;
    }

    .next-block__item-left--2::after {
        width: 1.9rem;
        height: 1.7rem;
    }

    .next-block__item-left--3::after {
        width: 1.8rem;
        height: 1.8rem;
    }

    .grey-block__txt {
        font-size: 1.2rem;
    }

    .grey-block__txt--bold {
        font-size: 1.5rem;
        margin-bottom: 2.2rem;
    }

    .next-block__item:not(:last-child) {
        margin-bottom: 2.9rem;
        margin-right: 0;
    }

    .img__girl {
        display: none;
    }

    .img__comp {
        width: 26.3rem;
        height: 18.2rem;
        top: 0;
    }

    .access-acc {
        width: 100%;
        padding: 11.7rem 0 4rem;
        margin: 9.5rem auto 0;
    }

    .title__lc {
        width: 22.2rem;
        margin: 0 auto 3rem;
    }

    .link__lerchek {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .access-acc__txt {
        font-size: 1.4rem;
    }

    .access-acc__txt:not(:last-child) {
        margin-bottom: 1.7rem;
    }

    .grey-block__txt--mb {
        margin-bottom: 4.3rem;
    }

    .footer {
        width: 100%;
        margin: 0 auto 4.4rem;
    }

    .buttons__quest {
        flex-direction: column;
        margin-top: 2rem;
    }
}