html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* make sure to set some focus styles for accessibility */

:focus {
    outline: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}


/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}


/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}


/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}


/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}


/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}


/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}


/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}


/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}


/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}


/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}


/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
}


/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}


/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}


/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */
}


/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}


/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}


/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type=search] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}


/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}


/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */


/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/*# sourceMappingURL=slick-theme.min.css.map */

html {
    font-size: calc(10vw / 16.80);
    font-family: 'Golos';
    overflow-x: hidden;
}

input,
textarea,
button {
    font-family: 'Golos';
}

@font-face {
    font-family: 'Golos';
    src: url('../fonts/Golos-VF.woff2') format('woff2'), url('../fonts/Golos-VF.woff') format('woff'), url('../fonts/Golos-VF.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: calc(10vw / 16.80);
    font-family: "Golos";
    font-weight: 400;
}

input,
textarea,
button {
    font-family: 'Golos';
}

@media screen and (max-width: 768px) {
    html {
        font-size: calc(10vw / 3.75);
    }
}

a {
    outline: none;
}

body {
    max-width: 168rem;
    background-color: #24222a;
}

.menu--open {
    height: 100vh;
    overflow: hidden;
}

.container {
    padding: 0 16.1rem;
    margin: 0 auto;
}

.logo {
    width: 10.9rem;
    height: 1.7rem;
}

.logo__link {
    text-decoration: none;
    display: block;
}

.header__menu {
    padding: 2.8rem 3.8rem 3rem 4.8rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    margin-bottom: 16.4rem;
}

.header__menu--payment {
    margin-bottom: 7.2rem;
}

.header__links {
    display: flex;
    align-items: center;
}

.header__link {
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.85px;
    text-decoration: none;
    margin-right: 3.6rem;
    transition: all .3s ease;
}

.header__link:hover {
    color: #1eb8d2;
}

.menu__button {
    background: none;
    border: none;
    padding: 0;
    width: 2.4rem;
    height: 1.7rem;
}

.button__close {
    width: 1.8rem;
    height: 1.8rem;
    background: none;
    border: none;
    padding: 0;
    position: relative;
    right: 0;
    z-index: 31;
    display: none;
}

.popup__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    z-index: 30;
}

.popup__menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup__menu-link {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    transition: .3s all ease;
}

.popup__menu-link:not(:last-child) {
    margin-bottom: 4.5rem;
}

.popup__menu-link:hover {
    color: #1EB8D2;
}

.header-content {
    position: relative;
}

.header__txt {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.36;
}

.header__txt br {
    display: none;
}

.header__txt--blue {
    color: #1eb8d2;
    text-decoration: none;
}

.header__txt-emoji {
    width: 2.8rem;
}

.header__title {
    color: #ffffff;
    font-size: 13.2rem;
    font-weight: 400;
    margin: 1.5rem 0 6.4rem;
    width: 96.1rem;
    text-transform: uppercase;
}

.header__img {
    width: 70.3rem;
    position: absolute;
    top: -11.5rem;
    right: -3%;
    z-index: -1;
}

.header__img--mob {
    display: none;
}

.price__button {
    display: flex;
    align-items: center;
    margin-top: 2.6rem;
}

.price__button--header {
    margin-top: 3rem;
}

.price__button--wadein {
    margin-top: 0;
}

.price__button--less {
    margin-top: 5rem;
}

.price {
    display: flex;
    align-items: baseline;
    margin-right: 2.8rem;
}

.price__txt {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.37;
    text-decoration: line-through;
    text-transform: uppercase;
}

.price__txt--blue {
    color: #1eb8d2;
    text-transform: uppercase;
    font-size: 3rem;
    margin-left: 2rem;
    text-decoration: none;
}

.button {
    border-radius: 1.8rem;
    background-color: #fc588e;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    border: none;
    padding: 2.6rem 6.6rem 2.6rem 5.9rem;
    box-sizing: border-box;
    transition: all .3s ease;
    display: inline-block;
}

.prizes {
    padding: 44.6rem 0 53.3rem;
    position: relative;
    overflow: hidden;
}

.prizes-info__tit {
    color: #ffffff;
    font-size: 7.8rem;
    font-weight: 400;
    line-height: 1;
    width: 75.2rem;
    margin-bottom: 3.1rem;
}

.prizes-info__tit-emoji {
    width: 7.8rem;
}

.prizes-info__txt {
    color: #1eb8d2;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 9.1rem;
}

.prizes-info__arrows {
    display: flex;
    align-items: center;
}

.prizes-info__arrow {
    background: none;
    border: none;
    padding: 0;
    width: 5rem;
    height: 1.5rem;
}

.prizes-info__arrow-icon {
    width: 5rem;
    height: 1.5rem;
    transition: .3s all ease;
}

.prizes-info__arrow-icon--mob {
    display: none;
}

.prizes-info__arrow--right {
    transform: rotate(180deg);
    margin-left: 4.8rem;
}

.prizes-info__arrow:hover .prizes-info__arrow-icon path {
    fill: #1eb8d2;
    stroke: #1eb8d2;
}

.prize {
    position: absolute;
    top: 36rem;
    right: -47rem;
    border-radius: 50%;
    width: 93.7rem;
    height: 93.7rem;
    border: 1px solid #a7a7a7;
    box-sizing: border-box;
}

.prize picture {
    position: absolute;
    right: -20rem;
    top: 0;
    transition: .5s ease-in-out transform;
    z-index: 3;
}

.prize img {
    width: 60rem;
}

.prize--1 picture:nth-child(1) {
    transform: translate(-83rem, 7rem)
}

.prize--1 picture:nth-child(2) {
    transform: translate(-67rem, 50rem) scale(.8)
}

.prize--1 picture:nth-child(3) {
    transform: translate(-41rem, -30rem) scale(.3)
}

.prize--1 picture:nth-child(4) {
    transform: scale(.3)
}

.prize--1 picture:nth-child(6) {
    transform: translate(0, 80rem)
}

.prize--2 picture:nth-child(1) {
    transform: translate(-74rem, 59rem)
}

.prize--2 picture:nth-child(2) {
    transform: translate(0, 80rem)
}

.prize--2 picture:nth-child(3) {
    transform: translate(-85rem, -7rem) scale(.8)
}

.prize--2 picture:nth-child(4) {
    transform: translate(-44rem, -27rem) scale(.3)
}

.prize--3 picture:nth-child(1) {
    transform: translate(0, 80rem)
}

.prize--3 picture:nth-child(2) {
    transform: translate(0, 80rem)
}

.prize--3 picture:nth-child(3) {
    transform: translate(-68rem, 46rem) scale(.8)
}

.prize--3 picture:nth-child(4) {
    transform: translate(-88rem, -8rem) scale(.85)
}

.prize--3 picture:nth-child(5) {
    transform: translate(-44rem, -39rem) scale(.3)
}

.prize--3 picture:nth-child(6) {
    transform: scale(.3)
}

.prize--4 picture:nth-child(3) {
    transform: translate(0, 80rem)
}

.prize--4 picture:nth-child(4) {
    transform: translate(-72rem, 47rem) scale(.85)
}

.prize--4 picture:nth-child(5) {
    transform: translate(-83rem, -22rem) scale(.7)
}

.prize--4 picture:nth-child(6) {
    transform: translate(-38rem, -29rem) scale(.3)
}

.prize--4 picture:nth-child(2) {
    transform: scale(.3)
}

.prize--5 picture:nth-child(4) {
    transform: translate(0, 80rem)
}

.prize--5 picture:nth-child(5) {
    transform: translate(-67rem, 38rem) scale(.7)
}

.prize--5 picture:nth-child(6) {
    transform: translate(-73rem, -12rem) scale(.85)
}

.prize--5 picture:nth-child(2) {
    transform: translate(-36rem, -24rem) scale(.3)
}

.prize--6 picture:nth-child(5) {
    transform: translate(0, 80rem)
}

.prize--6 picture:nth-child(6) {
    transform: translate(-62rem, 45rem) scale(.85)
}

.prize--6 picture:nth-child(2) {
    transform: translate(-86rem, -8rem) scale(.8)
}

.prize--6 picture:nth-child(1) {
    transform: translate(-42rem, -16rem) scale(.3)
}

@media (max-width: 768px) {
    .button__close {
        top: 3rem;
    }

    .prize img {
        width: 30rem;
    }

    .prize--1 picture:nth-child(1) {
        transform: translate(-45rem, 1rem);
    }

    .prize--1 picture:nth-child(2) {
        transform: translate(-46rem, 18rem) scale(.7);
    }

    .prize--1 picture:nth-child(4) {
        transform: translate(-29rem, -16rem) scale(.25);
    }

    .prize--1 picture:nth-child(3) {
        transform: translate(-30rem, 28rem) scale(.25)
    }

    .prize--2 picture:nth-child(1) {
        transform: translate(-43rem, 24rem)
    }

    .prize--2 picture:nth-child(2) {
        transform: translate(-30rem, 28rem) scale(.3);
    }

    .prize--2 picture:nth-child(4) {
        transform: translate(-48rem, -3rem) scale(.6)
    }

    .prize--2 picture:nth-child(3) {
        transform: translate(0, 28rem) scale(.3)
    }

    .prize--2 picture:nth-child(5) {
        transform: translate(-29rem, -21rem) scale(.25)
    }

    .prize--3 picture:nth-child(2) {
        transform: translate(0, 28rem) scale(.3)
    }

    .prize--3 picture:nth-child(1) {
        transform: translate(-28rem, 35rem) scale(.35)
    }

    .prize--3 picture:nth-child(4) {
        transform: translate(-44rem, 17rem) scale(.6)
    }

    .prize--3 picture:nth-child(3) {
        transform: translate(0, 28rem) scale(.3)
    }

    .prize--3 picture:nth-child(5) {
        transform: translate(-46rem, -10rem) scale(.6)
    }

    .prize--3 picture:nth-child(6) {
        transform: translate(-30rem, -13rem) scale(.3)
    }

    .prize--4 picture:nth-child(4) {
        transform: translate(-28rem, 27rem) scale(.25);
    }

    .prize--4 picture:nth-child(5) {
        transform: translate(-44rem, 10rem) scale(.6);
    }

    .prize--4 picture:nth-child(6) {
        transform: translate(-44rem, -5rem) scale(.8);
    }

    .prize--4 picture:nth-child(3) {
        transform: translate(-49rem, -1rem) scale(.6)
    }

    .prize--5 picture:nth-child(5) {
        transform: translate(-29rem, 22rem) scale(.25);
    }

    .prize--5 picture:nth-child(4) {
        transform: translate(0, 27rem) scale(.25);
    }

    .prize--5 picture:nth-child(6) {
        transform: translate(-40rem, 19rem) scale(.7);
    }

    .prize--5 picture:nth-child(3) {
        transform: translate(-49rem, -1rem) scale(.7);
    }

    .prize--5 picture:nth-child(2) {
        transform: translate(-29rem, -14rem) scale(.4);
    }

    .prize--6 picture:nth-child(5) {
        transform: translate(0, 22rem) scale(.25);
    }

    .prize--6 picture:nth-child(2) {
        transform: translate(-50rem, -4rem) scale(.7)
    }

    .prize--6 picture:nth-child(1) {
        transform: translate(-30rem, -8rem) scale(.4);
    }

    .prize--6 picture:nth-child(3) {
        transform: translate(-43rem, 18rem) scale(.6);
    }

    .prize--6 picture:nth-child(6) {
        transform: translate(-27rem, 28rem) scale(.35);
    }

    .prize--1 picture:nth-child(6) {
        transform: translate(0, 28rem) scale(.35);
    }
}

.prize__circle {
    width: 1.4rem;
    height: 1.4rem;
    background-color: #a7a7a7;
    position: absolute;
    border-radius: 50%;
    bottom: -.7rem;
    right: 49rem;
    z-index: 0;
}

.prize-guarant {
    margin: -22rem 0 11.3rem;
    position: relative;
    z-index: 10;
}

.prize-guarant__tit {
    font-size: 4.8rem;
    color: #ffffff;
    width: 71.6rem;
    line-height: 1.2;
}

.prize-guarant__tit-emoji {
    width: 4.5rem;
    position: relative;
    top: -1rem;
    right: 1rem;
}

.prize-guarant__txt {
    color: #1eb8d2;
    font-size: 4rem;
    line-height: 1;
    margin: 2.1rem 0 2.5rem;
}

.prize-guarant__txt-small {
    color: red;
    font-size: 1.8rem;
    line-height: 1;
    text-decoration: none;
    display: block;
    margin-top: 1rem;
}

.prize-guarant__txt-small--mob {
    display: none;
}

.prize-guarant__prizes {
    display: flex;
    margin-top: 6rem;
}

.prize-guarant__prize:not(:last-child) {
    margin-right: 10.4rem;
}

.prize-guarant__prize-txt {
    color: #ffffff;
    font-size: 2.8rem;
    line-height: 1;
    margin-top: 1.7rem;
}

.prize-guarant__prize-img {
    width: 31.8rem;
    min-height: 24.7rem;
}

.prize-guarant__prize-img--big {
    width: 33.6rem;
}

.beautiful {
    display: flex;
    margin-bottom: 22.3rem;
}

.beautiful__img {
    width: 55.9rem;
    margin-right: 12.4rem;
}

.beautiful__img--mob {
    display: none;
}

.beautiful-info {
    margin-top: 10rem;
}

.beautiful-info__tit {
    color: #ffffff;
    font-size: 7.8rem;
    line-height: 1;
    width: 63.7rem;
}

.beautiful-info__tit-emoji {
    width: 6.4rem;
    position: relative;
    top: -1.3rem;
    right: 1rem;
}

.beautiful-info__txt {
    color: #1eb8d2;
    font-size: 4rem;
    line-height: 1;
    margin: 3.8rem 0 5rem;
}

.beautiful-info__txt-small {
    color: #fff;
    width: 60.4rem;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 12.1rem;
}

.beautiful-info__link {
    background-color: #fc588e;
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    line-height: 1;
    border-radius: 50%;
    width: 17.5rem;
    height: 17.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.figure__tit {
    color: #ffffff;
    font-size: 7.8rem;
    line-height: 1;
    margin-bottom: 5.8rem;
}

.figure__tit-emoji {
    width: 7.4rem;
}

.figure-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 14rem;
}

.figure-block {
    padding: 4.2rem 6.4rem;
    position: relative;
    border-radius: 1.5rem;
    box-sizing: border-box;
    max-height: 35.9rem;
    height: 35.9rem;
    width: 32.2%;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    backdrop-filter: blur(1.4rem);
    -webkit-backdrop-filter: blur(1.4rem);
}

.figure-block:not(:nth-child(2)) {
    margin-right: 2.25rem;
}

.figure-block:last-child {
    margin-right: 0;
}

.figure-block__txt {
    min-height: 7.1rem;
    width: 21rem;
    color: #000000;
    font-size: 3.2rem;
    line-height: 1.1;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.figure-block__img {
    position: absolute;
    right: 0;
    top: 0;
}

.figure-block--blue {
    background-color: #c1e5fd;
    width: 66%;
    margin-bottom: 1.8rem;
}

.figure-block--blue .figure-block__img {
    top: 4.5rem;
    right: 9.2rem;
    width: 28.2rem;
}

.figure-block--green {
    background-color: #bdf4d6;
}

.figure-block--green .figure-block__img {
    width: 36.8rem;
}

.figure-block--green .figure-block__img--mob {
    display: none;
}

.figure-block--yellow {
    background-color: #feeacd;
}

.figure-block--yellow .figure-block__img {
    width: 22.2rem;
    top: auto;
    bottom: 0;
    right: -1.8rem;
}

.figure-block--pink {
    background-color: #fed8d8;
}

.figure-block--pink .figure-block__img {
    width: 29.1rem;
    top: 1.3rem;
    right: -2.4rem;
}

.figure-block--violet {
    background-color: #d5d5f4;
}

.figure-block--violet .figure-block__img {
    width: 35.4rem;
    top: auto;
    bottom: 0;
    right: -4.4rem;
}

.figure-block__hover {
    transition: .3s all ease;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(218, 239, 254, 0.6);
    backdrop-filter: blur(1.4rem);
    border-radius: 1.5rem;
    left: 0;
    top: 0;
    z-index: 10;
    padding: 4rem 5.5rem 5.5rem;
    box-sizing: border-box;
    opacity: 0;
    display: flex;
    align-items: center;
    -webkit-backdrop-filter: blur(1.4rem);
}

.figure-block__hover-txt {
    color: #000000;
    font-size: 2.4rem;
    max-width: 68.6rem;
    line-height: 1.5;
}

.figure-block:hover .figure-block__hover,
.figure-block--active .figure-block__hover {
    opacity: 1;
}

.program {
    margin-bottom: 12rem;
    overflow: hidden;
}

.program-info {
    display: flex;
}

.program-info__tit {
    font-size: 5.8rem;
    color: #fff;
    width: 87.9rem;
    line-height: 1;
    margin-bottom: 4rem;
}

.program-info__tit-emoji {
    width: 7.3rem;
    right: -0.3rem;
    top: -1rem;
    position: relative;
}

.program-info__txt {
    font-size: 4rem;
    color: #1eb8d2;
    line-height: 1;
    margin: 2.6rem 0 8.4rem;
}

.program-info__left {
    max-width: 68rem;
}

.program__img {
    max-width: 100%;
    height: 85rem;
}

.program-info__imgs {
    position: relative;
    min-width: 55.5rem;
    min-height: 74.6rem;
    background: url("../images/program_bg.png") no-repeat;
    background-size: contain;
    margin: -10rem 0 0 15.4rem;
}

.program-info__img {
    opacity: 0;
    position: absolute;
    top: -13rem;
    left: 0;
    transition: .3s all ease;
}

.program-info__img--2 {
    top: -7rem;
    left: 0;
}

.program-info__img--2 .program__img {
    max-width: 110%;
    height: 80rem;
}

.program-info__img--3 {
    top: -15.4rem;
    left: 7rem;
}

.program-info__img--active {
    opacity: 1;
}

.program-info__fits {
    margin-bottom: 8.4rem;
    width: 100%;
}

.program-info__fits-button {
    font-size: 4rem;
    color: #ffffff;
    line-height: 1.1;
    transition: .3s all ease;
    display: block;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
}

.program-info__fits-button p {
    transition: .3s all ease;
}

.program-info__fits-button--active p {
    color: #929194;
    transform: translate(5rem, 0);
    transition: .3s all ease;
}

.program-info__fits-button:not(:last-child) {
    padding-bottom: 5.5rem;
    margin-bottom: 4.5rem;
    border-bottom: 1px solid #e3e2e3;
}

.marafon {
    padding: 8.2rem 0 8rem;
    background-color: rgba(0, 0, 0, 0.28);
    margin-bottom: 12.7rem;
}

.marafon__tit {
    color: #fff;
    line-height: 1.2;
    font-size: 5.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.marafon__txt {
    font-size: 2.4rem;
    color: #929194;
    text-align: center;
    margin-bottom: 5rem;
}

.marafon-block {
    text-align: center;
}

.marafon-block__img {
    display: none;
}

.marafon-block__img--active {
    display: block;
}

.marafon__img {
    width: 81.7rem;
    margin-bottom: 5.5rem;
}

.marafon-buttons {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.marafon-button {
    background: none;
    padding: 0;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 3.6rem;
    position: relative;
    transition: .3s all ease;
}

.marafon-button:not(:last-child) {
    margin-right: 10.2rem;
}

.marafon-button--active {
    color: #fff;
    position: relative;
}

.marafon-button--active::after {
    content: "";
    position: absolute;
    width: 7.7rem;
    height: 7.7rem;
    background-color: #ffffff;
    bottom: -11rem;
    left: 50%;
    transform: translate(-50%, 0) rotate(135deg);
}

.marafon-button:hover {
    color: #fff;
}

.marafon-txts {
    background: #fff;
    padding: 3.5rem 5.3rem 3.5rem 6.6rem;
    border-radius: 3.1rem;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    box-sizing: border-box;
    display: none;
}

.marafon-txts--active {
    display: block;
}

.marafon-txt {
    font-size: 2.4rem;
    color: #000000;
    line-height: 1.5;
    text-align: left;
}

.results__tit--mob {
    display: none;
}

.results-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12.9rem;
}

.results__tit {
    color: #ffffff;
    font-size: 7.8rem;
    line-height: 1;
}

.results__tit-emoji {
    width: 7.5rem;
    position: relative;
    bottom: 1rem;
    right: 1rem;
}

.results-buttons {
    display: flex;
    align-items: center;
}

.results-buttons--mob {
    display: none;
}

.results-button {
    background: none;
    border: 1px solid #1eb8d2;
    border-radius: 50%;
    padding: 0;
    width: 11rem;
    height: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s all ease;
}

.results-button--right {
    transform: rotate(180deg);
}

.results-button__icon {
    width: 5rem;
    height: 1.6rem;
    transition: .3s all ease;
}

.results-button__icon path {
    fill: #1eb8d2;
    stroke: #1eb8d2;
}

.results-button:hover {
    background-color: #1eb8d2;
}

.results-button:hover .results-button__icon path {
    fill: #fff;
    stroke: #fff;
}

.slider__counter {
    color: #ffffff;
    font-size: 3rem;
    margin: 0 4rem 0 1.8rem;
    font-weight: 400;
    mix-blend-mode: difference;
    pointer-events: none;
}

.slider__counter-start {
    min-width: 3.3rem;
    display: inline-flex;
    justify-content: flex-end;
}

.results-blocks {
    display: flex;
    margin-bottom: 17.5rem;
}

.results-block {
    width: 27rem;
}

.results-block__img {
    max-width: 100%;
    margin-bottom: 2.2rem;
}

.results-block__txts {
    display: flex;
    justify-content: space-between;
}

.results-block__txt {
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
}

.results-block:not(:last-child) {
    margin-right: .8rem;
}

.diet {
    position: relative;
    overflow: hidden;
}

.diet-blocks {
    display: flex;
    margin: 0 auto 7.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 11.8rem 0 10.7rem;
}

.diet-block {
    margin: 1.4rem 0 0 0;
}

.diet__title {
    width: 68.2rem;
    color: #ffffff;
    font-size: 6.8rem;
    font-weight: 400;
    line-height: 1;
}

.diet-block__aftor {
    color: #1eb8d2;
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.28;
    margin: 4rem 0 3rem;
}

.diet-block__txt {
    width: 60.4rem;
    color: rgba(255, 255, 255, 0.4);
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.diet-photo {
    position: relative;
}

.diet-photo__img {
    width: 55rem;
    margin-right: 12rem;
}

.diet-photo__leaf {
    position: absolute;
    width: 14.9rem;
    bottom: 16rem;
    left: -8rem;
}

.diet-photo__icon {
    width: 53.2rem;
    position: absolute;
    bottom: 0;
    right: -25rem;
}

.faq {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21.3rem;
}

.faq__tit {
    color: #ffffff;
    font-size: 7.8rem;
}

.faq-blocks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 68rem;
}

.faq-block {
    width: 100%;
}

.faq-block:not(:last-child) {
    border-bottom: 1px solid rgba(196, 196, 196, 0.2);
    padding-bottom: 2.4rem;
    margin-bottom: 2.5rem;
}

.faq-block__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.28;
    cursor: pointer;
    z-index: 2;
}

.faq-block__title-icon {
    width: 3.4rem;
    height: 3.4rem;
    cursor: pointer;
    z-index: 2;
    flex-shrink: 0;
    background: url("../icons/2021/faq_icon.svg") no-repeat;
    background-size: cover;
    margin-left: 3rem;
}

.faq-block__title-icon--active {
    background-image: url("../icons/2021/faq_icon_minus.svg");
}

.faq-block__active {
    display: none;
}

.faq-block__active--db {
    display: block;
}

.faq-block__txt {
    color: #cbcbcb;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    width: 60rem;
    margin-top: 3.4rem;
    margin: 3.4rem 0 2rem;
}

.wadein__tit {
    color: #ffffff;
    font-size: 7.8rem;
    line-height: 1;
    margin-bottom: 6.5rem;
}

.wadein__tit-emoji {
    width: 8.3rem;
    position: relative;
    right: 2rem;
    top: -1rem;
}

.wadein-buttons {
    display: flex;
    align-items: center;
    margin: 0 0 6rem 5.2rem;
}

.wadein-button {
    color: #ffffff;
    font-weight: 400;
    font-size: 2.8rem;
    background: none;
    border: none;
    padding: 0;
}

.wadein-button:not(:last-child) {
    margin-right: 11.5rem;
}

.wadein-button--active {
    position: relative;
}

.wadein-button--active::after {
    border: .2rem solid #1eb8d2;
    content: "";
    width: 22.3rem;
    height: 7.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.8rem;
}

.wadein-info {
    border: .3rem solid #fc588e;
    border-radius: 4.5rem;
    padding: 4.8rem 12.8rem 6.8rem 11.7rem;
    margin-bottom: 22.7rem;
}

.wadein-info__list {
    color: #ffffff;
    font-size: 2.8rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
    padding-bottom: 6rem;
    margin-bottom: 4.1rem;
    list-style-image: url("../icons/2021/check_info.svg");
    padding-left: 2.7rem;
}

.wadein-info__item {
    padding-left: 2.1rem;
}

.wadein-info__item:not(:last-child) {
    margin-bottom: 2.2rem;
}

.wadein-prize__block:not(:last-child) {
    margin-bottom: 0.8rem;
}

.wadein-prize__label {
    display: flex;
    align-items: center;
}

.wadein-prize__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.wadein-prize__txt {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 2.8rem;
    font-weight: 400;
    color: #fff;
}

.wadein-prize__txt span {
    color: #1eb8d2;
    margin-left: .6rem;
}

.wadein-prize__txt::before {
    content: '';
    display: none;
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(255, 255, 255, 0.37);
    margin-right: 4.3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110% 50%;
    border-radius: 50%;
}

.wadein-prize__label > .wadein-prize__checkbox:checked + .wadein-prize__txt::before {
    /* background-image: url("../icons/2021/circe_priee.svg");*/
    background-position: center;
}

.wadein-prize__img {
    width: 16.3rem;
    margin-left: 3.5rem;
}

.button__wadein {
    width: 43.8rem;
    padding: 2.6rem 4.9rem;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.button__less {
    background: none;
    border: .2rem solid #fc588e;
    width: 43.8rem;
    padding: 2.6rem 4.9rem;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #1a1c22;
    padding: 3.2rem 6.3rem 3.9rem 4.9rem;
}

.footer__txt {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.42px;
    line-height: 1.5;
}

.footer__link {
    color: #1eb8d2;
    text-decoration: none;
}

@media (max-width: 768px) {
    .header {
        overflow: hidden;
    }

    .header__menu {
        padding: 1.7rem 2.1rem;
        margin-bottom: 1.4rem;
    }

    .header__link {
        margin-right: 1.4rem;
        font-size: 1.6rem;
        letter-spacing: -.01rem;
    }

    .container {
        padding: 0 1.5rem 0 2.1rem;
    }

    .price {
        flex-direction: column-reverse;
        align-items: center;
        margin-right: 2.3rem;
    }

    .price__txt--blue {
        margin-left: 0;
        font-size: 2.9rem;
        white-space: nowrap;
    }

    .button__mob {
        padding: 2rem 1.4rem;
        font-size: 1.6rem;
    }

    .price__button--wadein {
        flex-direction: column;
        align-items: flex-start;
    }

    .price--less {
        margin-right: .9rem;
    }

    .price__button--header {
        margin-top: 2rem;
    }

    .price__button--less {
        margin-top: 4rem;
    }

    .button__less {
        width: 20.5rem;
        padding: 1.9rem 1rem 2rem;
    }

    .header__txt {
        font-size: 2rem;
        text-align: left;
        line-height: 1.2;
    }

    .header__txt-emoji {
        width: 2.3rem;
        position: relative;
        top: -.6rem;
        right: .9rem;
    }

    .header__txt br {
        display: block;
    }

    .header__title {
        font-size: 5rem;
        width: 35.3rem;
        margin: .6rem 0 34.3rem;
    }

    .header__txt--mob {
        font-size: 2.4rem;
        text-align: center;
        z-index: 2;
        position: relative;
    }

    .header__img {
        width: 39.2rem;
        position: absolute;
        top: 13rem;
        right: -1.9rem;
    }

    .prizes {
        padding: 7.2rem 0 37.3rem;
    }

    .prizes-info__tit {
        font-size: 3.2rem;
        width: 34.8rem;
        line-height: 1.1;
        margin-bottom: 1.7rem;
    }

    .prizes-info__tit-emoji {
        width: 3.2rem;
    }

    .prizes-info__txt {
        font-size: 2rem;
        margin-bottom: 50rem;
    }

    .prizes-info__arrows {
        justify-content: center;
    }

    .prize {
        width: 43rem;
        height: 43rem;
        right: -21.5rem;
        top: 28.6rem;
    }

    .prize__cash {
        width: 6rem;
        top: -3.5rem;
        right: 21.2rem;
    }

    .prize__circle {
        display: none;
    }

    .prize__mazda {
        width: 37.3rem;
        top: -.5rem;
        left: -15.5rem;
    }

    .prize__cooper {
        width: 32.4rem;
        top: 19.5rem;
        left: -15rem;
    }

    .prize__phone {
        position: absolute;
        width: 8.9rem;
        bottom: -2rem;
        left: 11rem;
    }

    .prizes-info__arrow-icon {
        display: block;
        width: 3.2rem;
        height: 1.5rem;
    }

    .prizes-info__arrow--right {
        margin-left: 0;
    }

    .prize-guarant {
        margin: -32.6rem 0 0;
    }

    .prize-guarant__tit {
        font-size: 3.2rem;
        width: 33rem;
        line-height: 1.1;
    }

    .prize-guarant__tit-emoji {
        top: -.5rem;
        width: 3rem;
    }

    .prize-guarant__txt {
        font-size: 2rem;
        margin: 1.9rem 0 3rem;
    }

    .prize-guarant__txt-small {
        font-size: 1.4rem;
        text-align: center;
    }

    .prize-guarant__prizes {
        flex-direction: column;
        align-items: center;
        margin-top: 3.7rem;
    }

    .prize-guarant__prize-txt {
        font-size: 1.8rem;
        margin-top: 1.3rem;
        text-align: center;
    }

    .prize-guarant__prize-txt--mt {
        margin-top: 1.3rem;
    }

    .prize-guarant__prize:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2.7rem;
    }

    .prize-guarant__prize-img {
        width: 20.8rem;
        min-height: 16.2rem;
    }

    .beautiful {
        flex-direction: column-reverse;
        position: relative;
        margin-bottom: 14.2rem;
    }

    .beautiful-info {
        margin-top: 5.1rem;
    }

    .beautiful-info__tit {
        font-size: 3.2rem;
        width: 33.3rem;
        line-height: 1.2;
    }

    .beautiful-info__tit-emoji {
        width: 3rem;
        position: relative;
        top: -.5rem;
        left: -0.8rem;
    }

    .beautiful-info__txt {
        font-size: 2rem;
        margin: 1rem 0 1.8rem;
    }

    .beautiful-info__txt-small {
        font-size: 1.6rem;
        width: 33.2rem;
        margin-bottom: 0;
    }

    .beautiful-info__link {
        margin-right: 0;
        position: absolute;
        bottom: -12rem;
    }

    .beautiful__img {
        width: 104%;
        margin-right: 0;
        position: relative;
        right: 1.4rem;
        margin-bottom: 1.3rem;
    }

    .figure__tit {
        font-size: 3.2rem;
        line-height: 1.2;
        width: 35.1rem;
        margin-bottom: 3.9rem;
    }

    .figure__tit-emoji {
        width: 3rem;
        position: relative;
        top: -.4rem;
        right: 0rem;
    }

    .figure-blocks {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 3.1rem;
    }

    .figure-block {
        width: 100%;
        height: 9.8rem;
        padding: 2.9rem 2.3rem 2.4rem;
    }

    .figure-block__hover {
        padding: 1rem 1.5rem;
    }

    .figure-block__hover-txt {
        font-size: 1.4rem;
        width: 100%;
        line-height: 1.15;
    }

    .figure-block__txt {
        font-size: 2rem;
        min-height: 4.4rem;
        width: 19rem;
    }

    .figure-block--blue .figure-block__img {
        width: 7.4rem;
        top: 1.5rem;
        right: 3rem;
    }

    .figure-block:not(:last-child) {
        margin-bottom: 1rem;
    }

    .figure-block--green {
        order: 1;
    }

    .figure-block--violet {
        order: 1;
        padding-bottom: 1.4rem;
    }

    .figure-block--yellow .figure-block__img {
        bottom: 0;
        right: 2.8rem;
        width: 7rem;
    }

    .figure-block--pink .figure-block__img {
        width: 12.1rem;
        top: -.4rem;
        right: .7rem;
    }

    .figure-block--green .figure-block__img {
        width: 14rem;
        top: auto;
        bottom: 0;
        right: .8rem;
    }

    .figure-block--violet .figure-block__img {
        width: 10.4rem;
        top: auto;
        bottom: 0;
        right: 2rem;
    }

    .figure-block:not(:nth-child(2)) {
        margin-right: 0;
    }

    .program {
        margin-bottom: 5.1rem;
    }

    .program-info__tit {
        font-size: 3.3rem;
        width: 33.5rem;
        line-height: 1.2;
        margin-bottom: 0;
    }

    .program-info__tit-emoji {
        width: 3.4rem;
        top: -.8rem;
        right: .5rem;
    }

    .program-info__txt {
        font-size: 2rem;
        margin: 1rem 0 0;
    }

    .program-info {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .program-info__imgs {
        background-image: url('../images/program_bgmob.png');
        margin-left: 0;
        min-width: 32.9rem;
        min-height: 29rem;
        margin: 13rem auto 5.2rem;
    }

    .program-info__img {
        top: -6rem;
    }

    .program__img {
        max-width: 100%;
        height: 39.8rem;
    }

    .program-info__img--3 {
        top: -10.8rem;
    }

    .program-info__img--2 {
        top: -8rem;
    }

    .program-info__img--2 .program__img {
        height: 40.8rem;
    }

    .program-info__img:first-child {
        left: 6rem;
        top: -9rem;
    }

    .program-info__fits-button p {
        font-size: 2rem;
        line-height: 1.3;
    }

    .program-info__fits-button--active p {
        transform: translate(2.5rem, 0);
    }

    .program-info__fits-button:not(:last-child) {
        padding-bottom: 1.3rem;
        margin-bottom: 1.3rem;
    }

    .program-info__fits {
        margin-bottom: 3.4rem;
    }

    .marafon {
        overflow: hidden;
        padding-bottom: 3.5rem;
        margin-bottom: 4.2rem;
        padding-top: 2.7rem;
    }

    .marafon__tit {
        font-size: 2rem;
        width: 25rem;
        margin: 0 auto 2.7rem;
    }

    .marafon__txt {
        font-size: 1.4rem;
        letter-spacing: -.01rem;
        margin-bottom: 3.5rem;
    }

    .marafon__img {
        width: 34.4rem;
        margin-bottom: 2.5rem;
    }

    .marafon-buttons {
        overflow: auto;
        justify-content: flex-start;
        height: 8.6rem;
        margin-bottom: 0;
        overflow-y: hidden;
    }

    .marafon-button {
        font-size: 2rem;
    }

    .marafon-button:not(:last-child) {
        margin-right: .9rem;
    }

    .marafon-txts {
        padding: 2.5rem 1.1rem 3.1rem 1.4rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 1rem;
    }

    .marafon-txt {
        width: 30.8rem;
        font-size: 1.6rem;
        line-height: 1.4;
    }

    .marafon-txt span {
        width: 100%;
        margin-bottom: -.7rem;
        display: block;
    }

    .marafon-button--active::after {
        width: 5.4rem;
        height: 5.4rem;
        bottom: -5.2rem;
    }

    .results {
        display: flex;
        flex-direction: column-reverse;
    }

    .results-top {
        margin-bottom: 2.7rem;
    }

    .results__tit {
        font-size: 3.3rem;
        display: none;
    }

    .slider__counter {
        font-size: 2rem;
    }

    .results__tit--mob {
        display: block;
        margin-bottom: 2.7rem;
        order: 1;
        padding-left: 2.3rem;
    }

    .results__tit-emoji {
        width: 3rem;
        top: auto;
        bottom: 0.4rem;
        margin-left: .3rem;
    }

    .results-button {
        width: 6rem;
        height: 6rem;
    }

    .results-buttons--mob {
        display: flex;
        justify-content: center;
    }

    .results-button__icon {
        width: 3rem;
        height: 2rem;
    }

    .results-block__img {
        margin-bottom: 1.2rem;
    }

    .results-block__txts {
        padding: 0 .5rem;
        width: 100%;
        justify-content: flex-start;
    }

    .results-block__txt {
        font-size: 1.6rem;
        line-height: 1.2;
    }

    .slick-list {
        padding: 0 20px !important
    }

    .results-blocks {
        margin-bottom: 2rem;
    }

    .results-top {
        margin-bottom: 0;
    }

    .diet {
        margin-top: 2.4rem;
    }

    .diet__title {
        font-size: 3.3rem;
        width: 34.1rem;
        line-height: 1.1;
    }

    .diet-photo {
        margin: 0 auto;
    }

    .diet-photo__img {
        width: 20.7rem;
        margin-right: 0;
    }

    .diet-photo__leaf {
        width: 5.6rem;
        bottom: 3rem;
        left: -3rem;
    }

    .diet-blocks {
        flex-direction: column;
        padding: 4.4rem 0 4.6rem;
        margin-bottom: 4.8rem;
    }

    .diet-block {
        margin-top: 2.5rem;
    }

    .diet-block__aftor {
        font-size: 2rem;
        margin: 2.5rem 0 1.7rem;
    }

    .diet-block__txt {
        font-size: 1.6rem;
        width: 33.7rem;
        margin-bottom: 3.3rem;
    }

    .diet-photo__icon {
        display: none;
    }

    .faq {
        flex-direction: column;
        margin-bottom: 6.6rem;
    }

    .faq__tit {
        font-size: 3.3rem;
        margin-bottom: 2.9rem;
    }

    .faq-blocks {
        width: 100%;
    }

    .faq-block__title {
        font-size: 1.8rem;
    }

    .faq-block__title-icon {
        width: 2rem;
        height: 2rem;
    }

    .faq-block__txt {
        width: 100%;
    }

    .wadein__tit {
        font-size: 3.3rem;
        width: 22.9rem;
        margin-bottom: 4.4rem;
    }

    .wadein__tit-emoji {
        width: 3.3rem;
        right: 1rem;
        top: 0;
    }

    .wadein-buttons {
        margin: 0 0 4.2rem 2.2rem;
    }

    .wadein-button {
        font-size: 1.8rem;
    }

    .wadein-button--active::after {
        width: 12.1rem;
        height: 6rem;
        border-radius: 1.4rem;
    }

    .wadein-button:not(:last-child) {
        margin-right: 3.5rem;
    }

    .wadein-info {
        padding: 2.5rem 1.4rem 3.6rem;
        border-radius: 1.5rem;
        margin-bottom: 3.2rem;
    }

    .wadein-info__list {
        font-size: 1.8rem;
        padding: 0 0 4.1rem 2.5rem;
        width: 29.6rem;
        box-sizing: border-box;
        margin: 0 auto 2.3rem;
    }

    .wadein-info__item {
        padding-left: 1.4rem;
    }

    .wadein-info__item span {
        position: relative;
        top: -.4rem;
    }

    .wadein-info__item:not(:last-child) {
        margin-bottom: 2.5rem;
    }

    .wadein-prize__txt {
        font-size: 1.8rem;
        width: 29.9rem;
        line-height: 1.2;
        margin-bottom: 3.5rem;
        position: relative;
    }

    .wadein-prize__txt i {
        display: none;
    }

    .wadein-prize__img {
        position: absolute;
        position: absolute;
        top: 5rem;
        width: 16.3rem;
        right: 1rem;
    }

    .wadein-prize__txt::before {
        margin-right: 1.4rem;
        width: 2rem;
        height: 2rem;
    }

    .wadein-prize__block:not(:last-child) {
        margin-bottom: 3.4rem;
    }

    .button__wadein {
        width: 31.2rem;
        box-sizing: border-box;
        margin-left: -.35rem;
    }

    .popup__menu-links {
        padding: 0 1.5rem;
    }

    .popup__menu-link {
        font-size: 1.8rem;
    }

    .price--wadein {
        margin-bottom: 4.5rem;
        margin-right: 0;
    }

    .footer {
        flex-direction: column;
        padding: 2.5rem 2rem;
    }

    .footer__txt {
        font-size: 1.4rem;
    }

    .footer__txt--privacy {
        width: auto;
        margin-top: 1rem;
    }
}

.body__modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    display: none;
}

.body__modal._active {
    display: block;
}

.body__modalText {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.body__modalText._active {
    display: block;
}

[data-modal="contraindications"] .modalText__wrapper {
    height: auto;
}

[data-modal="contraindications"] .modalText__close {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    position: absolute;
    top: 8vh;
    left: 95%;
    z-index: 5;
    top: 5%;
}

@media screen and (max-width: 765px) {
    [data-modal="contraindications"] .modalText__close {
        left: 90%;
    }

    .modalText__close {
        top: 6rem;
    }

    .modalText__text {
        font-size: 2rem;
    }
}

.modalText {
    width: 100%;
    height: 100%;
    background: rgba(30, 184, 210, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modalText ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media screen and (max-width: 765px) {
    .modalText {
        align-items: flex-start;
        overflow-y: auto;
        padding-top: 0;
        padding-bottom: 3rem;
    }
}

.modalText__wrapper {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    z-index: 2;
    position: relative;
    padding: 4rem 5rem 2rem 5rem;
    overflow: auto;
    margin: 2rem 0;
}

@media screen and (max-width: 765px) {
    .modalText__wrapper {
        height: auto;
        padding: 3rem 4rem 2rem 2rem;
        margin: 0;
        height: 97vh;
    }
}

.modalText__close {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 5;
}

@media screen and (max-width: 765px) {

    .modalText__close {
        top: 3rem;
    }
}

.modalText__title {
    color: #000;
    font-size: 3.6rem;
    margin-bottom: 2rem;
    line-height: 1.4;
}

.modalText__subtitle {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    color: #000;
}

.modalText__text {
    font-size: 2.4rem;
    line-height: 1.4;
    color: #000;
    margin-bottom: 2rem;
}

.modalText__list {
    padding-left: 6rem;
}

@media screen and (max-width: 765px) {
    .modalText__title {
        font-size: 2.6rem;
    }

    .modalText__subtitle {
        font-size: 2.2rem;
    }

    ul.modalText__text {
        margin-left: 2rem;
    }
}

.payment__tit {
    font-size: 7.8rem;
    color: #fff;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 5.3rem;
    display: flex;
    align-items: center;
}

.payment__tit-emoji {
    width: 7rem;
}

.payment__txt {
    font-size: 2.8rem;
    color: #fff;
    line-height: 1.42;
    width: 110rem;
    margin-bottom: 5.3rem;
}

.prize__imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 13.5rem;
    align-items: flex-start;
}

.prize__img-payment:nth-child(1) {
    width: 37.3rem;
    margin: 0 16rem 8rem 0;
    position: relative;
    top: 2.4rem;
    right: 4rem;
}

.prize__img-payment:nth-child(2) {
    width: 40rem;
    margin: 0 15rem 8rem 0;
    position: relative;
    top: 2rem;
    right: 3.9rem;
}

.prize__img-payment:nth-child(3) {
    width: 23.3rem;
    margin-bottom: 8rem;
    position: relative;
    top: 0.4rem;
    right: 6rem;
}

.prize__img-payment:nth-child(4) {
    width: 23rem;
    position: relative;
    top: 2.3rem;
    left: 3rem;
}

.prize__img-payment:nth-child(5) {
    width: 28.7rem;
    position: relative;
    top: 2rem;
    right: 1rem;
}

.prize__img-payment:nth-child(6) {
    width: 26.2rem;
    position: relative;
    right: 7rem;
    top: 3.8rem;
    margin-right: -3rem;
}

.info-blocks__tit {
    font-size: 5.4rem;
    color: #fff;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 9.5rem;
}

.info-block {
    border: 1px solid #00D5D5;
    box-sizing: border-box;
    border-radius: 16rem;
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    padding: 0 11.5rem;
}

.info-block__left {
    display: flex;
    align-items: center;
}

.info-block:not(:last-child) {
    margin-bottom: 1rem;
}

.info-block__num {
    color: #1EB8D2;
    font-size: 3.6rem;
}

.info-block__emoji {
    width: 7.4rem;
    margin: 0 8.5rem;
}

.info-block__txt {
    font-size: 2.2rem;
    line-height: 1.36;
    color: #fff;
    width: 69rem;
}

.info-block__txt-link {
    color: #1EB8D2;
    text-decoration: none;
    display: block;
}

.next__tit {
    font-size: 5.4rem;
    color: #fff;
    margin: 10.1rem 0 7.6rem;
}

.next-blocks {
    display: flex;
    margin-bottom: 6rem;
}

.next-block {
    width: 55rem;
}

.next-block:not(:last-child) {
    margin-right: 13rem;
}

.next-block:last-child .next-block__txt {
    width: 47.2rem;
}

.next-block__icon {
    background: url("../icons/anket.svg") no-repeat;
    width: 11rem;
    height: 11rem;
    background-size: contain;
    display: block;
    margin-bottom: 3.8rem;
}

.next-block__icon--2 {
    background-image: url("../icons/start.svg");
}

.next-block__desc {
    font-size: 3.6rem;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 3rem;
    width: 53.1rem;
}

.next-block__txt {
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.6;
}

.access {
    background-color: rgba(0, 0, 0, 0.28);
    padding: 9rem 0 11rem;
    display: flex;
    align-items: center;
    margin: 7.4rem 0 10.1rem;
}

.access__img {
    width: 53rem;
    display: block;
    margin: 0 auto 3.8rem;
}

.access__desc {
    font-size: 5.4rem;
    color: #fff;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 5rem;
}

.access__link {
    color: #3760FB;
    font-size: 3.6rem;
    line-height: 1;
    text-decoration: none;
    border: .2rem solid #3760FB;
    border-radius: 1.8rem;
    padding: 1.6rem 17.3rem 1.7rem;
    margin-bottom: 3.7rem;
    display: inline-flex;
}

.access__txt {
    font-size: 3.6rem;
    color: #fff;
    font-weight: 400;
}

.access__txt:not(:last-child) {
    margin-bottom: 2.2rem;
}

.luck {
    display: flex;
    align-items: center;
    margin-bottom: 8.6rem;
}

.luck__txt {
    font-size: 5.4rem;
    color: #fff;
    line-height: 1.18;
    width: 67.9rem;
    margin-top: 7rem;
}

.luck__img {
    margin-right: 5.6rem;
    width: 62.3rem;
    position: relative;
    right: 3rem;
}

@media screen and (max-width: 768px) {
    .payment__tit {
        font-size: 3.2rem;
        margin: 3.3rem 0 1.8rem;
    }

    .payment__tit-emoji {
        width: 3.5rem;
    }

    .payment__txt {
        font-size: 1.6rem;
        width: 33.2rem;
    }

    .prize__imgs {
        justify-content: flex-start;
        margin-bottom: 6.7rem;
    }

    .prize__img-payment:nth-child(1) {
        width: 16rem;
        margin-right: 0.5rem;
        margin-bottom: 2.8rem;
        top: 0rem;
        right: 1.3rem;
        transform: scale(1.1);
    }

    .prize__img-payment:nth-child(2) {
        width: 16rem;
        margin-right: 0;
        margin-bottom: 2.8rem;
        position: inherit;
    }

    .prize__img-payment:nth-child(3) {
        width: 12.8rem;
        margin: 0 5rem 2.8rem 0rem;
        position: inherit;
    }

    .prize__img-payment:nth-child(4) {
        width: 11.9rem;
        order: 1;
        margin: 0 5rem 0 1rem;
        position: inherit;
    }

    .prize__img-payment:nth-child(5) {
        width: 15.1rem;
        order: 2;
        position: relative;
        top: -0.5rem;
        right: 0rem;
    }

    .prize__img-payment:nth-child(6) {
        width: 15.7rem;
        margin-bottom: 0.8rem;
        position: relative;
        top: 1.5rem;
        right: 2rem;
    }

    .info-blocks__tit {
        font-size: 2.6rem;
        margin-bottom: 3.2rem;
    }

    .info-block {
        flex-direction: column;
        height: 29rem;
        padding: 3rem 1.5rem 4.3rem 3.8rem;
        border-radius: 6rem;
        align-items: flex-start;
    }

    .info-block__emoji {
        margin: 0 0 0 7rem;
    }

    .info-block__txt {
        width: 100%;
        font-size: 1.6rem;
        line-height: 1.6;
    }

    .info-block__left {
        margin-bottom: 1.5rem;
    }

    .info-block__txt-link {
        display: inline-block;
    }

    .next__tit {
        margin: 5.3rem 0 4rem;
        font-size: 2.6rem;
    }

    .next-blocks {
        flex-direction: column;
        margin-bottom: 3.5rem;
    }

    .next-block {
        width: 100%;
    }

    .next-block:last-child .next-block__txt {
        width: 100%;
    }

    .next-block:not(:last-child) {
        margin-bottom: 4.5rem;
    }

    .next-block__top {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    .next-block__desc {
        font-size: 2rem;
        color: #fff;
        line-height: 1.1;
        margin-bottom: 0;
        width: 25rem;
    }

    .next-block__icon {
        width: 5.6rem;
        height: 5.6rem;
        margin-right: 2.6rem;
        margin-bottom: 0;
    }

    .next-block__txt {
        font-size: 1.6rem;
        color: #fff;
        line-height: 1.5;
        width: 32.5rem;
    }

    .button__payment {
        width: 100%;
    }

    .access {
        margin-top: 5.9rem;
        padding: 2rem 0 7rem;
        margin-bottom: 2.4rem;
    }

    .access__img {
        width: 33.9rem;
        margin-bottom: 5rem;
    }

    .access__desc {
        font-size: 2.6rem;
        width: 29.4rem;
        line-height: 1.2;
        margin-bottom: 2.4rem;
    }

    .access__link {
        font-size: 3.6rem;
        border-radius: 1.2rem;
        padding: 1.7rem 2.2rem 1.8rem;
        margin-bottom: 2.1rem;
        display: inline-flex;
        font-size: 2rem;
        width: 33.1rem;
        box-sizing: border-box;
    }

    .access__txt {
        font-size: 1.6rem;
        line-height: 1.3;
    }

    .luck {
        flex-direction: column;
    }

    .luck__block {
        overflow: hidden;
    }

    .luck__img {
        width: 39.1rem;
        margin-right: 0;
        margin-bottom: 4rem;
        right: 0;
    }

    .luck__txt {
        font-size: 2.6rem;
        width: 33.3rem;
    }
}

.popup__cosmetic {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    z-index: 30;
}

.popup__cosmetic-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #24222a;
    padding: 13.8rem 19.4rem 14.7rem;
    max-width: 128.6rem;
    box-sizing: border-box;
    top: 50%;
    position: relative;
    margin: 0 auto;
    transform: translate(0, -50%);
}

.popup__cosmetic-txt {
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.3;
}

.popup__cosmetic-txt:first-child {
    margin-bottom: 5rem;
}

.popup__cosmetic-buttons {
    margin-top: 5.1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.popup__cosmetic-button {
    background: none;
    border: 1px solid #FC588E;
    box-sizing: border-box;
    border-radius: 1.8rem;
    padding: 2.8rem 9rem;
    width: 21rem;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    transition: .3s all ease;
    text-decoration: none;
}

.popup__cosmetic-button:first-child {
    margin-right: 2rem;
}

.popup__cosmetic-button:hover {
    background: #FC588E;
}

@media screen and (max-width: 768px) {
    .popup__cosmetic-block {
        padding: 4.8rem 2.4rem 4.7rem;
    }

    .popup__cosmetic-txt {
        font-size: 1.8rem;
    }

    .popup__cosmetic-buttons {
        flex-direction: column;
    }

    .popup__cosmetic-button:first-child {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

.button, .beautiful-info__link {
    cursor: pointer
}